.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
button {
  background: transparent;
  border: none;
}
.btn1 {
  background: #ff1440;
  border-radius: 10px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 5px 0px 0px #a70b26;
  box-shadow: 0px 5px 0px 0px #a70b26;
  color: #fff;
  font-family: 'DIN-Alternate-Bold', sans-serif;
  font-size: 19px;
  position: relative;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  text-align: center;
  padding: 0 15px;
  display: block;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.btn1:hover {
  background: #ff7e00;
  -webkit-box-shadow: 0px 5px 0px 0px #bd5d00;
  box-shadow: 0px 5px 0px 0px #bd5d00;
}
