.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.title-general {
  font-family: 'DIN-Alternate-Bold', sans-serif;
  font-size: 17px;
  color: #898989;
  text-align: left;
  margin-left: 0.5%;
  display: inline-block;
}
.title-general2 {
  font-family: 'DIN-Alternate-Bold', sans-serif;
  font-size: 17px;
  color: #898989;
  text-align: left;
  margin-left: 0.5%;
  display: inline-block;
}
.gral-left {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 0.5%;
  line-height: 1;
  margin-bottom: 8px;
}
.gral-left h2 {
  margin-bottom: 0;
}
.gral-right {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  text-align: right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 1%;
  position: relative;
  line-height: 1;
  margin-bottom: 8px;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.gral-right:before {
  content: "\e903";
  font-family: 'icomoon';
  position: absolute;
  top: 1px;
  right: 7px;
  margin: auto;
  font-size: 16px;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  color: #898989;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
  z-index: 9;
}
.gral-right a {
  padding-right: 20px;
}
.gral-right:hover {
  -webkit-transform: translateX(-7px);
  -moz-transform: translateX(-7px);
  -o-transform: translateX(-7px);
  -ms-transform: translateX(-7px);
  transform: translateX(-7px);
}
.gral-right:hover:before {
  right: -5px;
}
