.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b1 {
  max-height: 800px;
  padding-top: 300px;
  padding-bottom: 150px;
  color: #fff;
  font-size: 0;
  background: url("../media/FONDO-HERO.jpg") center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-align: center;
  overflow: hidden;
}
.b1 .wancho {
  position: relative;
}
.b1 .wancho .b1-dolar {
  position: absolute;
}
.b1 .wancho .b1-dolar.uno {
  left: -170px;
  top: -280px;
  width: 210px;
}
.b1 .wancho .b1-dolar.dos {
  top: 169px;
  left: -220px;
}
.b1 .wancho .b1-dolar.tres {
  top: -159px;
  left: 470px;
  width: 430px;
}
.b1 .wancho .b1-dolar.cuatro {
  top: -300px;
  right: -70px;
  width: 710px;
}
.b1 .wancho .b1-dolar img {
  max-width: 100%;
  height: auto;
  display: block;
}
.b1-left {
  font-size: 16px;
  width: 50%;
  display: inline-block;
  vertical-align: top;
  padding-left: 10%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}
.b1-left h2 {
  font-family: 'DINNextLTPro-Light', sans-serif;
  font-size: 40px;
}
.b1-left h2 strong {
  font-family: 'DINNextLTPro-Bold', sans-serif;
}
.b1-left p {
  font-family: 'DINNextLTPro-Regular', sans-serif;
  font-size: 30px;
  position: relative;
  display: inline-block;
  width: 320px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 10px;
}
.b1-left span {
  font-size: 50px;
  position: absolute;
  left: -50px;
  bottom: -2px;
}
.b1-right {
  font-size: 16px;
  width: 50%;
  display: inline-block;
  vertical-align: top;
  padding-left: 6%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}
.b1-form {
  max-width: 400px;
  background: #fff;
  color: #585858;
  padding: 20px;
  border-radius: 10px;
}
.b1-form input,
.b1-form button,
.b1-form .b1-registrar {
  display: block;
  height: 50px;
  line-height: 50px;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
}
.b1-form input {
  background: #e4e5e5;
  padding-left: 15px;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 15px;
}
.b1-form button,
.b1-form .b1-registrar {
  background: #ff1440;
  border-radius: 10px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 5px 0px 0px #a70b26;
  box-shadow: 0px 5px 0px 0px #a70b26;
  color: #fff;
  font-family: 'DIN-Alternate-Bold', sans-serif;
  font-size: 19px;
  position: relative;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.b1-form button:before,
.b1-form .b1-registrar:before {
  content: "\e91a";
  font-family: 'icomoon';
  font-size: 28px;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.b1-form button:hover,
.b1-form .b1-registrar:hover {
  background: #ff7e00;
  -webkit-box-shadow: 0px 5px 0px 0px #bd5d00;
  box-shadow: 0px 5px 0px 0px #bd5d00;
}
.b1-form p {
  font-family: 'DINNextLTPro-Regular', sans-serif;
  margin-bottom: 0;
}
.b1-form a {
  color: #ff1440;
}
.b1-login {
  max-width: 250px;
  margin-left: 90px;
  margin-top: 15px;
  text-align: center;
  font-family: 'DINNextLTPro-Regular', sans-serif;
  font-size: 22px;
  line-height: 1;
}
.b1-login a {
  font-family: 'DINNextLTPro-Bold', sans-serif;
  text-decoration: underline;
}
@media screen and (max-width: 1080px) {
  .b1-left {
    padding-left: 0;
  }
}
@media screen and (max-width: 960px) {
  .b1 {
    padding-top: 150px;
    padding-bottom: 60px;
  }
  .b1-left {
    display: block;
    margin: auto;
    margin-bottom: 30px;
    width: 430px;
  }
  .b1-right {
    display: block;
    margin: auto;
    padding: 0;
    width: 430px;
  }
}
@media screen and (max-width: 600px) {
  .b1-left {
    max-width: 390px;
    width: 100%;
  }
  .b1-left h2 {
    font-size: 30px;
  }
  .b1-left p {
    font-size: 20px;
    width: 260px;
    padding-left: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .b1-left span {
    left: -2px;
  }
  .b1-right {
    max-width: 430px;
    width: 100%;
    font-size: 13px;
  }
  .b1-login {
    width: 100%;
    margin: auto;
    margin-top: 20px;
  }
}
