.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.contacto .b10 {
  background: url("../media/contacto.jpg") center center no-repeat;
}
.politica .b10 {
  background: url("../media/politica.jpg") center center no-repeat;
}
.somos .b10 {
  background: url("../media/quienes-somos.jpg") center center no-repeat;
}
.b10 {
  background: url("../media/politica.jpg") center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  height: 500px;
  width: 2000px;
  display: table-cell;
  vertical-align: bottom;
  padding-bottom: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b10 h1 {
/*fuentes*/
  font-size: 25px;
  color: #fff;
}
.b10 h1 strong {
  margin-top: 10px;
  display: block;
  font-size: 50px;
}
@media screen and (max-width: 1080px) {
  .b10 {
    height: 400px;
  }
}
@media screen and (max-width: 767px) {
  .b10 h1 {
    font-size: 20px;
  }
  .b10 h1 strong {
    font-size: 30px;
  }
}
@media screen and (max-width: 600px) {
  .b10 {
    height: 300px;
  }
}
