.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b11 {
  color: #9f9f9f;
  font-size: 0;
  margin-bottom: 70px;
}
.b11 .wancho {
  width: 75%;
  margin-top: 100px;
}
.b11-left,
.b11-right {
  display: inline-block;
  vertical-align: top;
  width: 35%;
  font-size: 16px;
}
.b11-right {
  width: 65%;
}
.b11-left p {
  margin-bottom: 20px;
}
.b11-title {
  color: #0056ff;
  font-size: 20px;
  margin-bottom: 30px;
}
.b11-redes {
  margin-top: 30px;
}
.b11-redes p {
  margin-bottom: 0;
}
.b11-redes span {
  margin-right: 10px;
  display: inline-block;
}
.b11-redes a {
  display: inline-block;
  margin: 0 3px;
}
.b11-redes a:before {
  color: #9f9f9f;
}
.b11-right {
  text-align: right;
}
.b11-right button {
  padding: 0 60px;
  display: inline-block;
}
.b11-right input {
  width: 100%;
  height: 40px;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 30px;
  border-radius: 3px;
  border: 1px solid #808080;
}
.b11-form1 p,
.b11-form2 p {
  text-align: left;
  display: block;
}
.b11-form1 .b11-dudas,
.b11-form2 .b11-dudas {
  margin-bottom: 35px;
}
.b11-form1 {
  margin-bottom: 60px;
}
@media screen and (max-width: 1200px) {
  .b11 .wancho {
    width: 90%;
  }
}
@media screen and (max-width: 960px) {
  .b11 .wancho {
    width: 94%;
  }
  .b11-left {
    width: 40%;
  }
  .b11-right {
    width: 60%;
  }
}
@media screen and (max-width: 767px) {
  .b11 .wancho {
    margin-top: 60px;
    width: 94%;
  }
  .b11-left {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #808080;
  }
  .b11-right {
    width: 100%;
    text-align: center;
  }
}
.b11-login {
  width: 100%;
  margin: auto;
  padding: 100px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}
.b11-login .b11-form2 {
  max-width: 400px;
}
.b11-login .b11-form2 button {
  margin-bottom: 30px;
  width: 100%;
}
.b11-login .b11-form2 a {
  display: block;
  color: #00f;
  margin-top: 10px;
}
.b11-login .b11-form2 .b11-sesion {
  color: #fff;
}
.b11-login input {
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .b11-login {
    padding: 50px 0;
  }
}
