.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b12 {
  color: #383434;
  font-size: 0;
  margin-bottom: 70px;
}
.b12 .wancho {
  width: 80%;
  margin-top: 100px;
}
.b12-left,
.b12-right {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  font-size: 16px;
}
.b12-right {
  width: 70%;
}
.b12-left p {
  margin-bottom: 20px;
}
.b12-title {
  color: #0056ff;
  font-size: 20px;
  margin-bottom: 30px;
}
.b12-redes {
  margin-top: 30px;
}
.b12-redes p {
  margin-bottom: 0;
}
.b12-redes span {
  margin-right: 10px;
  display: inline-block;
}
.b12-redes a {
  display: inline-block;
  margin: 0 3px;
}
.b12-redes a:before {
  color: #383434;
}
.b12-right {
  text-align: right;
}
.b12-right button {
  padding: 0 60px;
}
.b12-right input {
  width: 100%;
  height: 40px;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 30px;
  border-radius: 3px;
  border: 1px solid #808080;
}
.b12-form1 p,
.b12-form2 p {
  text-align: left;
  display: block;
}
.b12-form1 .b12-dudas,
.b12-form2 .b12-dudas {
  margin-bottom: 35px;
}
.b12-form1 {
  margin-bottom: 60px;
}
@media screen and (max-width: 960px) {
  .b12 .wancho {
    width: 87%;
  }
  .b12-left {
    width: 40%;
  }
  .b12-right {
    width: 60%;
  }
}
@media screen and (max-width: 767px) {
  .b12 .wancho {
    margin-top: 60px;
    width: 94%;
  }
  .b12-left {
    width: 100%;
    text-align: center;
  }
  .b12-right {
    width: 100%;
    text-align: center;
  }
}
