.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b13 {
  margin-top: 70px;
}
.b13 .b8-box h4 a {
  display: block;
  margin-left: 0;
  color: #ff1440;
  padding-left: 0;
  width: 100%;
}
.b13 li {
  margin-bottom: 10px;
}
.b13 li:after,
.b13 li:before {
  display: none;
}
.b13 li strong {
  margin-left: 20px;
  display: inline-block;
  margin-right: 40px;
}
.b13 .b13-img,
.b13 p,
.b13 a {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
}
.b13 .b8-box ul {
  margin-left: 50px;
  margin-top: 50px;
}
.b13 .b8-box ul li p {
  padding: 0;
  width: 40%;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b13 .b8-box a {
  color: #fff;
  font-size: 16px;
  padding: 0 40px;
  width: 12%;
}
.b13 .b6-alerta {
  display: block;
  text-align: center;
  margin-bottom: 50px;
}
.b13-img {
  position: relative;
  padding-right: 20px;
  width: 30%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b13-img img {
  max-width: 100%;
  height: auto;
  display: block;
}
@media screen and (max-width: 1100px) {
  .b13 .b8-box ul {
    margin-left: 0;
  }
}
@media screen and (max-width: 768px) {
  .b13 .b8-box {
    padding-left: 0;
  }
  .b13 .b8-box h4 {
    padding-left: 100px;
  }
  .b13 .b8-box a {
    height: 40px;
    line-height: 40px;
    width: 11%;
    font-size: 15px;
  }
  .b13 .b8-box ul li p {
    width: 42%;
    padding-left: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .b13 .b8-box ul li strong {
    margin-right: 0;
  }
  .b13-img {
    padding-right: 0;
  }
}
@media screen and (max-width: 600px) {
  .b13 {
    margin-top: 120px;
  }
  .b13 .b8-box h4 {
    padding-left: 0;
  }
  .b13 .b8-box ul {
    text-align: center;
  }
  .b13 .b8-box ul li p {
    width: 45%;
  }
  .b13 .b8-box a {
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 30%;
  }
  .b13 .b13-img {
    width: 45%;
  }
}
