.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b16 {
  background: url("../media/solicitud.jpg") center center no-repeat;
  height: 750px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.b16 .btn1 {
  width: 50%;
}
.b16-text {
  display: table-cell;
  vertical-align: middle;
  height: 750px;
  width: 2000px;
}
.b16-text .b16-container {
  width: 450px;
  text-align: center;
}
.b16-text .b16-container h1 {
  font-size: 35px;
  margin-bottom: 15px;
}
.b16-text .b16-container p {
  font-size: 22px;
}
@media screen and (max-width: 767px) {
  .b16 {
    background-position: -645px -89px;
  }
  .b16-text .b16-container {
    width: 100%;
    color: #fff;
  }
}
@media screen and (max-width: 600px) {
  .b16 {
    background-position: -900px -89px;
  }
  .b16 .btn1 {
    width: 70%;
  }
  .b16-text .b16-container {
    width: 100%;
    color: #fff;
  }
}
