.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b17 {
  font-size: 0;
  text-align: center;
  margin-top: -70px;
}
.b17 .btn1 {
  margin: auto;
  margin-top: 40px;
  width: 200px;
  margin-bottom: 40px;
}
.b17 .b17-border {
  padding: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1.1px solid #c3c2c2;
  margin-bottom: 40px;
  background: #fff;
}
.b17 .wancho {
  max-width: 1100px;
}
.b17 .b17-terminos {
  font-size: 15px;
  text-align: left;
  margin-bottom: 50px;
}
.b17.mtnone {
  margin: 30px 0;
}
.b17.mtnone p {
  margin-bottom: 0;
}
.b17-left,
.b17-right {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  font-size: 19px;
  font-family: 'DINNextLTPro-Light', sans-serif;
}
.b17-left .input,
.b17-right .input {
  width: 40px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 2%;
  border: 1.1px solid #c3c2c2;
  border-radius: 3px;
}
.b17-left p,
.b17-right p {
  display: block;
  margin-bottom: 20px;
}
.b17-left {
  border-right: 1.1px solid #c3c2c2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b17-left-box {
  text-align: center;
}
.b17-left-box strong {
  font-size: 40px;
  font-family: 'DINNextLTPro-Bold', sans-serif;
  margin-bottom: 5px;
  display: inline-block;
}
.b17-left-box .b17-celular {
  margin-top: 20px;
  font-size: 14px;
  color: #ff1440;
}
.b17-left-box .b17-celular a {
  text-decoration: underline;
  font-family: 'DIN-Alternate-Bold', sans-serif;
}
.b17-right-box {
  padding-left: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b17-right-figure {
  margin-top: 20px;
}
.b17-right-figure img {
  max-width: 100%;
  height: auto;
  display: block;
}
@media screen and (max-width: 960px) {
  .b17 {
    margin-top: -120px;
  }
  .b17 .b17-border {
    padding: 15px;
    padding-top: 30px;
  }
  .b17-left,
  .b17-right {
    font-size: 17px;
  }
}
@media screen and (max-width: 767px) {
  .b17-left,
  .b17-right {
    width: 100%;
    font-size: 15px;
  }
  .b17-left p,
  .b17-right p {
    margin-bottom: 10px;
  }
  .b17-left {
    border-right: none;
    border-bottom: 1.1px solid #c3c2c2;
    margin-bottom: 20px;
  }
  .b17-left-box strong {
    font-size: 30px;
  }
  .b17.mtnone {
    margin-top: -50px;
  }
}
