.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b19 {
  background: #0056ff;
  text-align: center;
  font-family: 'DINNextLTPro-Light', sans-serif;
  font-size: 32px;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 40px;
}
.b19 p {
  margin-top: 20px;
}
.b19 strong {
  font-family: 'DINNextLTPro-Medium', sans-serif;
  display: inline-block;
}
.b19 span {
  font-size: 20px;
  font-family: 'DINNextLTPro-Regular', sans-serif;
}
.b19 .btn1 {
  width: 130px;
}
.b19-icono {
  font-size: 80px;
}
@media screen and (max-width: 600px) {
  .b19 {
    font-size: 25px;
    margin-top: 90px;
  }
  .b19 strong {
    margin-top: 0px;
  }
  .b19 span {
    font-size: 17px;
  }
  .b19-icono {
    font-size: 60px;
  }
}
.b19-2 {
  margin-top: 50px;
  color: #fff;
  font-family: 'DINNextLTPro-Regular', sans-serif;
}
.b19-2 .b20-monto {
  font-size: 18px;
/* WebKit */
/* Firefox 18- */
/* Firefox 19+ */
/* IE 10+ */
}
.b19-2 .b20-monto ::-webkit-input-placeholder {
  color: #fff;
  font-family: 'DINNextLTPro-Regular', sans-serif;
}
.b19-2 .b20-monto :-moz-placeholder {
  color: #fff;
  font-family: 'DINNextLTPro-Regular', sans-serif;
}
.b19-2 .b20-monto ::-moz-placeholder {
  color: #fff;
  font-family: 'DINNextLTPro-Regular', sans-serif;
}
.b19-2 .b20-monto :-ms-input-placeholder {
  color: #fff;
  font-family: 'DINNextLTPro-Regular', sans-serif;
}
.b19-2 .b20-monto .b19-input {
  display: block;
  margin: auto;
  margin-top: 20px;
}
.b19-2 p {
  display: block;
}
.b19-2 input,
.b19-2 select {
  text-align: center;
  height: 40px;
  line-height: 40px;
  border: 1px solid #fff;
  border-radius: 3px;
  width: 200px;
  display: inline-block;
  vertical-align: middle;
  background: transparent;
  color: #fff;
}
.b19-2 select {
  margin-right: 15px;
}
.b19-slider {
  width: 50%;
  margin: auto;
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
  vertical-align: middle;
}
.b19-slider .ui-slider {
  height: 5px;
}
.b19-slider .ui-slider-handle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ff7e00;
  border: none;
  top: -10px;
}
@media screen and (max-width: 600px) {
  .b19-2 {
    font-size: 25px;
    margin-top: 90px;
  }
}
@media screen and (max-width: 500px) {
  .b19-2 input,
  .b19-2 select {
    width: 100%;
    margin: 0;
    margin-top: 10px;
  }
}
