.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b2 {
  text-align: center;
  font-size: 0;
  padding: 150px 0;
  color: #0056ff;
}
.b2 p {
  font-family: 'Kalam-Regular', sans-serif;
  font-size: 32px;
  line-height: 1.1;
  max-width: 750px;
  margin: auto;
  margin-bottom: 10px;
}
.b2 h2 {
  font-family: 'DINNextLTPro-Medium', sans-serif;
  font-size: 35px;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
  margin-top: 20px;
}
.b2 a {
  display: inline-block;
  vertical-align: middle;
  width: 300px;
  margin-left: 10px;
}
.b2 a img {
  max-width: 100%;
  height: auto;
  display: block;
}
@media screen and (max-width: 600px) {
  .b2 {
    padding: 100px 0;
  }
  .b2 p {
    font-size: 19px;
  }
  .b2 h2 {
    font-size: 25px;
    margin-top: 10px;
  }
  .b2 a {
    width: 140px;
  }
}
