.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b20 {
  font-size: 27px;
  font-family: 'DINNextLTPro-Light', sans-serif;
  text-align: center;
}
.b20 p {
  margin-bottom: 45px;
  margin-top: 60px;
}
.b20 hr {
  border: none;
  margin: 0;
}
.b20-content {
  text-align: left;
  max-width: 900px;
  margin: auto;
  margin-bottom: 50px;
}
.b20-figure {
  display: inline-block;
  width: 31%;
  vertical-align: middle;
  text-align: center;
  background: #f2f2f2;
  padding: 50px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0.5%;
  font-size: 20px;
  font-family: 'DINNextLTPro-Medium', sans-serif;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.b20-figure.active,
.b20-figure:hover {
  background: #0056ff;
  color: #fff;
}
.b20-figure.active a:before,
.b20-figure:hover a:before {
  color: #fff;
}
.b20-figure span {
  margin-bottom: 10px;
  display: inline-block;
}
.b20-figure span:before {
  font-size: 60px;
}
.b20-box-archivo {
  max-width: 370px;
  margin: auto;
  font-size: 17px;
  font-family: 'DINNextLTPro-Regular', sans-serif;
}
.b20-box-archivo .b20-archivo-p {
  margin: 0;
  margin-top: 10px;
}
.b20-archivo {
  border: 1px solid #808080;
  border-radius: 3px;
  padding: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b20-archivo input {
  width: 136px;
  border: 1px solid #808080;
  border-radius: 3px;
  background: transparent;
}
.b20-archivo input height 25pπx,
.b20-archivo input display inline-block,
.b20-archivo input line-height 28px,
.b20-archivo input span {
  color: #f00;
  margin-left: 15px;
  display: inline-block;
  margin-right: 30px;
}
.b20-btns {
  margin-top: 100px;
  margin-bottom: 80px;
}
.b20-btns .btn1,
.b20-btns .b20-btn {
  display: inline-block;
  vertical-align: middle;
  width: 200px;
}
.b20-btns .btn1 {
  background: #ff7e00;
  -webkit-box-shadow: 0px 5px 0px 0px #b85d04;
  box-shadow: 0px 5px 0px 0px #b85d04;
  margin-right: 40px;
}
.b20-btns .btn1:hover {
  -webkit-box-shadow: 0px 5px 0px 0px #ff7e00;
  box-shadow: 0px 5px 0px 0px #ff7e00;
}
.b20-btns .b20-btn {
  background: #ff1440;
  -webkit-box-shadow: 0px 5px 0px 0px #a70b26;
  box-shadow: 0px 5px 0px 0px #a70b26;
  margin-left: 40px;
  margin-right: 0;
}
.b20-btns .b20-btn:hover {
  -webkit-box-shadow: 0px 5px 0px 0px #ff1440;
  box-shadow: 0px 5px 0px 0px #ff1440;
}
@media screen and (max-width: 767px) {
  .b20 {
    font-size: 22px;
  }
  .b20-content hr {
    display: none;
  }
  .b20-figure {
    display: inline-block;
    width: 48%;
    font-size: 18px;
  }
}
@media screen and (max-width: 600px) {
  .b20-btns {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .b20-btns .btn1 {
    display: block;
    margin: auto;
    margin-top: 20px;
  }
}
@media screen and (max-width: 500px) {
  .b20 {
    font-size: 20px;
  }
  .b20 p {
    margin-top: 50px;
    margin-bottom: 25px;
  }
  .b20-figure {
    width: 100%;
    margin: 0;
    margin-bottom: 2%;
  }
  .b20-archivo {
    font-size: 20px;
  }
  .b20-archivo span {
    margin: auto;
    margin-top: 6px;
    display: block;
  }
}
