.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b3 {
  text-align: center;
  font-size: 0;
  background: #0056ff;
  padding: 40px 0;
  padding-bottom: 80px;
  color: #fff;
}
.b3.b3-solicitud {
  margin-bottom: 20px;
}
.b3.b3-solicitud-finalizar {
  margin-bottom: 30px;
}
.b3.b3-solicitud-finalizar .b3-title strong {
  display: block;
}
.b3.b3-solicitud-finalizar .b3-title a {
  padding: 0 45px;
  display: inline-block;
}
.b3-title {
  font-family: 'DINNextLTPro-Light', sans-serif;
  font-size: 28px;
  margin-bottom: 40px;
  line-height: 1.1;
}
.b3-title strong {
  font-family: 'DINNextLTPro-Medium', sans-serif;
}
.b3-title p {
  font-size: 19px;
  font-family: 'DINNextLTPro-Light', sans-serif;
  margin-top: 10px;
  display: block;
}
.b3-item-box {
  color: #fff;
  font-size: 19px;
  width: 20%;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.b3-item-box .b3-item {
  -webkit-transform: translateY(60px);
  -moz-transform: translateY(60px);
  -o-transform: translateY(60px);
  -ms-transform: translateY(60px);
  transform: translateY(60px);
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.b3-item-box h4 {
  font-family: 'DIN-Alternate', sans-serif;
}
.b3-item-box p {
  font-size: 16px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  visibility: hidden;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
  margin: 18px 40px;
}
.b3-item-box a {
  margin: 0 40px;
  height: 40px;
  line-height: 40px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  visibility: hidden;
}
.b3-item-box:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 1px;
  height: 100%;
  background: #fff;
}
.b3-item-box:last-child:before {
  display: none;
}
.b3-item-box:hover .b3-item {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -o-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}
.b3-item-box:hover p,
.b3-item-box:hover a {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  visibility: visible;
}
.b3-icon {
  font-size: 50px;
  margin-bottom: 15px;
}
@media screen and (max-width: 1300px) {
  .b3-item-box p {
    margin: 18px 10px;
  }
  .b3-item-box a {
    font-size: 15px;
  }
}
@media screen and (max-width: 1024px) {
  .b3-item-box {
    -webkit-transform: inherit;
    -moz-transform: inherit;
    -o-transform: inherit;
    -ms-transform: inherit;
    transform: inherit;
  }
  .b3-item-box p {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    visibility: visible;
  }
  .b3-item-box a {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    visibility: visible;
    margin: 0 20px;
  }
  .b3-item-box .b3-item {
    -webkit-transform: inherit;
    -moz-transform: inherit;
    -o-transform: inherit;
    -ms-transform: inherit;
    transform: inherit;
  }
}
@media screen and (max-width: 768px) {
  .b3-title {
    font-size: 20px;
  }
  .b3-title p {
    font-size: 15px;
    display: block;
  }
  .b3.b3-solicitud-finalizar a {
    font-size: 17px;
    padding: 0 30px;
    height: 45px;
    line-height: 45px;
  }
  .b3-item-box {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding-bottom: 20px;
  }
  .b3-item-box:before {
    top: inherit;
    left: 0;
    width: 100%;
    height: 1px;
  }
  .b3-item-box .b3-icon,
  .b3-item-box h4,
  .b3-item-box p,
  .b3-item-box a {
    display: inline-block;
    vertical-align: middle;
  }
  .b3-item-box .b3-icon {
    text-align: left;
    width: 60px;
  }
  .b3-item-box a {
    margin-top: -10px;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 600px) {
  .b3 {
    margin-top: 90px;
  }
  .b3-item-box a {
    padding: 0 50px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    border-radius: 6px;
  }
}
