.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b4 {
  font-size: 0;
  padding: 50px 0;
  background: #f3f3f3;
}
.b4 img {
  max-width: 100%;
  height: auto;
  display: block;
}
.b4 .swiper-container {
  padding: 0 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b4 .swiper-pagination {
  display: none;
}
.b4 .swiper-button-next,
.b4 .swiper-button-prev {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  background: none;
}
.b4 .swiper-button-next:before,
.b4 .swiper-button-prev:before {
  content: "\e606";
  font-family: 'icomoon';
  font-size: 50px;
}
.b4 .swiper-button-prev {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  background: none;
}
.b4 .swiper-button-prev:before {
  content: "\e607";
  font-family: 'icomoon';
  font-size: 50px;
}
