.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b6 {
  font-family: 'DINNextLTPro-Bold', sans-serif;
  color: #4e4f49;
  font-size: 40px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 50px;
}
.b6 h2 {
  font-family: 'DIN-Alternate-Bold', sans-serif;
  margin-bottom: 50px;
  font-size: 32px;
}
.b6 h2 strong {
  color: #0056ff;
}
.b6-items {
  font-size: 0;
}
.b6-item {
  display: inline-block;
  vertical-align: middle;
  width: 18%;
  margin: 0 1%;
}
.b6-item.active p {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.b6-item.active .btn {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.b6-figure {
  max-width: 185px;
  margin: auto;
  width: 145px;
  height: 145px;
  background: #0056ff;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.b6-figure span {
  color: #fff;
  font-size: 70px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  height: 70px;
}
.b6-figure p {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  padding-top: 50px;
  padding-bottom: 130px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100px;
  width: 100%;
  margin: auto;
  background: #fff;
  font-size: 17px;
  color: #0056ff;
  margin-bottom: 0;
  margin-top: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.b6-items {
  font-size: 0;
}
.b6-item {
  display: inline-block;
  vertical-align: middle;
  width: 18%;
  margin: 0 1%;
}
.b6-text {
  font-size: 22px;
  font-family: 'DINNextLTPro-Medium', sans-serif;
  color: #b1b1b1;
  line-height: 1;
}
.b6-text p {
  margin: 20px 0;
}
.b6-text .btn {
  background: #ff1440;
  color: #fff;
  font-size: 21px;
  padding: 15px 10px;
  border-radius: 10px;
  margin: 0;
  -webkit-box-shadow: 0px 5px 0px 0px #a70b26;
  box-shadow: 0px 5px 0px 0px #a70b26;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.b6-text .btn:hover {
  background: #ff7e00;
  -webkit-box-shadow: 0px 5px 0px 0px #bd5d00;
  box-shadow: 0px 5px 0px 0px #bd5d00;
}
.b6-alerta {
  padding: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ff7e00;
  font-family: 'DINNextLTPro-Regular', sans-serif;
  color: #fff;
  font-size: 20px;
  margin-top: 70px;
  margin-bottom: 80px;
}
.b6-alerta a {
  text-decoration: underline;
  font-family: 'DINNextLTPro-Bold', sans-serif;
}
@media screen and (max-width: 1000px) {
  .b6-item {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
  .b6-figure,
  .b6-text,
  p {
    display: inline-block;
    vertical-align: middle;
  }
  .b6-text p {
    margin: 0 20px;
  }
}
@media screen and (max-width: 768px) {
  .b6 h2 {
    font-size: 25px;
  }
  .b6-figure {
    width: 100px;
    height: 100px;
  }
  .b6-figure span {
    font-size: 50px;
    top: 25px;
  }
  .b6-figure p {
    padding: 0;
    padding-top: 30px;
    font-size: 12px;
  }
  .b6-text p {
    font-size: 19px;
  }
  .b6-text .btn {
    font-size: 19px;
  }
}
@media screen and (max-width: 500px) {
  .b6-item {
    margin-bottom: 30px;
  }
  .b6-item.active .btn {
    display: none;
  }
  .b6-figure {
    display: block;
  }
  .b6-text p {
    display: block;
    margin: 10px 0;
  }
}
