.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b8 {
  font-family: 'DINNextLTPro-Bold', sans-serif;
  color: #4e4f49;
  font-size: 16px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 90px;
}
.b8 .wancho {
  border-bottom: 0.5px solid #b7b5b5;
  padding-bottom: 40px;
}
.b8 h2 {
  font-family: 'DIN-Alternate-Bold', sans-serif;
  margin-bottom: 50px;
  font-size: 32px;
}
.b8 h2 strong {
  color: #0056ff;
  font-family: 'DINNextLTPro-Bold', sans-serif;
}
.b8-box {
  position: relative;
  text-align: left;
  padding-left: 100px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b8-box h4 {
  font-family: 'DINNextLTPro-Bold', sans-serif;
  font-size: 18px;
}
.b8-box a {
  color: #ff1440;
  font-size: 13px;
  margin-left: 5px;
}
.b8-box ul {
  margin-top: 20px;
  margin-left: 7px;
}
.b8-box ul li {
  position: relative;
}
.b8-box ul li:before {
  content: "";
  background: #0056ff;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 5px;
  margin: auto;
}
.b8-box ul li:after {
  content: "";
  background: #0056ff;
  width: 2px;
  height: 100%;
  position: absolute;
  left: 3px;
  top: 7px;
  bottom: 0;
}
.b8-box ul li p {
  padding-bottom: 25px;
  padding-left: 20px;
  margin: 0;
  font-family: 'DIN-Alternate', sans-serif;
}
.b8-box ul li:last-child:after {
  display: none;
}
.b8-icon {
  position: absolute;
  left: 0;
  top: -30px;
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #0056ff;
  font-size: 30px;
}
.b8-icon span {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  height: 30px;
}
.b8-icon span:before {
  color: #fff;
}
.b8-content p {
  font-family: 'DIN-Alternate', sans-serif;
  font-size: 16px;
}
.b8-content .btn {
  background: #ff1440;
  color: #fff;
  font-size: 17px;
  padding: 15px 25px;
  border-radius: 10px;
  margin: 0;
  -webkit-box-shadow: 0px 5px 0px 0px #a70b26;
  box-shadow: 0px 5px 0px 0px #a70b26;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.b8-content .btn:hover {
  background: #ff7e00;
  -webkit-box-shadow: 0px 5px 0px 0px #bd5d00;
  box-shadow: 0px 5px 0px 0px #bd5d00;
}
@media screen and (max-width: 600px) {
  .b8 {
    margin-top: 100px;
  }
  .b8-box {
    padding-left: 0;
    text-align: center;
  }
  .b8-box ul {
    text-align: left;
    margin-top: 30px;
  }
  .b8-icon {
    position: inherit;
    top: -10px;
  }
  .b8-content .btn {
    position: inherit;
    display: inline-block;
    width: 80%;
    text-align: center;
  }
}
