.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b9 {
  text-align: center;
  font-size: 0;
  margin-top: 50px;
  font-family: 'DINNextLTPro-Light', sans-serif;
}
.b9 h4 {
  font-family: 'DINNextRoundedLTPro-Light', sans-serif;
  font-size: 21px;
  margin-bottom: 30px;
}
.b9 .btn-general {
  background: #ff1440;
  color: #fff;
  font-size: 17px;
  padding: 15px 60px;
  padding-bottom: 10px;
  border-radius: 10px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 50px;
  -webkit-box-shadow: 0px 5px 0px 0px #a70b26;
  box-shadow: 0px 5px 0px 0px #a70b26;
  display: inline-block;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.b9 .btn-general:hover {
  background: #ff7e00;
  -webkit-box-shadow: 0px 5px 0px 0px #bd5d00;
  box-shadow: 0px 5px 0px 0px #bd5d00;
}
.b9-form {
  font-size: 16px;
  max-width: 850px;
  margin: auto;
  text-align: center;
}
.b9-form li {
  margin-bottom: 10px;
  font-size: 0;
  text-align: left;
}
.b9-form p {
  font-family: 'DINNextLTPro-Medium', sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
  text-align: left;
}
.b9-form input,
.b9-form select {
  display: inline-block;
  vertical-align: middle;
  width: 47%;
  margin-right: 2%;
  padding: 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #757575;
  font-size: 16px;
  border: 1px solid #757575;
}
.b9-second-li {
  width: 100%;
  font-size: 16px;
}
.b9-second-item1,
.b9-second-item2 {
  display: inline-block;
  vertical-align: middle;
  width: 49%;
  font-size: 16px;
}
.b9-second-item1 p,
.b9-second-item2 p {
  margin-bottom: 0;
}
.b9-radio {
  display: inline-block;
  vertical-align: middle;
  width: 47%;
  border: 1px solid #757575;
  padding: 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #757575;
  position: relative;
  margin-right: 1%;
  cursor: pointer;
}
.b9-radio input {
  display: none;
}
.b9-radio label {
  display: block;
}
.b9-radio label:before {
  content: "";
  border: 1px solid #757575;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.b9-radio label:after {
  content: "\e605";
  font-family: 'icomoon';
  font-size: 18px;
  position: absolute;
  right: 3px;
  top: 9px;
  right: 12px;
  bottom: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.b9-radio input[type="radio"]:checked + label:after {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.b9-second-item1 p,
.b9-second-item1 input {
  display: inline-block;
  vertical-align: middle;
  width: 45%;
}
.b9-second-item1 p {
  width: 48%;
  font-family: 'DINNextLTPro-Light', sans-serif;
}
.b9-second-item1 input {
  margin-right: 0;
}
.b9-third-li {
  margin-top: 30px;
  text-align: left;
}
.b9-third-li input {
  display: none;
}
.b9-third-li label {
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
  padding-left: 30px;
  position: relative;
  font-family: 'DINNextLTPro-Medium', sans-serif;
}
.b9-third-li label:before {
  content: "";
  border: 1px solid #757575;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  top: -3px;
  bottom: 0;
  margin: auto;
}
.b9-third-li label:after {
  content: "\e605";
  font-family: 'icomoon';
  font-size: 18px;
  position: absolute;
  left: 3px;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.b9-third-li input[type="checkbox"]:checked + label:after {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.b9-third-li a {
  font-family: 'DINNextLTPro-Medium', sans-serif;
}
.b9-four-li {
  text-align: left;
}
.b9-four-li select {
  width: 47%;
}
.b9-four-li label {
  font-size: 16px;
}
.b9-four-li .b9-four-input {
  width: 23%;
}
.b9-four-li .b9-four-direccion {
  width: 47%;
  display: inline-block;
  vertical-align: middle;
}
.b9-four-li .b9-four-direccion input {
  width: 30%;
  margin-right: 3.3%;
}
.b9-four-item1,
.b9-four-item2 {
  display: inline-block;
  vertical-align: middle;
  width: 49%;
}
.b9-four-item1 .b9-checkbox,
.b9-four-item2 .b9-checkbox {
  display: inline-block;
  vertical-align: bottom;
  width: 49%;
}
.b9-four-item1 .b9-checkbox label,
.b9-four-item2 .b9-checkbox label,
.b9-four-item1 .b9-checkbox input,
.b9-four-item2 .b9-checkbox input {
  display: inline-block;
  vertical-align: bottom;
  width: 60%;
}
.b9-four-item1 .b9-checkbox input,
.b9-four-item2 .b9-checkbox input {
  width: 38%;
}
.b9-five-li .b9-second-item1 input {
  display: none;
}
.b9-terminos {
  text-align: center;
}
.b9-terminos label {
  display: block;
  text-align: left;
}
.b9-conyuge {
  background: #eaeaea;
  padding: 20px 0;
  padding-bottom: 40px;
  margin-top: 30px;
  position: relative;
}
.b9-conyuge:before {
  content: "";
  position: absolute;
  right: 100%;
  width: 2000px;
  height: 100%;
  top: 0;
  background: #eaeaea;
}
.b9-conyuge:after {
  content: "";
  position: absolute;
  left: 100%;
  width: 2000px;
  height: 100%;
  top: 0;
  background: #eaeaea;
}
.b9-propiedades {
  margin-top: 40px;
}
.b9-radio-propiedad p {
  font-family: 'DINNextLTPro-Light', sans-serif;
  display: inline-block;
  vertical-align: middle;
  width: 180px;
  margin-right: 40px;
  margin-bottom: 0;
}
.b9-box-radio {
  display: inline-block;
  vertical-align: middle;
  width: 200px;
}
.b9-box-radio .b9-radio {
  display: inline-block;
  vertical-align: middle;
  width: 70px;
  border: none;
  font-size: 16px;
}
.b9-box-radio .b9-radio label:before {
  border-radius: 50%;
}
.b9-box-radio .b9-radio label:after {
  border-radius: 50%;
  width: 6px;
  height: 6px;
  top: 15px;
  background: #000;
  right: 18px;
  content: "";
}
@media screen and (max-width: 767px) {
  .b9-form input,
  .b9-form select {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
  }
  .b9-form li {
    margin-bottom: 0;
  }
  .b9-form .b9-third-li {
    margin-bottom: 10px;
  }
  .b9-second-item1,
  .b9-second-item2 {
    width: 100%;
    margin: 0;
  }
  .b9-second-item1 p {
    margin-bottom: 10px;
  }
  .b9-radio {
    width: 49%;
    margin-bottom: 10px;
  }
  .b9-radio:first-child {
    margin-right: 1%;
  }
  .b9-four-item1,
  .b9-four-item2 {
    width: 100%;
    margin: 0;
  }
}
