.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.footer {
  background: #262525;
  padding-top: 45px;
  padding-bottom: 40px;
}
.footer-first {
  margin-bottom: 28px;
  position: relative;
}
.footer-logo {
  width: 250px;
  display: inline-block;
  vertical-align: bottom;
  text-align: left;
}
.footer-logo img {
  max-width: 100%;
  height: auto;
  display: block;
}
.footer-right-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #fff;
  padding: 15px;
  display: inline-block;
  background: #4e4f49;
  border-radius: 7px;
  -webkit-box-shadow: 0px 5px 0px 0px #353632;
  box-shadow: 0px 5px 0px 0px #353632;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.footer-right-btn:hover {
  background: #353632;
  -webkit-box-shadow: 0px 5px 0px 0px #4e4f49;
  box-shadow: 0px 5px 0px 0px #4e4f49;
}
.footer-second {
  font-size: 0;
  padding-bottom: 40px;
  border-bottom: 1px solid #4e4f49;
}
.footer-second .footer-item {
  width: 25%;
  display: inline-block;
  vertical-align: top;
}
.footer-second .footer-item p {
  margin-bottom: 0;
}
.footer-second .footer-item p span {
  display: inline-block;
  vertical-align: middle;
  margin: 0 3px;
  margin-bottom: 2px;
}
.footer-second .footer-item p span:first-child {
  margin-left: 10px;
}
.footer-second .footer-item:nth-child(3) {
  width: 20%;
}
.footer-second .footer-item:nth-child(4) {
  width: 30%;
  text-align: right;
  font-size: 16px;
  color: #fff;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
}
.footer-second .footer-item:nth-child(4) p {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 17px;
}
.footer-second .footer-item:nth-child(4) a {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
}
.footer-second a {
  color: #fff;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  font-family: 'DINNextLTPro-Light', sans-serif;
  font-size: 16px;
  margin-bottom: 17px;
  display: block;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.footer-second a:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  text-decoration: underline;
}
.footer-creditos {
  text-align: center;
  color: #fff;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  margin-top: 20px;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.footer-creditos:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
@media screen and (max-width: 960px) {
  .footer-second .footer-item {
    width: 50%;
    padding-left: 7%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .footer-second .footer-item:nth-child(3) {
    width: 50%;
    margin-top: 20px;
  }
  .footer-second .footer-item:nth-child(4) {
    width: 50%;
    margin-top: 20px;
    text-align: left;
  }
}
@media screen and (max-width: 600px) {
  .footer-first {
    text-align: center;
    margin-bottom: 100px;
  }
  .footer-right-btn {
    width: 200px;
    bottom: -70px;
    left: 0;
  }
  .footer-second .footer-item {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    padding: 0;
  }
  .footer-second .footer-item:nth-child(3) {
    width: 100%;
    text-align: center;
  }
  .footer-second .footer-item:nth-child(4) {
    width: 100%;
    text-align: center;
  }
}
