.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
body {
  overflow-x: hidden;
}
body .cnt-wrapper {
  overflow: hidden;
}
/* BODY CLASS */
.usuario .header {
  background: #0056ff;
  position: inherit;
}
.usuario .header .wancho {
  border: none;
}
.usuario .header-logo {
  background: url("../media/logo-azul.png") center center no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
}
@media screen and (max-width: 1080px) {
  .usuario .header {
    background: transparent;
    height: 1px;
  }
  .usuario .header-logo {
    top: -10px;
  }
}
.contacto .header-logo {
  background: url("../media/logo-blanco-naranja.png") center center no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
}
/* BODY CLASS */
.header {
  font-size: 0;
  color: #fff;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 99;
}
.header .wancho {
  border-bottom: 1px solid #fff;
  position: relative;
}
.header-left {
  width: 80%;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}
.header-left li {
  display: inline-block;
  vertical-align: middle;
  font-family: 'DIN-Alternate', sans-serif;
}
.header-link {
  padding: 10px;
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'DIN-Alternate-Bold', sans-serif;
  padding-bottom: 20px;
  padding-top: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.header-link:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.header-right {
  width: 20%;
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  text-align: right;
}
.header-right a {
  margin: 0 5px;
  display: inline-block;
  margin-top: 10px;
  font-size: 22px;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.header-right a:hover:before {
  color: #ff7e00;
}
.header-logo {
  position: absolute;
  left: 20px;
  top: 100px;
  display: inline-block;
  width: 270px;
  height: 109px;
  background: url("../media/logo.png") center center no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
}
.menu-mobile-open,
.menu-mobile-close {
  display: none;
}
.menu-sidebar .header,
.menu-sidebar .header-logo {
  display: none;
}
@media screen and (max-width: 1080px) {
  .cnt-wrapper {
    position: relative;
    left: 0;
    -webkit-transition: left 0.45s ease;
    -moz-transition: left 0.45s ease;
    -o-transition: left 0.45s ease;
    -ms-transition: left 0.45s ease;
    transition: left 0.45s ease;
  }
  .header-left,
  .header-right {
    display: none;
  }
  .header-logo {
    top: -10px;
    left: 10px;
    width: 180px;
  }
  .header .wancho {
    border: none;
  }
  .header.menu-responsive {
    display: block;
    width: 100%;
    margin-right: 0;
    margin-bottom: 0;
    right: 0;
    background: #fff;
  }
  .header.menu-responsive .wancho {
    width: 100%;
  }
  .header.menu-responsive .header-left,
  .header.menu-responsive .header-right {
    width: 100%;
    display: block;
    text-align: center;
  }
  .header.menu-responsive .header-left {
    padding-top: 140px;
  }
  .header.menu-responsive .header-left li {
    display: block;
  }
  .header.menu-responsive .header-link {
    width: 100%;
    padding: 5px;
    padding-bottom: 15px;
    color: #383434;
    font-size: 14px;
  }
  .header.menu-responsive .header-link:hover {
    color: #0056ff;
  }
  .header.menu-responsive .header-right {
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
    width: 100%;
  }
  .header.menu-responsive .header-right a:before {
    color: #2fc1a8;
  }
  .header.menu-responsive .header-logo {
    left: 20px;
    height: 110px;
  }
  .menu-mobile-open {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    visibility: visible;
    background: #eceaea;
    color: #f00;
    border-radius: 7px;
    cursor: pointer;
    font-size: 28px;
    height: 42px;
    width: 42px;
    line-height: 42px;
    position: fixed;
    right: 15px;
    text-align: center;
    top: 15px;
    z-index: 1000;
    display: block;
  }
  .menu-mobile-open.active {
    visibility: hidden;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  .menu-mobile-close {
    visibility: hidden;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    z-index: 1000;
    background: #fff;
    color: #ff7e00;
    cursor: pointer;
    font-size: 28px;
    height: 42px;
    width: 42px;
    line-height: 42px;
    position: fixed;
    text-align: center;
    top: 15px;
    right: 15px;
    display: block;
  }
  .menu-mobile-close.active {
    visibility: visible;
    opacity: 1;
    -ms-filter: none;
    filter: none;
    right: 20px;
    z-index: 1002;
  }
  .menu-sidebar {
    width: 100%;
    height: 0;
    position: absolute;
    background: #fff;
    top: 0;
    left: 0;
    z-index: 1000;
    -webkit-transition: right 1s ease;
    -moz-transition: right 1s ease;
    -o-transition: right 1s ease;
    -ms-transition: right 1s ease;
    transition: right 1s ease;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    -ms-transition: all 0.25s;
    transition: all 0.25s;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    visibility: hidden;
  }
  .menu-sidebar .header-logo {
    display: block;
  }
  .menu-sidebar.active {
    bottom: 0;
    opacity: 1;
    -ms-filter: none;
    filter: none;
    visibility: visible;
    height: 100%;
  }
  .menu-sidebar.active .header-logo {
    background: url("../media/logo-azul.png") center center no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
  }
}
