.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
button {
  background: transparent;
  border: none;
}
.btn1 {
  background: #ff1440;
  border-radius: 10px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 5px 0px 0px #a70b26;
  box-shadow: 0px 5px 0px 0px #a70b26;
  color: #fff;
  font-family: 'DIN-Alternate-Bold', sans-serif;
  font-size: 19px;
  position: relative;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  text-align: center;
  padding: 0 15px;
  display: block;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.btn1:hover {
  background: #ff7e00;
  -webkit-box-shadow: 0px 5px 0px 0px #bd5d00;
  box-shadow: 0px 5px 0px 0px #bd5d00;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.title-general {
  font-family: 'DIN-Alternate-Bold', sans-serif;
  font-size: 17px;
  color: #898989;
  text-align: left;
  margin-left: 0.5%;
  display: inline-block;
}
.title-general2 {
  font-family: 'DIN-Alternate-Bold', sans-serif;
  font-size: 17px;
  color: #898989;
  text-align: left;
  margin-left: 0.5%;
  display: inline-block;
}
.gral-left {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 0.5%;
  line-height: 1;
  margin-bottom: 8px;
}
.gral-left h2 {
  margin-bottom: 0;
}
.gral-right {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  text-align: right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 1%;
  position: relative;
  line-height: 1;
  margin-bottom: 8px;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.gral-right:before {
  content: "\e903";
  font-family: 'icomoon';
  position: absolute;
  top: 1px;
  right: 7px;
  margin: auto;
  font-size: 16px;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  color: #898989;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
  z-index: 9;
}
.gral-right a {
  padding-right: 20px;
}
.gral-right:hover {
  -webkit-transform: translateX(-7px);
  -moz-transform: translateX(-7px);
  -o-transform: translateX(-7px);
  -ms-transform: translateX(-7px);
  transform: translateX(-7px);
}
.gral-right:hover:before {
  right: -5px;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.wrapp-iframe-general {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 6px;
  overflow: hidden;
  background-color: #9fab26;
  display: block;
  padding-top: 0px;
}
.wrapp-iframe-general:first-child {
  padding-top: 6px;
}
.name-dev {
  position: absolute;
  top: 2px;
  left: 0;
  font-family: 'Arial', sans-serif;
  color: #9fab26;
  border-bottom: 2px solid #9fab26;
  text-transform: uppercase;
  margin-left: 15px;
}
.btn-copy {
  background-color: #9fab26;
  display: inline-block;
  color: #fff;
  margin-bottom: 10px;
  padding: 5px;
  cursor: pointer;
}
.btn-copy.hover {
  background-color: #808080;
}
.inner-general {
  background: #fff;
  padding: 20px 0;
}
.general-wrapper {
  padding: 10px;
  border: 1px dashed #808080;
  width: 98%;
  margin: auto;
  margin-top: 30px;
}
.block-general {
  padding: 5px;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b1 {
  max-height: 800px;
  padding-top: 300px;
  padding-bottom: 150px;
  color: #fff;
  font-size: 0;
  background: url("../media/FONDO-HERO.jpg") center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-align: center;
  overflow: hidden;
}
.b1 .wancho {
  position: relative;
}
.b1 .wancho .b1-dolar {
  position: absolute;
}
.b1 .wancho .b1-dolar.uno {
  left: -170px;
  top: -280px;
  width: 210px;
}
.b1 .wancho .b1-dolar.dos {
  top: 169px;
  left: -220px;
}
.b1 .wancho .b1-dolar.tres {
  top: -159px;
  left: 470px;
  width: 430px;
}
.b1 .wancho .b1-dolar.cuatro {
  top: -300px;
  right: -70px;
  width: 710px;
}
.b1 .wancho .b1-dolar img {
  max-width: 100%;
  height: auto;
  display: block;
}
.b1-left {
  font-size: 16px;
  width: 50%;
  display: inline-block;
  vertical-align: top;
  padding-left: 10%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}
.b1-left h2 {
  font-family: 'DINNextLTPro-Light', sans-serif;
  font-size: 40px;
}
.b1-left h2 strong {
  font-family: 'DINNextLTPro-Bold', sans-serif;
}
.b1-left p {
  font-family: 'DINNextLTPro-Regular', sans-serif;
  font-size: 30px;
  position: relative;
  display: inline-block;
  width: 320px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 10px;
}
.b1-left span {
  font-size: 50px;
  position: absolute;
  left: -50px;
  bottom: -2px;
}
.b1-right {
  font-size: 16px;
  width: 50%;
  display: inline-block;
  vertical-align: top;
  padding-left: 6%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}
.b1-form {
  max-width: 400px;
  background: #fff;
  color: #585858;
  padding: 20px;
  border-radius: 10px;
}
.b1-form input,
.b1-form button,
.b1-form .b1-registrar {
  display: block;
  height: 50px;
  line-height: 50px;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
}
.b1-form input {
  background: #e4e5e5;
  padding-left: 15px;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 15px;
}
.b1-form button,
.b1-form .b1-registrar {
  background: #ff1440;
  border-radius: 10px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 5px 0px 0px #a70b26;
  box-shadow: 0px 5px 0px 0px #a70b26;
  color: #fff;
  font-family: 'DIN-Alternate-Bold', sans-serif;
  font-size: 19px;
  position: relative;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.b1-form button:before,
.b1-form .b1-registrar:before {
  content: "\e91a";
  font-family: 'icomoon';
  font-size: 28px;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.b1-form button:hover,
.b1-form .b1-registrar:hover {
  background: #ff7e00;
  -webkit-box-shadow: 0px 5px 0px 0px #bd5d00;
  box-shadow: 0px 5px 0px 0px #bd5d00;
}
.b1-form p {
  font-family: 'DINNextLTPro-Regular', sans-serif;
  margin-bottom: 0;
}
.b1-form a {
  color: #ff1440;
}
.b1-login {
  max-width: 250px;
  margin-left: 90px;
  margin-top: 15px;
  text-align: center;
  font-family: 'DINNextLTPro-Regular', sans-serif;
  font-size: 22px;
  line-height: 1;
}
.b1-login a {
  font-family: 'DINNextLTPro-Bold', sans-serif;
  text-decoration: underline;
}
@media screen and (max-width: 1080px) {
  .b1-left {
    padding-left: 0;
  }
}
@media screen and (max-width: 960px) {
  .b1 {
    padding-top: 150px;
    padding-bottom: 60px;
  }
  .b1-left {
    display: block;
    margin: auto;
    margin-bottom: 30px;
    width: 430px;
  }
  .b1-right {
    display: block;
    margin: auto;
    padding: 0;
    width: 430px;
  }
}
@media screen and (max-width: 600px) {
  .b1-left {
    max-width: 390px;
    width: 100%;
  }
  .b1-left h2 {
    font-size: 30px;
  }
  .b1-left p {
    font-size: 20px;
    width: 260px;
    padding-left: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .b1-left span {
    left: -2px;
  }
  .b1-right {
    max-width: 430px;
    width: 100%;
    font-size: 13px;
  }
  .b1-login {
    width: 100%;
    margin: auto;
    margin-top: 20px;
  }
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.contacto .b10 {
  background: url("../media/contacto.jpg") center center no-repeat;
}
.politica .b10 {
  background: url("../media/politica.jpg") center center no-repeat;
}
.somos .b10 {
  background: url("../media/quienes-somos.jpg") center center no-repeat;
}
.b10 {
  background: url("../media/politica.jpg") center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  height: 500px;
  width: 2000px;
  display: table-cell;
  vertical-align: bottom;
  padding-bottom: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b10 h1 {
/*fuentes*/
  font-size: 25px;
  color: #fff;
}
.b10 h1 strong {
  margin-top: 10px;
  display: block;
  font-size: 50px;
}
@media screen and (max-width: 1080px) {
  .b10 {
    height: 400px;
  }
}
@media screen and (max-width: 767px) {
  .b10 h1 {
    font-size: 20px;
  }
  .b10 h1 strong {
    font-size: 30px;
  }
}
@media screen and (max-width: 600px) {
  .b10 {
    height: 300px;
  }
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b11 {
  color: #9f9f9f;
  font-size: 0;
  margin-bottom: 70px;
}
.b11 .wancho {
  width: 75%;
  margin-top: 100px;
}
.b11-left,
.b11-right {
  display: inline-block;
  vertical-align: top;
  width: 35%;
  font-size: 16px;
}
.b11-right {
  width: 65%;
}
.b11-left p {
  margin-bottom: 20px;
}
.b11-title {
  color: #0056ff;
  font-size: 20px;
  margin-bottom: 30px;
}
.b11-redes {
  margin-top: 30px;
}
.b11-redes p {
  margin-bottom: 0;
}
.b11-redes span {
  margin-right: 10px;
  display: inline-block;
}
.b11-redes a {
  display: inline-block;
  margin: 0 3px;
}
.b11-redes a:before {
  color: #9f9f9f;
}
.b11-right {
  text-align: right;
}
.b11-right button {
  padding: 0 60px;
  display: inline-block;
}
.b11-right input {
  width: 100%;
  height: 40px;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 30px;
  border-radius: 3px;
  border: 1px solid #808080;
}
.b11-form1 p,
.b11-form2 p {
  text-align: left;
  display: block;
}
.b11-form1 .b11-dudas,
.b11-form2 .b11-dudas {
  margin-bottom: 35px;
}
.b11-form1 {
  margin-bottom: 60px;
}
@media screen and (max-width: 1200px) {
  .b11 .wancho {
    width: 90%;
  }
}
@media screen and (max-width: 960px) {
  .b11 .wancho {
    width: 94%;
  }
  .b11-left {
    width: 40%;
  }
  .b11-right {
    width: 60%;
  }
}
@media screen and (max-width: 767px) {
  .b11 .wancho {
    margin-top: 60px;
    width: 94%;
  }
  .b11-left {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #808080;
  }
  .b11-right {
    width: 100%;
    text-align: center;
  }
}
.b11-login {
  width: 100%;
  margin: auto;
  padding: 100px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}
.b11-login .b11-form2 {
  max-width: 400px;
}
.b11-login .b11-form2 button {
  margin-bottom: 30px;
  width: 100%;
}
.b11-login .b11-form2 a {
  display: block;
  color: #00f;
  margin-top: 10px;
}
.b11-login .b11-form2 .b11-sesion {
  color: #fff;
}
.b11-login input {
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .b11-login {
    padding: 50px 0;
  }
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b12 {
  color: #383434;
  font-size: 0;
  margin-bottom: 70px;
}
.b12 .wancho {
  width: 80%;
  margin-top: 100px;
}
.b12-left,
.b12-right {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  font-size: 16px;
}
.b12-right {
  width: 70%;
}
.b12-left p {
  margin-bottom: 20px;
}
.b12-title {
  color: #0056ff;
  font-size: 20px;
  margin-bottom: 30px;
}
.b12-redes {
  margin-top: 30px;
}
.b12-redes p {
  margin-bottom: 0;
}
.b12-redes span {
  margin-right: 10px;
  display: inline-block;
}
.b12-redes a {
  display: inline-block;
  margin: 0 3px;
}
.b12-redes a:before {
  color: #383434;
}
.b12-right {
  text-align: right;
}
.b12-right button {
  padding: 0 60px;
}
.b12-right input {
  width: 100%;
  height: 40px;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 30px;
  border-radius: 3px;
  border: 1px solid #808080;
}
.b12-form1 p,
.b12-form2 p {
  text-align: left;
  display: block;
}
.b12-form1 .b12-dudas,
.b12-form2 .b12-dudas {
  margin-bottom: 35px;
}
.b12-form1 {
  margin-bottom: 60px;
}
@media screen and (max-width: 960px) {
  .b12 .wancho {
    width: 87%;
  }
  .b12-left {
    width: 40%;
  }
  .b12-right {
    width: 60%;
  }
}
@media screen and (max-width: 767px) {
  .b12 .wancho {
    margin-top: 60px;
    width: 94%;
  }
  .b12-left {
    width: 100%;
    text-align: center;
  }
  .b12-right {
    width: 100%;
    text-align: center;
  }
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b13 {
  margin-top: 70px;
}
.b13 .b8-box h4 a {
  display: block;
  margin-left: 0;
  color: #ff1440;
  padding-left: 0;
  width: 100%;
}
.b13 li {
  margin-bottom: 10px;
}
.b13 li:after,
.b13 li:before {
  display: none;
}
.b13 li strong {
  margin-left: 20px;
  display: inline-block;
  margin-right: 40px;
}
.b13 .b13-img,
.b13 p,
.b13 a {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
}
.b13 .b8-box ul {
  margin-left: 50px;
  margin-top: 50px;
}
.b13 .b8-box ul li p {
  padding: 0;
  width: 40%;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b13 .b8-box a {
  color: #fff;
  font-size: 16px;
  padding: 0 40px;
  width: 12%;
}
.b13 .b6-alerta {
  display: block;
  text-align: center;
  margin-bottom: 50px;
}
.b13-img {
  position: relative;
  padding-right: 20px;
  width: 30%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b13-img img {
  max-width: 100%;
  height: auto;
  display: block;
}
@media screen and (max-width: 1100px) {
  .b13 .b8-box ul {
    margin-left: 0;
  }
}
@media screen and (max-width: 768px) {
  .b13 .b8-box {
    padding-left: 0;
  }
  .b13 .b8-box h4 {
    padding-left: 100px;
  }
  .b13 .b8-box a {
    height: 40px;
    line-height: 40px;
    width: 11%;
    font-size: 15px;
  }
  .b13 .b8-box ul li p {
    width: 42%;
    padding-left: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .b13 .b8-box ul li strong {
    margin-right: 0;
  }
  .b13-img {
    padding-right: 0;
  }
}
@media screen and (max-width: 600px) {
  .b13 {
    margin-top: 120px;
  }
  .b13 .b8-box h4 {
    padding-left: 0;
  }
  .b13 .b8-box ul {
    text-align: center;
  }
  .b13 .b8-box ul li p {
    width: 45%;
  }
  .b13 .b8-box a {
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 30%;
  }
  .b13 .b13-img {
    width: 45%;
  }
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b14 {
  text-align: center;
  background: #dedede;
  padding: 20px 0;
  font-size: 0;
}
.b14 p {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
  width: 15%;
  font-size: 16px;
}
.b14 .b6-items {
  width: 85%;
  display: inline-block;
  vertical-align: middle;
}
@media screen and (max-width: 1000px) {
  .b14 p {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
  .b14 .b6-item {
    width: 18%;
    display: inline-block;
  }
  .b14 .b6-figure {
    width: 100px;
    height: 100px;
  }
  .b14 .b6-figure span {
    font-size: 40px;
    height: 40px;
  }
}
@media screen and (max-width: 768px) {
  .b14 .b6-item {
    width: 30%;
  }
  .b14 .b6-item span {
    top: 0;
  }
}
@media screen and (max-width: 500px) {
  .b14 .b6-item {
    width: 47%;
  }
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b15 {
  color: #383434;
  font-size: 0;
  margin-bottom: 70px;
}
.b15 .wancho {
  width: 80%;
  margin-top: 100px;
}
.b15-left,
.b15-right {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  font-size: 16px;
}
.b15-right {
  width: 70%;
}
.b15-left p {
  margin-bottom: 20px;
}
.b15-title {
  color: #0056ff;
  font-size: 20px;
  margin-bottom: 30px;
}
.b15-redes {
  margin-top: 30px;
}
.b15-redes p {
  margin-bottom: 0;
}
.b15-redes span {
  margin-right: 10px;
  display: inline-block;
}
.b15-redes a {
  display: inline-block;
  margin: 0 3px;
}
.b15-redes a:before {
  color: #383434;
}
.b15-right {
  text-align: right;
}
.b15-right button {
  padding: 0 60px;
}
.b15-right input {
  width: 100%;
  height: 40px;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 30px;
  border-radius: 3px;
  border: 1px solid #808080;
}
.b15-form1 p,
.b15-form2 p {
  text-align: left;
  display: block;
}
.b15-form1 .b15-dudas,
.b15-form2 .b15-dudas {
  margin-bottom: 35px;
}
.b15-form1 {
  margin-bottom: 60px;
}
.b15-form1 li {
  margin-bottom: 70px;
  position: relative;
}
.b15-form1 li:before {
  content: "";
  position: absolute;
  bottom: -55px;
  left: 70px;
  width: 2px;
  height: 40px;
  background: #000;
}
.b15-form1 li:last-child:before {
  display: none;
}
.b15-img {
  padding-left: 30px;
  text-align: left;
}
.b15-img img,
.b15-img figcaption {
  display: inline-block;
  vertical-align: middle;
}
.b15-img img {
  margin-right: 20px;
}
.b15-container2 {
  margin-bottom: 70px;
}
@media screen and (max-width: 960px) {
  .b15 .wancho {
    width: 87%;
  }
  .b15-left {
    width: 40%;
  }
  .b15-right {
    width: 60%;
  }
}
@media screen and (max-width: 767px) {
  .b15 .wancho {
    margin-top: 60px;
    width: 94%;
  }
  .b15-left {
    width: 100%;
    text-align: center;
  }
  .b15-right {
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 500px) {
  .b15-img {
    padding-left: 0;
    text-align: center;
  }
  .b15-img img {
    padding-left: 0;
    margin: 0 auto;
    display: block;
    margin-bottom: 15px;
  }
  .b15-form1 li:before {
    left: 0;
    right: 0;
    margin: auto;
  }
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b16 {
  background: url("../media/solicitud.jpg") center center no-repeat;
  height: 750px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.b16 .btn1 {
  width: 50%;
}
.b16-text {
  display: table-cell;
  vertical-align: middle;
  height: 750px;
  width: 2000px;
}
.b16-text .b16-container {
  width: 450px;
  text-align: center;
}
.b16-text .b16-container h1 {
  font-size: 35px;
  margin-bottom: 15px;
}
.b16-text .b16-container p {
  font-size: 22px;
}
@media screen and (max-width: 767px) {
  .b16 {
    background-position: -645px -89px;
  }
  .b16-text .b16-container {
    width: 100%;
    color: #fff;
  }
}
@media screen and (max-width: 600px) {
  .b16 {
    background-position: -900px -89px;
  }
  .b16 .btn1 {
    width: 70%;
  }
  .b16-text .b16-container {
    width: 100%;
    color: #fff;
  }
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b17 {
  font-size: 0;
  text-align: center;
  margin-top: -70px;
}
.b17 .btn1 {
  margin: auto;
  margin-top: 40px;
  width: 200px;
  margin-bottom: 40px;
}
.b17 .b17-border {
  padding: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1.1px solid #c3c2c2;
  margin-bottom: 40px;
  background: #fff;
}
.b17 .wancho {
  max-width: 1100px;
}
.b17 .b17-terminos {
  font-size: 15px;
  text-align: left;
  margin-bottom: 50px;
}
.b17.mtnone {
  margin: 30px 0;
}
.b17.mtnone p {
  margin-bottom: 0;
}
.b17-left,
.b17-right {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  font-size: 19px;
  font-family: 'DINNextLTPro-Light', sans-serif;
}
.b17-left .input,
.b17-right .input {
  width: 40px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 2%;
  border: 1.1px solid #c3c2c2;
  border-radius: 3px;
}
.b17-left p,
.b17-right p {
  display: block;
  margin-bottom: 20px;
}
.b17-left {
  border-right: 1.1px solid #c3c2c2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b17-left-box {
  text-align: center;
}
.b17-left-box strong {
  font-size: 40px;
  font-family: 'DINNextLTPro-Bold', sans-serif;
  margin-bottom: 5px;
  display: inline-block;
}
.b17-left-box .b17-celular {
  margin-top: 20px;
  font-size: 14px;
  color: #ff1440;
}
.b17-left-box .b17-celular a {
  text-decoration: underline;
  font-family: 'DIN-Alternate-Bold', sans-serif;
}
.b17-right-box {
  padding-left: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b17-right-figure {
  margin-top: 20px;
}
.b17-right-figure img {
  max-width: 100%;
  height: auto;
  display: block;
}
@media screen and (max-width: 960px) {
  .b17 {
    margin-top: -120px;
  }
  .b17 .b17-border {
    padding: 15px;
    padding-top: 30px;
  }
  .b17-left,
  .b17-right {
    font-size: 17px;
  }
}
@media screen and (max-width: 767px) {
  .b17-left,
  .b17-right {
    width: 100%;
    font-size: 15px;
  }
  .b17-left p,
  .b17-right p {
    margin-bottom: 10px;
  }
  .b17-left {
    border-right: none;
    border-bottom: 1.1px solid #c3c2c2;
    margin-bottom: 20px;
  }
  .b17-left-box strong {
    font-size: 30px;
  }
  .b17.mtnone {
    margin-top: -50px;
  }
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b18 {
  font-size: 0;
  text-align: center;
  margin-top: -70px;
}
.b18 .btn1 {
  margin: auto;
  margin-top: 40px;
  width: 200px;
  margin-bottom: 40px;
}
.b18 .b18-border {
  padding: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1.1px solid #c3c2c2;
  margin-bottom: 40px;
  background: #fff;
}
.b18 .wancho {
  max-width: 1100px;
}
.b18.b9 {
  margin: 0;
  margin-top: -160px;
}
.b18 .b9-form li {
  margin-bottom: 15px;
  padding: 0;
}
@media screen and (max-width: 767px) {
  .b18 {
    margin-top: -230px;
  }
  .b18 .b18-border {
    padding: 15px;
    padding-top: 30px;
  }
  .b18 .b9-form li {
    margin-bottom: 0;
  }
  .b18 .b9-form input,
  .b18 .b9-form select {
    font-size: 14px;
  }
  .b18 .b9-third-li a {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 600px) {
  .b18 .b9-form li {
    margin-bottom: 0;
  }
  .b18 .b9-form input,
  .b18 .b9-form select {
    font-size: 14px;
  }
  .b18 .b9-four-li .b9-four-input {
    width: 100%;
  }
  .b18 .b9-four-li .b9-four-direccion {
    width: 100%;
  }
  .b18 .b9-four-li .b9-four-direccion input {
    width: 31%;
  }
  .b18 .b9-four-li .b9-four-direccion input:last-child {
    margin-right: 0;
  }
  .b18 .b9-radio {
    width: 100%;
  }
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b19 {
  background: #0056ff;
  text-align: center;
  font-family: 'DINNextLTPro-Light', sans-serif;
  font-size: 32px;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 40px;
}
.b19 p {
  margin-top: 20px;
}
.b19 strong {
  font-family: 'DINNextLTPro-Medium', sans-serif;
  display: inline-block;
}
.b19 span {
  font-size: 20px;
  font-family: 'DINNextLTPro-Regular', sans-serif;
}
.b19 .btn1 {
  width: 130px;
}
.b19-icono {
  font-size: 80px;
}
@media screen and (max-width: 600px) {
  .b19 {
    font-size: 25px;
    margin-top: 90px;
  }
  .b19 strong {
    margin-top: 0px;
  }
  .b19 span {
    font-size: 17px;
  }
  .b19-icono {
    font-size: 60px;
  }
}
.b19-2 {
  margin-top: 50px;
  color: #fff;
  font-family: 'DINNextLTPro-Regular', sans-serif;
}
.b19-2 .b20-monto {
  font-size: 18px;
/* WebKit */
/* Firefox 18- */
/* Firefox 19+ */
/* IE 10+ */
}
.b19-2 .b20-monto ::-webkit-input-placeholder {
  color: #fff;
  font-family: 'DINNextLTPro-Regular', sans-serif;
}
.b19-2 .b20-monto :-moz-placeholder {
  color: #fff;
  font-family: 'DINNextLTPro-Regular', sans-serif;
}
.b19-2 .b20-monto ::-moz-placeholder {
  color: #fff;
  font-family: 'DINNextLTPro-Regular', sans-serif;
}
.b19-2 .b20-monto :-ms-input-placeholder {
  color: #fff;
  font-family: 'DINNextLTPro-Regular', sans-serif;
}
.b19-2 .b20-monto .b19-input {
  display: block;
  margin: auto;
  margin-top: 20px;
}
.b19-2 p {
  display: block;
}
.b19-2 input,
.b19-2 select {
  text-align: center;
  height: 40px;
  line-height: 40px;
  border: 1px solid #fff;
  border-radius: 3px;
  width: 200px;
  display: inline-block;
  vertical-align: middle;
  background: transparent;
  color: #fff;
}
.b19-2 select {
  margin-right: 15px;
}
.b19-slider {
  width: 50%;
  margin: auto;
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
  vertical-align: middle;
}
.b19-slider .ui-slider {
  height: 5px;
}
.b19-slider .ui-slider-handle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ff7e00;
  border: none;
  top: -10px;
}
@media screen and (max-width: 600px) {
  .b19-2 {
    font-size: 25px;
    margin-top: 90px;
  }
}
@media screen and (max-width: 500px) {
  .b19-2 input,
  .b19-2 select {
    width: 100%;
    margin: 0;
    margin-top: 10px;
  }
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b2 {
  text-align: center;
  font-size: 0;
  padding: 150px 0;
  color: #0056ff;
}
.b2 p {
  font-family: 'Kalam-Regular', sans-serif;
  font-size: 32px;
  line-height: 1.1;
  max-width: 750px;
  margin: auto;
  margin-bottom: 10px;
}
.b2 h2 {
  font-family: 'DINNextLTPro-Medium', sans-serif;
  font-size: 35px;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
  margin-top: 20px;
}
.b2 a {
  display: inline-block;
  vertical-align: middle;
  width: 300px;
  margin-left: 10px;
}
.b2 a img {
  max-width: 100%;
  height: auto;
  display: block;
}
@media screen and (max-width: 600px) {
  .b2 {
    padding: 100px 0;
  }
  .b2 p {
    font-size: 19px;
  }
  .b2 h2 {
    font-size: 25px;
    margin-top: 10px;
  }
  .b2 a {
    width: 140px;
  }
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b20 {
  font-size: 27px;
  font-family: 'DINNextLTPro-Light', sans-serif;
  text-align: center;
}
.b20 p {
  margin-bottom: 45px;
  margin-top: 60px;
}
.b20 hr {
  border: none;
  margin: 0;
}
.b20-content {
  text-align: left;
  max-width: 900px;
  margin: auto;
  margin-bottom: 50px;
}
.b20-figure {
  display: inline-block;
  width: 31%;
  vertical-align: middle;
  text-align: center;
  background: #f2f2f2;
  padding: 50px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0.5%;
  font-size: 20px;
  font-family: 'DINNextLTPro-Medium', sans-serif;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.b20-figure.active,
.b20-figure:hover {
  background: #0056ff;
  color: #fff;
}
.b20-figure.active a:before,
.b20-figure:hover a:before {
  color: #fff;
}
.b20-figure span {
  margin-bottom: 10px;
  display: inline-block;
}
.b20-figure span:before {
  font-size: 60px;
}
.b20-box-archivo {
  max-width: 370px;
  margin: auto;
  font-size: 17px;
  font-family: 'DINNextLTPro-Regular', sans-serif;
}
.b20-box-archivo .b20-archivo-p {
  margin: 0;
  margin-top: 10px;
}
.b20-archivo {
  border: 1px solid #808080;
  border-radius: 3px;
  padding: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b20-archivo input {
  width: 136px;
  border: 1px solid #808080;
  border-radius: 3px;
  background: transparent;
}
.b20-archivo input height 25pπx,
.b20-archivo input display inline-block,
.b20-archivo input line-height 28px,
.b20-archivo input span {
  color: #f00;
  margin-left: 15px;
  display: inline-block;
  margin-right: 30px;
}
.b20-btns {
  margin-top: 100px;
  margin-bottom: 80px;
}
.b20-btns .btn1,
.b20-btns .b20-btn {
  display: inline-block;
  vertical-align: middle;
  width: 200px;
}
.b20-btns .btn1 {
  background: #ff7e00;
  -webkit-box-shadow: 0px 5px 0px 0px #b85d04;
  box-shadow: 0px 5px 0px 0px #b85d04;
  margin-right: 40px;
}
.b20-btns .btn1:hover {
  -webkit-box-shadow: 0px 5px 0px 0px #ff7e00;
  box-shadow: 0px 5px 0px 0px #ff7e00;
}
.b20-btns .b20-btn {
  background: #ff1440;
  -webkit-box-shadow: 0px 5px 0px 0px #a70b26;
  box-shadow: 0px 5px 0px 0px #a70b26;
  margin-left: 40px;
  margin-right: 0;
}
.b20-btns .b20-btn:hover {
  -webkit-box-shadow: 0px 5px 0px 0px #ff1440;
  box-shadow: 0px 5px 0px 0px #ff1440;
}
@media screen and (max-width: 767px) {
  .b20 {
    font-size: 22px;
  }
  .b20-content hr {
    display: none;
  }
  .b20-figure {
    display: inline-block;
    width: 48%;
    font-size: 18px;
  }
}
@media screen and (max-width: 600px) {
  .b20-btns {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .b20-btns .btn1 {
    display: block;
    margin: auto;
    margin-top: 20px;
  }
}
@media screen and (max-width: 500px) {
  .b20 {
    font-size: 20px;
  }
  .b20 p {
    margin-top: 50px;
    margin-bottom: 25px;
  }
  .b20-figure {
    width: 100%;
    margin: 0;
    margin-bottom: 2%;
  }
  .b20-archivo {
    font-size: 20px;
  }
  .b20-archivo span {
    margin: auto;
    margin-top: 6px;
    display: block;
  }
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b3 {
  text-align: center;
  font-size: 0;
  background: #0056ff;
  padding: 40px 0;
  padding-bottom: 80px;
  color: #fff;
}
.b3.b3-solicitud {
  margin-bottom: 20px;
}
.b3.b3-solicitud-finalizar {
  margin-bottom: 30px;
}
.b3.b3-solicitud-finalizar .b3-title strong {
  display: block;
}
.b3.b3-solicitud-finalizar .b3-title a {
  padding: 0 45px;
  display: inline-block;
}
.b3-title {
  font-family: 'DINNextLTPro-Light', sans-serif;
  font-size: 28px;
  margin-bottom: 40px;
  line-height: 1.1;
}
.b3-title strong {
  font-family: 'DINNextLTPro-Medium', sans-serif;
}
.b3-title p {
  font-size: 19px;
  font-family: 'DINNextLTPro-Light', sans-serif;
  margin-top: 10px;
  display: block;
}
.b3-item-box {
  color: #fff;
  font-size: 19px;
  width: 20%;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.b3-item-box .b3-item {
  -webkit-transform: translateY(60px);
  -moz-transform: translateY(60px);
  -o-transform: translateY(60px);
  -ms-transform: translateY(60px);
  transform: translateY(60px);
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.b3-item-box h4 {
  font-family: 'DIN-Alternate', sans-serif;
}
.b3-item-box p {
  font-size: 16px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  visibility: hidden;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
  margin: 18px 40px;
}
.b3-item-box a {
  margin: 0 40px;
  height: 40px;
  line-height: 40px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  visibility: hidden;
}
.b3-item-box:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 1px;
  height: 100%;
  background: #fff;
}
.b3-item-box:last-child:before {
  display: none;
}
.b3-item-box:hover .b3-item {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -o-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}
.b3-item-box:hover p,
.b3-item-box:hover a {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  visibility: visible;
}
.b3-icon {
  font-size: 50px;
  margin-bottom: 15px;
}
@media screen and (max-width: 1300px) {
  .b3-item-box p {
    margin: 18px 10px;
  }
  .b3-item-box a {
    font-size: 15px;
  }
}
@media screen and (max-width: 1024px) {
  .b3-item-box {
    -webkit-transform: inherit;
    -moz-transform: inherit;
    -o-transform: inherit;
    -ms-transform: inherit;
    transform: inherit;
  }
  .b3-item-box p {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    visibility: visible;
  }
  .b3-item-box a {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    visibility: visible;
    margin: 0 20px;
  }
  .b3-item-box .b3-item {
    -webkit-transform: inherit;
    -moz-transform: inherit;
    -o-transform: inherit;
    -ms-transform: inherit;
    transform: inherit;
  }
}
@media screen and (max-width: 768px) {
  .b3-title {
    font-size: 20px;
  }
  .b3-title p {
    font-size: 15px;
    display: block;
  }
  .b3.b3-solicitud-finalizar a {
    font-size: 17px;
    padding: 0 30px;
    height: 45px;
    line-height: 45px;
  }
  .b3-item-box {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding-bottom: 20px;
  }
  .b3-item-box:before {
    top: inherit;
    left: 0;
    width: 100%;
    height: 1px;
  }
  .b3-item-box .b3-icon,
  .b3-item-box h4,
  .b3-item-box p,
  .b3-item-box a {
    display: inline-block;
    vertical-align: middle;
  }
  .b3-item-box .b3-icon {
    text-align: left;
    width: 60px;
  }
  .b3-item-box a {
    margin-top: -10px;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 600px) {
  .b3 {
    margin-top: 90px;
  }
  .b3-item-box a {
    padding: 0 50px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    border-radius: 6px;
  }
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b4 {
  font-size: 0;
  padding: 50px 0;
  background: #f3f3f3;
}
.b4 img {
  max-width: 100%;
  height: auto;
  display: block;
}
.b4 .swiper-container {
  padding: 0 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b4 .swiper-pagination {
  display: none;
}
.b4 .swiper-button-next,
.b4 .swiper-button-prev {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  background: none;
}
.b4 .swiper-button-next:before,
.b4 .swiper-button-prev:before {
  content: "\e606";
  font-family: 'icomoon';
  font-size: 50px;
}
.b4 .swiper-button-prev {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  background: none;
}
.b4 .swiper-button-prev:before {
  content: "\e607";
  font-family: 'icomoon';
  font-size: 50px;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-container .swiper-button-prev,
.swiper-container .swiper-button-next {
  background: none;
}
.swiper-container .swiper-button-prev:before,
.swiper-container .swiper-button-next:before {
  content: "\e607";
  font-family: 'icomoon';
  font-size: 70px;
  position: absolute;
  left: -20px;
  color: #fff;
}
.swiper-container .swiper-button-next {
  background: none;
}
.swiper-container .swiper-button-next:before {
  content: "\e606";
  right: -20px;
  lef: inherit;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
/* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.video {
  width: 100%;
  height: 90%;
}
.videoWrapper {
  position: relative;
  top: -70px;
  padding-bottom: 56.25% /* 169 */;
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.background {
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b5 {
  text-align: right;
  font-size: 16px;
  padding-top: 50px;
  margin-bottom: 50px;
}
.b5-datos,
.b5-img {
  display: inline-block;
  vertical-align: bottom;
}
.b5-img img {
  width: 141px;
  height: 141px;
  border-radius: 50%;
  border: 1px solid #808080;
  max-width: 100%;
  height: auto;
  display: block;
}
.b5-datos {
  margin-right: 20px;
}
.b5-datos h4 {
  font-family: 'DINNextLTPro-Regular', sans-serif;
  font-size: 25px;
  margin-bottom: 7px;
}
.b5-datos p {
  font-family: 'DINNextLTPro-Regular', sans-serif;
  font-size: 20px;
  margin-bottom: 7px;
}
.b5-datos a {
  font-family: 'DINNextLTPro-Bold', sans-serif;
  color: #fff;
  font-size: 16px;
  background: #ff1440;
  padding-left: 35px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 10px;
  display: inline-block;
  position: relative;
  margin-bottom: 10px;
}
.b5-datos a:before {
  content: "\e91a";
  font-family: 'icomoon';
  font-size: 20px;
  color: #fff;
  position: absolute;
  left: 10px;
  top: 7px;
}
@media screen and (max-width: 1024px) {
  .b5-img {
    width: 120px;
    padding-right: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 600px) {
  .b5 {
    display: none;
  }
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b6 {
  font-family: 'DINNextLTPro-Bold', sans-serif;
  color: #4e4f49;
  font-size: 40px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 50px;
}
.b6 h2 {
  font-family: 'DIN-Alternate-Bold', sans-serif;
  margin-bottom: 50px;
  font-size: 32px;
}
.b6 h2 strong {
  color: #0056ff;
}
.b6-items {
  font-size: 0;
}
.b6-item {
  display: inline-block;
  vertical-align: middle;
  width: 18%;
  margin: 0 1%;
}
.b6-item.active p {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.b6-item.active .btn {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.b6-figure {
  max-width: 185px;
  margin: auto;
  width: 145px;
  height: 145px;
  background: #0056ff;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.b6-figure span {
  color: #fff;
  font-size: 70px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  height: 70px;
}
.b6-figure p {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  padding-top: 50px;
  padding-bottom: 130px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100px;
  width: 100%;
  margin: auto;
  background: #fff;
  font-size: 17px;
  color: #0056ff;
  margin-bottom: 0;
  margin-top: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.b6-items {
  font-size: 0;
}
.b6-item {
  display: inline-block;
  vertical-align: middle;
  width: 18%;
  margin: 0 1%;
}
.b6-text {
  font-size: 22px;
  font-family: 'DINNextLTPro-Medium', sans-serif;
  color: #b1b1b1;
  line-height: 1;
}
.b6-text p {
  margin: 20px 0;
}
.b6-text .btn {
  background: #ff1440;
  color: #fff;
  font-size: 21px;
  padding: 15px 10px;
  border-radius: 10px;
  margin: 0;
  -webkit-box-shadow: 0px 5px 0px 0px #a70b26;
  box-shadow: 0px 5px 0px 0px #a70b26;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.b6-text .btn:hover {
  background: #ff7e00;
  -webkit-box-shadow: 0px 5px 0px 0px #bd5d00;
  box-shadow: 0px 5px 0px 0px #bd5d00;
}
.b6-alerta {
  padding: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ff7e00;
  font-family: 'DINNextLTPro-Regular', sans-serif;
  color: #fff;
  font-size: 20px;
  margin-top: 70px;
  margin-bottom: 80px;
}
.b6-alerta a {
  text-decoration: underline;
  font-family: 'DINNextLTPro-Bold', sans-serif;
}
@media screen and (max-width: 1000px) {
  .b6-item {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
  .b6-figure,
  .b6-text,
  p {
    display: inline-block;
    vertical-align: middle;
  }
  .b6-text p {
    margin: 0 20px;
  }
}
@media screen and (max-width: 768px) {
  .b6 h2 {
    font-size: 25px;
  }
  .b6-figure {
    width: 100px;
    height: 100px;
  }
  .b6-figure span {
    font-size: 50px;
    top: 25px;
  }
  .b6-figure p {
    padding: 0;
    padding-top: 30px;
    font-size: 12px;
  }
  .b6-text p {
    font-size: 19px;
  }
  .b6-text .btn {
    font-size: 19px;
  }
}
@media screen and (max-width: 500px) {
  .b6-item {
    margin-bottom: 30px;
  }
  .b6-item.active .btn {
    display: none;
  }
  .b6-figure {
    display: block;
  }
  .b6-text p {
    display: block;
    margin: 10px 0;
  }
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b7 {
  text-align: center;
  font-size: 15px;
  background: #eeeff1;
  font-family: 'DINNextLTPro-Regular', sans-serif;
  padding-top: 30px;
  padding-bottom: 45px;
  margin-top: 50px;
}
.b7 p {
  margin-bottom: 0;
  line-height: 1.2;
}
.b7-left,
.b7-center,
.b7-right {
  display: inline-block;
  vertical-align: middle;
  width: 31.5%;
}
.b7-center {
  width: 15%;
}
.b7-left,
.b7-right {
  text-align: left;
}
.b7-left {
  font-size: 29px;
}
.b7-left p {
  max-width: 360px;
  text-align: right;
  line-height: 1;
  margin: auto;
  margin-right: 5px;
}
.b7-right strong {
  font-family: 'DINNextLTPro-Bold', sans-serif;
}
.b7-texto {
  padding-top: 70px;
  padding-bottom: 50px;
}
@media screen and (max-width: 960px) {
  .b7-left,
  .b7-right {
    width: 40%;
  }
}
@media screen and (max-width: 767px) {
  .b7-left,
  .b7-right {
    width: 90%;
    display: block;
    text-align: center;
    margin: auto;
  }
  .b7-left p {
    max-width: 100%;
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
  }
  .b7-right {
    margin-top: 20px;
  }
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b8 {
  font-family: 'DINNextLTPro-Bold', sans-serif;
  color: #4e4f49;
  font-size: 16px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 90px;
}
.b8 .wancho {
  border-bottom: 0.5px solid #b7b5b5;
  padding-bottom: 40px;
}
.b8 h2 {
  font-family: 'DIN-Alternate-Bold', sans-serif;
  margin-bottom: 50px;
  font-size: 32px;
}
.b8 h2 strong {
  color: #0056ff;
  font-family: 'DINNextLTPro-Bold', sans-serif;
}
.b8-box {
  position: relative;
  text-align: left;
  padding-left: 100px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b8-box h4 {
  font-family: 'DINNextLTPro-Bold', sans-serif;
  font-size: 18px;
}
.b8-box a {
  color: #ff1440;
  font-size: 13px;
  margin-left: 5px;
}
.b8-box ul {
  margin-top: 20px;
  margin-left: 7px;
}
.b8-box ul li {
  position: relative;
}
.b8-box ul li:before {
  content: "";
  background: #0056ff;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 5px;
  margin: auto;
}
.b8-box ul li:after {
  content: "";
  background: #0056ff;
  width: 2px;
  height: 100%;
  position: absolute;
  left: 3px;
  top: 7px;
  bottom: 0;
}
.b8-box ul li p {
  padding-bottom: 25px;
  padding-left: 20px;
  margin: 0;
  font-family: 'DIN-Alternate', sans-serif;
}
.b8-box ul li:last-child:after {
  display: none;
}
.b8-icon {
  position: absolute;
  left: 0;
  top: -30px;
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #0056ff;
  font-size: 30px;
}
.b8-icon span {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  height: 30px;
}
.b8-icon span:before {
  color: #fff;
}
.b8-content p {
  font-family: 'DIN-Alternate', sans-serif;
  font-size: 16px;
}
.b8-content .btn {
  background: #ff1440;
  color: #fff;
  font-size: 17px;
  padding: 15px 25px;
  border-radius: 10px;
  margin: 0;
  -webkit-box-shadow: 0px 5px 0px 0px #a70b26;
  box-shadow: 0px 5px 0px 0px #a70b26;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.b8-content .btn:hover {
  background: #ff7e00;
  -webkit-box-shadow: 0px 5px 0px 0px #bd5d00;
  box-shadow: 0px 5px 0px 0px #bd5d00;
}
@media screen and (max-width: 600px) {
  .b8 {
    margin-top: 100px;
  }
  .b8-box {
    padding-left: 0;
    text-align: center;
  }
  .b8-box ul {
    text-align: left;
    margin-top: 30px;
  }
  .b8-icon {
    position: inherit;
    top: -10px;
  }
  .b8-content .btn {
    position: inherit;
    display: inline-block;
    width: 80%;
    text-align: center;
  }
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b9 {
  text-align: center;
  font-size: 0;
  margin-top: 50px;
  font-family: 'DINNextLTPro-Light', sans-serif;
}
.b9 h4 {
  font-family: 'DINNextRoundedLTPro-Light', sans-serif;
  font-size: 21px;
  margin-bottom: 30px;
}
.b9 .btn-general {
  background: #ff1440;
  color: #fff;
  font-size: 17px;
  padding: 15px 60px;
  padding-bottom: 10px;
  border-radius: 10px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 50px;
  -webkit-box-shadow: 0px 5px 0px 0px #a70b26;
  box-shadow: 0px 5px 0px 0px #a70b26;
  display: inline-block;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.b9 .btn-general:hover {
  background: #ff7e00;
  -webkit-box-shadow: 0px 5px 0px 0px #bd5d00;
  box-shadow: 0px 5px 0px 0px #bd5d00;
}
.b9-form {
  font-size: 16px;
  max-width: 850px;
  margin: auto;
  text-align: center;
}
.b9-form li {
  margin-bottom: 10px;
  font-size: 0;
  text-align: left;
}
.b9-form p {
  font-family: 'DINNextLTPro-Medium', sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
  text-align: left;
}
.b9-form input,
.b9-form select {
  display: inline-block;
  vertical-align: middle;
  width: 47%;
  margin-right: 2%;
  padding: 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #757575;
  font-size: 16px;
  border: 1px solid #757575;
}
.b9-second-li {
  width: 100%;
  font-size: 16px;
}
.b9-second-item1,
.b9-second-item2 {
  display: inline-block;
  vertical-align: middle;
  width: 49%;
  font-size: 16px;
}
.b9-second-item1 p,
.b9-second-item2 p {
  margin-bottom: 0;
}
.b9-radio {
  display: inline-block;
  vertical-align: middle;
  width: 47%;
  border: 1px solid #757575;
  padding: 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #757575;
  position: relative;
  margin-right: 1%;
  cursor: pointer;
}
.b9-radio input {
  display: none;
}
.b9-radio label {
  display: block;
}
.b9-radio label:before {
  content: "";
  border: 1px solid #757575;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.b9-radio label:after {
  content: "\e605";
  font-family: 'icomoon';
  font-size: 18px;
  position: absolute;
  right: 3px;
  top: 9px;
  right: 12px;
  bottom: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.b9-radio input[type="radio"]:checked + label:after {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.b9-second-item1 p,
.b9-second-item1 input {
  display: inline-block;
  vertical-align: middle;
  width: 45%;
}
.b9-second-item1 p {
  width: 48%;
  font-family: 'DINNextLTPro-Light', sans-serif;
}
.b9-second-item1 input {
  margin-right: 0;
}
.b9-third-li {
  margin-top: 30px;
  text-align: left;
}
.b9-third-li input {
  display: none;
}
.b9-third-li label {
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
  padding-left: 30px;
  position: relative;
  font-family: 'DINNextLTPro-Medium', sans-serif;
}
.b9-third-li label:before {
  content: "";
  border: 1px solid #757575;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  top: -3px;
  bottom: 0;
  margin: auto;
}
.b9-third-li label:after {
  content: "\e605";
  font-family: 'icomoon';
  font-size: 18px;
  position: absolute;
  left: 3px;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.b9-third-li input[type="checkbox"]:checked + label:after {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.b9-third-li a {
  font-family: 'DINNextLTPro-Medium', sans-serif;
}
.b9-four-li {
  text-align: left;
}
.b9-four-li select {
  width: 47%;
}
.b9-four-li label {
  font-size: 16px;
}
.b9-four-li .b9-four-input {
  width: 23%;
}
.b9-four-li .b9-four-direccion {
  width: 47%;
  display: inline-block;
  vertical-align: middle;
}
.b9-four-li .b9-four-direccion input {
  width: 30%;
  margin-right: 3.3%;
}
.b9-four-item1,
.b9-four-item2 {
  display: inline-block;
  vertical-align: middle;
  width: 49%;
}
.b9-four-item1 .b9-checkbox,
.b9-four-item2 .b9-checkbox {
  display: inline-block;
  vertical-align: bottom;
  width: 49%;
}
.b9-four-item1 .b9-checkbox label,
.b9-four-item2 .b9-checkbox label,
.b9-four-item1 .b9-checkbox input,
.b9-four-item2 .b9-checkbox input {
  display: inline-block;
  vertical-align: bottom;
  width: 60%;
}
.b9-four-item1 .b9-checkbox input,
.b9-four-item2 .b9-checkbox input {
  width: 38%;
}
.b9-five-li .b9-second-item1 input {
  display: none;
}
.b9-terminos {
  text-align: center;
}
.b9-terminos label {
  display: block;
  text-align: left;
}
.b9-conyuge {
  background: #eaeaea;
  padding: 20px 0;
  padding-bottom: 40px;
  margin-top: 30px;
  position: relative;
}
.b9-conyuge:before {
  content: "";
  position: absolute;
  right: 100%;
  width: 2000px;
  height: 100%;
  top: 0;
  background: #eaeaea;
}
.b9-conyuge:after {
  content: "";
  position: absolute;
  left: 100%;
  width: 2000px;
  height: 100%;
  top: 0;
  background: #eaeaea;
}
.b9-propiedades {
  margin-top: 40px;
}
.b9-radio-propiedad p {
  font-family: 'DINNextLTPro-Light', sans-serif;
  display: inline-block;
  vertical-align: middle;
  width: 180px;
  margin-right: 40px;
  margin-bottom: 0;
}
.b9-box-radio {
  display: inline-block;
  vertical-align: middle;
  width: 200px;
}
.b9-box-radio .b9-radio {
  display: inline-block;
  vertical-align: middle;
  width: 70px;
  border: none;
  font-size: 16px;
}
.b9-box-radio .b9-radio label:before {
  border-radius: 50%;
}
.b9-box-radio .b9-radio label:after {
  border-radius: 50%;
  width: 6px;
  height: 6px;
  top: 15px;
  background: #000;
  right: 18px;
  content: "";
}
@media screen and (max-width: 767px) {
  .b9-form input,
  .b9-form select {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
  }
  .b9-form li {
    margin-bottom: 0;
  }
  .b9-form .b9-third-li {
    margin-bottom: 10px;
  }
  .b9-second-item1,
  .b9-second-item2 {
    width: 100%;
    margin: 0;
  }
  .b9-second-item1 p {
    margin-bottom: 10px;
  }
  .b9-radio {
    width: 49%;
    margin-bottom: 10px;
  }
  .b9-radio:first-child {
    margin-right: 1%;
  }
  .b9-four-item1,
  .b9-four-item2 {
    width: 100%;
    margin: 0;
  }
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.footer {
  background: #262525;
  padding-top: 45px;
  padding-bottom: 40px;
}
.footer-first {
  margin-bottom: 28px;
  position: relative;
}
.footer-logo {
  width: 250px;
  display: inline-block;
  vertical-align: bottom;
  text-align: left;
}
.footer-logo img {
  max-width: 100%;
  height: auto;
  display: block;
}
.footer-right-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #fff;
  padding: 15px;
  display: inline-block;
  background: #4e4f49;
  border-radius: 7px;
  -webkit-box-shadow: 0px 5px 0px 0px #353632;
  box-shadow: 0px 5px 0px 0px #353632;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.footer-right-btn:hover {
  background: #353632;
  -webkit-box-shadow: 0px 5px 0px 0px #4e4f49;
  box-shadow: 0px 5px 0px 0px #4e4f49;
}
.footer-second {
  font-size: 0;
  padding-bottom: 40px;
  border-bottom: 1px solid #4e4f49;
}
.footer-second .footer-item {
  width: 25%;
  display: inline-block;
  vertical-align: top;
}
.footer-second .footer-item p {
  margin-bottom: 0;
}
.footer-second .footer-item p span {
  display: inline-block;
  vertical-align: middle;
  margin: 0 3px;
  margin-bottom: 2px;
}
.footer-second .footer-item p span:first-child {
  margin-left: 10px;
}
.footer-second .footer-item:nth-child(3) {
  width: 20%;
}
.footer-second .footer-item:nth-child(4) {
  width: 30%;
  text-align: right;
  font-size: 16px;
  color: #fff;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
}
.footer-second .footer-item:nth-child(4) p {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 17px;
}
.footer-second .footer-item:nth-child(4) a {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
}
.footer-second a {
  color: #fff;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  font-family: 'DINNextLTPro-Light', sans-serif;
  font-size: 16px;
  margin-bottom: 17px;
  display: block;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.footer-second a:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  text-decoration: underline;
}
.footer-creditos {
  text-align: center;
  color: #fff;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  margin-top: 20px;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.footer-creditos:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
@media screen and (max-width: 960px) {
  .footer-second .footer-item {
    width: 50%;
    padding-left: 7%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .footer-second .footer-item:nth-child(3) {
    width: 50%;
    margin-top: 20px;
  }
  .footer-second .footer-item:nth-child(4) {
    width: 50%;
    margin-top: 20px;
    text-align: left;
  }
}
@media screen and (max-width: 600px) {
  .footer-first {
    text-align: center;
    margin-bottom: 100px;
  }
  .footer-right-btn {
    width: 200px;
    bottom: -70px;
    left: 0;
  }
  .footer-second .footer-item {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    padding: 0;
  }
  .footer-second .footer-item:nth-child(3) {
    width: 100%;
    text-align: center;
  }
  .footer-second .footer-item:nth-child(4) {
    width: 100%;
    text-align: center;
  }
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
body {
  overflow-x: hidden;
}
body .cnt-wrapper {
  overflow: hidden;
}
/* BODY CLASS */
.usuario .header {
  background: #0056ff;
  position: inherit;
}
.usuario .header .wancho {
  border: none;
}
.usuario .header-logo {
  background: url("../media/logo-azul.png") center center no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
}
@media screen and (max-width: 1080px) {
  .usuario .header {
    background: transparent;
    height: 1px;
  }
  .usuario .header-logo {
    top: -10px;
  }
}
.contacto .header-logo {
  background: url("../media/logo-blanco-naranja.png") center center no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
}
/* BODY CLASS */
.header {
  font-size: 0;
  color: #fff;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 99;
}
.header .wancho {
  border-bottom: 1px solid #fff;
  position: relative;
}
.header-left {
  width: 80%;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}
.header-left li {
  display: inline-block;
  vertical-align: middle;
  font-family: 'DIN-Alternate', sans-serif;
}
.header-link {
  padding: 10px;
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'DIN-Alternate-Bold', sans-serif;
  padding-bottom: 20px;
  padding-top: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.header-link:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.header-right {
  width: 20%;
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  text-align: right;
}
.header-right a {
  margin: 0 5px;
  display: inline-block;
  margin-top: 10px;
  font-size: 22px;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.header-right a:hover:before {
  color: #ff7e00;
}
.header-logo {
  position: absolute;
  left: 20px;
  top: 100px;
  display: inline-block;
  width: 270px;
  height: 109px;
  background: url("../media/logo.png") center center no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
}
.menu-mobile-open,
.menu-mobile-close {
  display: none;
}
.menu-sidebar .header,
.menu-sidebar .header-logo {
  display: none;
}
@media screen and (max-width: 1080px) {
  .cnt-wrapper {
    position: relative;
    left: 0;
    -webkit-transition: left 0.45s ease;
    -moz-transition: left 0.45s ease;
    -o-transition: left 0.45s ease;
    -ms-transition: left 0.45s ease;
    transition: left 0.45s ease;
  }
  .header-left,
  .header-right {
    display: none;
  }
  .header-logo {
    top: -10px;
    left: 10px;
    width: 180px;
  }
  .header .wancho {
    border: none;
  }
  .header.menu-responsive {
    display: block;
    width: 100%;
    margin-right: 0;
    margin-bottom: 0;
    right: 0;
    background: #fff;
  }
  .header.menu-responsive .wancho {
    width: 100%;
  }
  .header.menu-responsive .header-left,
  .header.menu-responsive .header-right {
    width: 100%;
    display: block;
    text-align: center;
  }
  .header.menu-responsive .header-left {
    padding-top: 140px;
  }
  .header.menu-responsive .header-left li {
    display: block;
  }
  .header.menu-responsive .header-link {
    width: 100%;
    padding: 5px;
    padding-bottom: 15px;
    color: #383434;
    font-size: 14px;
  }
  .header.menu-responsive .header-link:hover {
    color: #0056ff;
  }
  .header.menu-responsive .header-right {
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
    width: 100%;
  }
  .header.menu-responsive .header-right a:before {
    color: #2fc1a8;
  }
  .header.menu-responsive .header-logo {
    left: 20px;
    height: 110px;
  }
  .menu-mobile-open {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    visibility: visible;
    background: #eceaea;
    color: #f00;
    border-radius: 7px;
    cursor: pointer;
    font-size: 28px;
    height: 42px;
    width: 42px;
    line-height: 42px;
    position: fixed;
    right: 15px;
    text-align: center;
    top: 15px;
    z-index: 1000;
    display: block;
  }
  .menu-mobile-open.active {
    visibility: hidden;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  .menu-mobile-close {
    visibility: hidden;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    z-index: 1000;
    background: #fff;
    color: #ff7e00;
    cursor: pointer;
    font-size: 28px;
    height: 42px;
    width: 42px;
    line-height: 42px;
    position: fixed;
    text-align: center;
    top: 15px;
    right: 15px;
    display: block;
  }
  .menu-mobile-close.active {
    visibility: visible;
    opacity: 1;
    -ms-filter: none;
    filter: none;
    right: 20px;
    z-index: 1002;
  }
  .menu-sidebar {
    width: 100%;
    height: 0;
    position: absolute;
    background: #fff;
    top: 0;
    left: 0;
    z-index: 1000;
    -webkit-transition: right 1s ease;
    -moz-transition: right 1s ease;
    -o-transition: right 1s ease;
    -ms-transition: right 1s ease;
    transition: right 1s ease;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    -ms-transition: all 0.25s;
    transition: all 0.25s;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    visibility: hidden;
  }
  .menu-sidebar .header-logo {
    display: block;
  }
  .menu-sidebar.active {
    bottom: 0;
    opacity: 1;
    -ms-filter: none;
    filter: none;
    visibility: visible;
    height: 100%;
  }
  .menu-sidebar.active .header-logo {
    background: url("../media/logo-azul.png") center center no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
  }
}
