/********** HEADER **********/
.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 11;
}
.header-first {
  background: #323232;
  padding: 5px 0;
}
.menu-left,
.menu-right {
  display: inline-block;
  vertical-align: top;
}
.menu-left {
  margin-left: 35px;
  width: 75%;
}
.menu-right {
  text-align: right;
  width: 20%;
}
.menu-right-item {
  display: inline-block;
  vertical-align: top;
}
.menu-right-item.last a{
  padding-right: 3px;
}
.menu-right-item a {
  padding: 5px 10px;
  color: #fff;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
  font-size: 0;
}
.menu-right-item a i{
  font-size: 18px;
}
.header-first .menu-right .fa-instagram:before{
  content: "\e904";
  font-family: icomoon;
}
.header-first .menu-right .fa-facebook:before{
  content: "\e902";
  font-family: icomoon;
}
.menu-right-item a:hover {
  opacity: 0.65;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
  filter: alpha(opacity=65);
}
.menu-left-item {
  display: inline-block;
  vertical-align: top;
}
.menu-left-item a {
  text-transform: uppercase;
  color: #fff;
  font-family: 'open_sansregular', sans-serif;
  font-size: 11px;
  padding: 0 5px;
  opacity: 0.65;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
  filter: alpha(opacity=65);
  position: relative;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.menu-left-item a:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.menu-left-item a:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: -2px;
  margin: auto;
  width: 1px;
  height: 8px;
  background: #fff;
}
.menu-left-item:first-child a:before,
.menu-left-item:last-child a:before {
  content: none;
}
.header .menu-tvperu {
  margin-right: 10px;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  background: url(http://www.canalipe.tv/sites/default/themes/concise_drupal/static/media/Logo-TV-Peru-57px-56px.png);
  height: 18px;
  width: 18px;
  background-size: contain;
  background-repeat: no-repeat;
}
.header .menu-tvperu a{
  opacity: 0;
}
.menu-left-item:last-child a {
  border: none;
}
.header-ctn {
  position: fixed;
  width: 100%;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
  top: 30px;
  overflow: hidden;
}
.header-ctn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 43px;
  width: 100%;
  background: #e8e8e8;
  z-index: -1;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.header-ctn.active {
  top: 0;
  height: 55px;
  line-height: 34px;
}
.header-ctn.active .buscador {
  top: 8px;
}
.header-ctn.active .menu-buscador.active {
  height: 30px;
}
.header-ctn.active .header-logo{
  margin-left: 10px;
  margin-top: 4px;
  position: relative;
  z-index: 9;
  width: 40px;
  margin-right: 40px;
}
.header-ctn.active:after{
  height: 63px;
}
.header-ctn.active .header-logo img{
  margin: 0;
  margin-top: 5px;
  margin-left: 1px;
}
.header-ctn.active .header-logo:before{
  opacity: 0;
  transform: translateY(-60px);
}
.header-ctn.active .header-logo:after{
  height: 39px;
}
.header-ctn .wancho {
  position: relative;
}
.header-ctn .menu {
  display: inline-block;
  vertical-align: top;
  text-align: right;
}
.header-ctn .menu:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 43px;
  width: 100%;
  background: #e8e8e8;
  z-index: -1;
}
.header-logo {
  display: inline-block;
  vertical-align: top;
  width: 140px;
}
.header-logo img {
  margin-left: 40px;
  margin-top: 20px;
}
.header-logo:before {
  content: "";
  background: url("../media/fondologoipe.png") center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  width: 210px;
  height: 95px;
  z-index: -1;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.header-logo:after {
  content: "";
  position: absolute;
  right: 98%;
  top: 0;
  height: 95px;
  width: 100%;
  background: #e8e8e8;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.menu-item {
  display: inline-block;
}
.menu-link {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 20px;
  text-transform: capitalize;
  font-size: 14px;
  color: #424242;
  font-family: 'open_sansregular', sans-serif;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.menu-link.active,
.menu-link:hover {
  opacity: 0.65;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
  filter: alpha(opacity=65);
}
.menu-link.en-vivo {
  position: relative;
  padding-left: 35px;
}
.menu-link.en-vivo:before {
  content: "\e907";
  font-family: 'icomoon';
  font-size: 20px;
  color: #424242;
  position: absolute;
  left: 9px;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.menu-link.en-vivo:hover:before {
  opacity: 0.65;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
  filter: alpha(opacity=65);
}
.menu-link.ipe-play {
  position: relative;
  padding-left: 25px;
}
.menu-link.ipe-play:before {
  content: "";
  position: absolute;
  background-color: #f00;
  border-radius: 50%;
  width: 9px;
  height: 9px;
  top: -1px;
  bottom: 0;
  left: 10px;
  margin: auto;
  -webkit-animation-name: parpadeo;
  -moz-animation-name: parpadeo;
  -o-animation-name: parpadeo;
  -ms-animation-name: parpadeo;
  animation-name: parpadeo;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -o-animation-duration: 2s;
  -ms-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.buscador {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
}
.buscador span {
  display: inline-block;
}
.buscador.active {
  padding-right: 23px;
}
.buscador.active span {
  padding-right: 5px;
}
.menu-buscador.active {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  width: 70%;
  height: 25px;
}
.menu-buscador {
  -webkit-transition: all 0.25s cubic-bezier(0, -0.1, 0.45, 0.94);
  -moz-transition: all 0.25s cubic-bezier(0, -0.1, 0.45, 0.94);
  -o-transition: all 0.25s cubic-bezier(0, -0.1, 0.45, 0.94);
  -ms-transition: all 0.25s cubic-bezier(0, -0.1, 0.45, 0.94);
  transition: all 0.25s cubic-bezier(0, -0.1, 0.45, 0.94);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  display: inline-block;
  vertical-align: middle;
  width: 0%;
  padding-bottom: 3px;
  border-bottom: 1px solid #424242;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #424242;
/* WebKit */
/* Firefox 18- */
/* Firefox 19+ */
/* IE 10+ */
}
.menu-buscador ::-webkit-input-placeholder {
  color: #424242;
  font-family: 'open_sansregular', sans-serif;
}
.menu-buscador :-moz-placeholder {
  color: #424242;
  font-family: 'open_sansregular', sans-serif;
}
.menu-buscador ::-moz-placeholder {
  color: #424242;
  font-family: 'open_sansregular', sans-serif;
}
.menu-buscador :-ms-input-placeholder {
  color: #424242;
  font-family: 'open_sansregular', sans-serif;
}
.menu-buscador input {
  width: 100%;
  border: none;
  background: transparent;
  padding-left: 5px;
  color: #424242;
}
.menu-buscador input[type="submit"] {
  display: none;
}
.menu-buscador label {
  display: none;
}
.buscar-lupa {
  cursor: pointer;
  margin-top: 2px;
  font-size: 17px;
  padding-right: 15px;
}
.responsive-logo {
  margin-top: 10px;
  width: 50px;
  display: block;
  margin-left: 30px;
}
.responsive-logo img {
  display: block;
  width: 100%;
  height: auto;
}
.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  cursor: pointer;
  -webkit-transition: all 0.45s ease;
  -moz-transition: all 0.45s ease;
  -o-transition: all 0.45s ease;
  -ms-transition: all 0.45s ease;
  transition: all 0.45s ease;
}
.menu-overlay.active {
  z-index: 1000;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.menu-mobile-close,
.menu-mobile-open {
  cursor: pointer;
  font-size: 30px;
  height: 42px;
  line-height: 42px;
  position: fixed;
  right: 20px;
  text-align: center;
  top: 12px;
  -webkit-transition: all 0.45s ease;
  -moz-transition: all 0.45s ease;
  -o-transition: all 0.45s ease;
  -ms-transition: all 0.45s ease;
  transition: all 0.45s ease;
  width: 42px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}
.menu-mobile-open {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  visibility: hidden;
  z-index: 1002;
  color: #424242;
}
.menu-mobile-open.scrolling {
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
}
.menu-mobile-open:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.menu-mobile-open.active {
  visibility: hidden;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  z-index: 1000;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.menu-mobile-close {
  visibility: hidden;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  z-index: 1000;
  color: #424242;
}
.menu-mobile-close.active {
  visibility: visible;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  z-index: 1002;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.menu-sidebar {
  width: 0;
  height: 100%;
  overflow: auto;
  position: fixed;
  top: 0;
  right: 0;
  background: #fff;
  z-index: 1000;
  -webkit-transition: 1s ease;
  -moz-transition: 1s ease;
  -o-transition: 1s ease;
  -ms-transition: 1s ease;
  transition: 1s ease;
}
.menu-sidebar.active {
  width: 100%;
}
.menu-responsive {
  padding-top: 10px;
  position: relative;
  display: block;
}
.menu-responsive .menu-item {
  font-size: 16px;
  display: block;
  padding: 0 30px;
}
.menu-responsive .menu-item a {
  display: block;
  border-bottom: 1px solid #808080;
  padding: 10px 5px;
  padding-top: 30px;
  color: #424242;
}
.menu-responsive .menu-item.envivo a {
  padding-left: 40px;
}
.menu-responsive .menu-item.ipeplay a {
  padding-left: 30px;
}
.menu-responsive .menu-link.en-vivo:before {
  color: #424242;
}
.menu-responsive .buscador span {
  color: #424242;
}
.menu-responsive .menu-buscador input {
  color: #424242;
}
.cnt-wrapper,
.footer {
  position: relative;
  left: 0;
  -webkit-transition: left 0.45s ease;
  -moz-transition: left 0.45s ease;
  -o-transition: left 0.45s ease;
  -ms-transition: left 0.45s ease;
  transition: left 0.45s ease;
}
.wrapper {
  overflow: hidden;
}
body.active {
  overflow: hidden;
}
@media screen and (max-width: 1080px) {
  .header-ctn {
    top: 0;
  }
  .header-ctn .menu {
    display: none;
  }
  .menu-mobile-open {
    visibility: visible;
  }
  .header-first {
    display: none;
  }
  .header-logo {
    padding-left: 20px;
    padding-top: 10px;
  }
  .header-logo img {
    margin: 0;
    width: 50px;
  }
  .header-logo:before {
    content: none;
  }
  .header-logo:after {
    content: none;
  }
  .menu:before {
    content: none;
  }
  .header-ctn:after {
    height: 60px;
  }
  .buscador {
    position: inherit;
    width: auto;
    border-bottom: 1px solid #808080;
    margin: 0 30px;
    margin-top: 30px;
  }
  .menu-responsive .menu-item.buscador {
    padding-left: 0;
  }
  .menu-buscador {
    border-bottom: none;
  }
  .buscar-lupa {
    padding-left: 13px;
    margin-top: -3px;
  }
  .menu-link.ipe-play:before {
    top: 19px;
  }
}
/********** HEADER **********/