.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-container .swiper-button-prev,
.swiper-container .swiper-button-next {
  background: none;
}
.swiper-container .swiper-button-prev:before,
.swiper-container .swiper-button-next:before {
  content: "\e607";
  font-family: 'icomoon';
  font-size: 70px;
  position: absolute;
  left: -20px;
  color: #fff;
}
.swiper-container .swiper-button-next {
  background: none;
}
.swiper-container .swiper-button-next:before {
  content: "\e606";
  right: -20px;
  lef: inherit;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
/* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.video {
  width: 100%;
  height: 90%;
}
.videoWrapper {
  position: relative;
  top: -70px;
  padding-bottom: 56.25% /* 169 */;
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.background {
  background: url("http://www.tvperu.gob.pe/sites/default/files/styles/blog_704_328/public/tvperu_0.jpg?itok=avxn-tvb") center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
}