/* normalize.css v2.1.0 | MIT License | git.io/normalize */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
/* 1 */
  -webkit-text-size-adjust: 100%;
/* 2 */
  -ms-text-size-adjust: 100%;
/* 2 */
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
/* 1 */
  padding: 0;
/* 2 */
}
button,
input,
select,
textarea {
  font-family: inherit;
/* 1 */
  font-size: 100%;
/* 2 */
  margin: 0;
/* 3 */
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
/* 2 */
  cursor: pointer;
/* 3 */
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
/* 1 */
  padding: 0;
/* 2 */
}
input[type="search"] {
  -webkit-appearance: textfield;
/* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
/* 2 */
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
/* 1 */
  vertical-align: top;
/* 2 */
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
h7 p,
blockquote,
pre,
a,
abbr,
acronym,
address,
code,
del,
dfn,
em,
img,
q,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
section,
menu,
details {
  margin: auto;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
section,
menu {
  display: block;
}
html,
body {
  height: 100%;
}
body {
  font-family: Verdana;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
h2 {
  margin: 0 0 10px;
  font-size: 38px;
  line-height: 1;
  font-weight: bold;
}
h3 {
  margin: 0 0 10px;
  font-size: 12px;
  line-height: 1;
}
h4 {
  padding: 0;
  margin: 0 0 10px;
  font-size: 16px;
  line-height: 1;
}
h5 {
  margin: 0 0 10px;
  font-size: 18px;
  line-height: 1;
  font-weight: bold;
}
h6 {
  font-size: 16px;
  font-size: 18px;
  line-height: 1;
}
a img {
  border: none;
}
p {
  margin: 0 0 15px;
}
li {
  list-style: none;
}
em,
cite {
  font-style: normal;
}
strong {
  font-weight: bold;
}
label {
  cursor: pointer;
}
textarea {
  font-family: Arial, sans-serif;
  resize: none;
}
input[type="submit"] {
  cursor: pointer;
}
:focus {
  outline: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th,
td {
  font-weight: normal;
}
table,
th,
td {
  vertical-align: middle;
}
br {
  line-height: 1;
}
@font-face {
  font-family: 'DIN-Alternate';
  src: url("../fonts/DIN-Alternate.eot");
  src: local('☺'), url("../fonts/DIN-Alternate.woff") format('woff'), url("../fonts/DIN-Alternate.ttf") format('truetype'), url("../fonts/DIN-Alternate.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DIN-Alternate-Bold';
  src: url("../fonts/DIN-Alternate-Bold.eot");
  src: local('☺'), url("../fonts/DIN-Alternate-Bold.woff") format('woff'), url("../fonts/DIN-Alternate-Bold.ttf") format('truetype'), url("../fonts/DIN-Alternate-Bold.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DINNextLTPro-Bold';
  src: url("../fonts/DINNextLTPro-Bold.eot");
  src: local('☺'), url("../fonts/DINNextLTPro-Bold.woff") format('woff'), url("../fonts/DINNextLTPro-Bold.ttf") format('truetype'), url("../fonts/DINNextLTPro-Bold.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DINNextLTPro-Heavy';
  src: url("../fonts/DINNextLTPro-Heavy.eot");
  src: local('☺'), url("../fonts/DINNextLTPro-Heavy.woff") format('woff'), url("../fonts/DINNextLTPro-Heavy.ttf") format('truetype'), url("../fonts/DINNextLTPro-Heavy.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DINNextLTPro-HeavyCondensed';
  src: url("../fonts/DINNextLTPro-HeavyCondensed.eot");
  src: local('☺'), url("../fonts/DINNextLTPro-HeavyCondensed.woff") format('woff'), url("../fonts/DINNextLTPro-HeavyCondensed.ttf") format('truetype'), url("../fonts/DINNextLTPro-HeavyCondensed.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DINNextLTPro-Italic';
  src: url("../fonts/DINNextLTPro-Italic.eot");
  src: local('☺'), url("../fonts/DINNextLTPro-Italic.woff") format('woff'), url("../fonts/DINNextLTPro-Italic.ttf") format('truetype'), url("../fonts/DINNextLTPro-Italic.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DINNextLTPro-Light';
  src: url("../fonts/DINNextLTPro-Light.eot");
  src: local('☺'), url("../fonts/DINNextLTPro-Light.woff") format('woff'), url("../fonts/DINNextLTPro-Light.ttf") format('truetype'), url("../fonts/DINNextLTPro-Light.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DINNextLTPro-LightCondensed';
  src: url("../fonts/DINNextLTPro-LightCondensed.eot");
  src: local('☺'), url("../fonts/DINNextLTPro-LightCondensed.woff") format('woff'), url("../fonts/DINNextLTPro-LightCondensed.ttf") format('truetype'), url("../fonts/DINNextLTPro-LightCondensed.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DINNextLTPro-Medium';
  src: url("../fonts/DINNextLTPro-Medium.eot");
  src: local('☺'), url("../fonts/DINNextLTPro-Medium.woff") format('woff'), url("../fonts/DINNextLTPro-Medium.ttf") format('truetype'), url("../fonts/DINNextLTPro-Medium.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DINNextLTPro-MediumItalic';
  src: url("../fonts/DINNextLTPro-MediumItalic.eot");
  src: local('☺'), url("../fonts/DINNextLTPro-MediumItalic.woff") format('woff'), url("../fonts/DINNextLTPro-MediumItalic.ttf") format('truetype'), url("../fonts/DINNextLTPro-MediumItalic.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DINNextLTPro-Regular';
  src: url("../fonts/DINNextLTPro-Regular.eot");
  src: local('☺'), url("../fonts/DINNextLTPro-Regular.woff") format('woff'), url("../fonts/DINNextLTPro-Regular.ttf") format('truetype'), url("../fonts/DINNextLTPro-Regular.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DINNextLTPro-UltraLight';
  src: url("../fonts/DINNextLTPro-UltraLight.eot");
  src: local('☺'), url("../fonts/DINNextLTPro-UltraLight.woff") format('woff'), url("../fonts/DINNextLTPro-UltraLight.ttf") format('truetype'), url("../fonts/DINNextLTPro-UltraLight.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DINNextRoundedLTPro-Light';
  src: url("../fonts/DINNextRoundedLTPro-Light.eot");
  src: local('☺'), url("../fonts/DINNextRoundedLTPro-Light.woff") format('woff'), url("../fonts/DINNextRoundedLTPro-Light.ttf") format('truetype'), url("../fonts/DINNextRoundedLTPro-Light.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DINNextRoundedLTPro-Regular';
  src: url("../fonts/DINNextRoundedLTPro-Regular.eot");
  src: local('☺'), url("../fonts/DINNextRoundedLTPro-Regular.woff") format('woff'), url("../fonts/DINNextRoundedLTPro-Regular.ttf") format('truetype'), url("../fonts/DINNextRoundedLTPro-Regular.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Kalam-Regular';
  src: url("../fonts/Kalam-Regular.eot");
  src: local('☺'), url("../fonts/Kalam-Regular.woff") format('woff'), url("../fonts/Kalam-Regular.ttf") format('truetype'), url("../fonts/Kalam-Regular.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?l3hztu");
  src: url("../fonts/icomoon.eot?l3hztu#iefix") format('embedded-opentype'), url("../fonts/icomoon.ttf?l3hztu") format('truetype'), url("../fonts/icomoon.woff?l3hztu") format('woff'), url("../fonts/icomoon.svg?l3hztu#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
/* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-Recibos-de-luz:before {
  content: "\e901";
  color: #525252;
}
.icon-recibo-x-honorarios:before {
  content: "\e919";
  color: #525252;
}
.icon-Pago-Impuestos:before {
  content: "\e91d";
  color: #525252;
}
.icon-DNI:before {
  content: "\e91e";
  color: #525252;
}
.icon-Boletas:before {
  content: "\e91f";
  color: #525252;
}
.icon-candadoiniciar-sesion:before {
  content: "\e909";
  color: #fff;
}
.icon-twitter:before {
  content: "\e91c";
  color: #fff;
}
.icon-adelanto-de-sueldo-ico:before {
  content: "\e900";
  color: #fff;
}
.icon-credito-hipotecario-ico:before {
  content: "\e903";
  color: #fff;
}
.icon-credito-vehicular-ico:before {
  content: "\e904";
  color: #fff;
}
.icon-prestamo-personal-ico:before {
  content: "\e905";
  color: #fff;
}
.icon-Tarjeta-de-credito-ico:before {
  content: "\e906";
  color: #fff;
}
.icon-facebook:before {
  content: "\e907";
  color: #fff;
}
.icon-logomi-prestamo-ya .path1:before {
  content: "\e90a";
  color: #fff;
}
.icon-logomi-prestamo-ya .path2:before {
  content: "\e90b";
  margin-left: -3.8203125em;
  color: #ff7e00;
}
.icon-logomi-prestamo-ya .path3:before {
  content: "\e90c";
  margin-left: -3.8203125em;
  color: #ff7e00;
}
.icon-logomi-prestamo-ya .path4:before {
  content: "\e90d";
  margin-left: -3.8203125em;
  color: #fff;
}
.icon-logomi-prestamo-ya .path5:before {
  content: "\e90e";
  margin-left: -3.8203125em;
  color: #fff;
}
.icon-logomi-prestamo-ya .path6:before {
  content: "\e90f";
  margin-left: -3.8203125em;
  color: #fff;
}
.icon-logomi-prestamo-ya .path7:before {
  content: "\e910";
  margin-left: -3.8203125em;
  color: #fff;
}
.icon-logomi-prestamo-ya .path8:before {
  content: "\e911";
  margin-left: -3.8203125em;
  color: #fff;
}
.icon-logomi-prestamo-ya .path9:before {
  content: "\e912";
  margin-left: -3.8203125em;
  color: #fff;
}
.icon-logomi-prestamo-ya .path10:before {
  content: "\e913";
  margin-left: -3.8203125em;
  color: #fff;
}
.icon-logomi-prestamo-ya .path11:before {
  content: "\e914";
  margin-left: -3.8203125em;
  color: #fff;
}
.icon-logomi-prestamo-ya .path12:before {
  content: "\e915";
  margin-left: -3.8203125em;
  color: #fff;
}
.icon-logomi-prestamo-ya .path13:before {
  content: "\e916";
  margin-left: -3.8203125em;
  color: #fff;
}
.icon-logomi-prestamo-ya .path14:before {
  content: "\e917";
  margin-left: -3.8203125em;
  color: #fff;
}
.icon-logomi-prestamo-ya .path15:before {
  content: "\e918";
  margin-left: -3.8203125em;
  color: #fff;
}
.icon-ya:before {
  content: "\e91a";
  color: #fff;
}
.icon-youtube:before {
  content: "\e91b";
  color: #fff;
}
.icon-iconofacebook:before {
  content: "\e902";
}
.icon-iconotwitter:before {
  content: "\e908";
}
.icon-close:before {
  content: "\e605";
}
.icon-arrow-right:before {
  content: "\e606";
}
.icon-arrow-left:before {
  content: "\e607";
}
.icon-arrow-down:before {
  content: "\e608";
}
.icon-arrow-up:before {
  content: "\e609";
}
.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.wancho {
  width: 96%;
  max-width: 1300px;
  margin: auto;
}
body {
  font-size: 15px;
  font-family: 'DIN-Alternate', sans-serif;
  color: #383434;
}
a {
  color: inherit;
}
a:focus {
  outline: none;
}
.link:hover {
  text-decoration: underline;
  color: #ff7e00;
}
.relative {
  position: relative;
}
.left {
  float: left;
}
.right {
  float: right;
}
.envolve {
  overflow: hidden;
}
.child-ib>* {
  display: inline-block;
  vertical-align: top;
}
.no-style {
  line-height: 1.4;
}
.g-text p {
  margin-bottom: 0;
  margin-top: s-5;
  line-height: 1.2;
}
.g-text p:first-child {
  margin-top: 0;
}
