{% extends "../common/_base2.html" %}

{% block cssadicional %}
{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<!-- BLOQUE 1 -->
<section class="b1">
	<div class="wancho">
		<div class="b1-left">
			<h2>
				¿Cansado de ir banco por banco <strong>por un préstamo?</strong>
			</h2>
			<p>
				<span class="icon-ya"></span> 
				Olvídate de eso, 
        		llegamos para ayudarte
			</p>
		</div>
		<div class="b1-right">
			<div class="b1-form">
				<form action="">
					<input type="text" placeholder="DNI">
					<button>Regístrate ahora</button>
				</form>
				<p>
					Al darle clic a “Registrarte, estás aceptando nuestros <a href="">Términos y Condiciones</a> y <a href="">Políticas de Uso</a> de datos.
				</p>
			</div>
			<p class="b1-login">
				¿Ya estás regisitrado?
				Entonces <a href="">inicia sesión</a>
			</p>
		</div>
		<figure class="b1-dolar uno">
			<img src="{{ STATIC_URL }}media/billete4.png" alt="">
		</figure>
		<figure class="b1-dolar dos">
			<img src="{{ STATIC_URL }}media/billetes1.png" alt="">
		</figure>
		<figure class="b1-dolar tres">
			<img src="{{ STATIC_URL }}media/billetes-2.png" alt="">
		</figure>
		<figure class="b1-dolar cuatro">
			<img src="{{ STATIC_URL }}media/billetes-3.png" alt="">
		</figure>
	</div>
</section>


{% endblock %}
{% block jsfinal %}
<script src="{{ STATIC_URL }}js/swiper.min.js" type="text/javascript"></script>
<script type="text/javascript">
	$(function(){


	});
</script>
{% endblock %}
