{% extends "../common/_base2.html" %}

{% block cssadicional %}
{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<!-- BLOQUE 10 -->
<section class="b10">
	<div class="wancho">
		<h1>
			Estemos siempre conectados
			<strong>Contacto</strong>
		</h1>
	</div>
</section>




{% endblock %}
{% block jsfinal %}
<script type="text/javascript">
	$(function(){

	});
</script>
{% endblock %}
