{% extends "../common/_base2.html" %}

{% block cssadicional %}
{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<!-- BLOQUE 13 -->
<section class="b13">
	<div class="wancho">
		<div class="b8-box">
			<div class="b8-icon">
				<span class="icon-adelanto-de-sueldo-ico"></span>
			</div>
			<h4>
				Adelanto de Sueldo
				<a href="">regresar a pre-aprobado</a>
			</h4>
			<ul>
				<li>
					<figure class="b13-img">
						<img src="{{ STATIC_URL }}media/b4-2.jpg" alt="">
					</figure>
					<p>
						Crédito aprobado: <strong>S/3,500.00</strong>
					</p>
					<a href="" class="btn1">Lo quiero</a>
				</li>
				<li>
					<figure class="b13-img">
						<img src="{{ STATIC_URL }}media/b4-2.jpg" alt="">
					</figure>
					<p>
						Crédito aprobado: <strong>S/3,500.00</strong>
					</p>
					<a href="" class="btn1">Lo quiero</a>
				</li>
				<li>
					<figure class="b13-img">
						<img src="{{ STATIC_URL }}media/b4-2.jpg" alt="">
					</figure>
					<p>
						Crédito aprobado: <strong>S/3,500.00</strong>
					</p>
					<a href="" class="btn1">Lo quiero</a>
				</li>
			</ul>
		</div>
		<p class="b6-alerta">
			¿No te convence ninguno? Da <a href="">click aquí</a> para solicitar una nueva evaluación para un crédito a tu medida
		</p>
	</div>
</section>




{% endblock %}
{% block jsfinal %}
<script type="text/javascript">
	$(function(){

	});
</script>
{% endblock %}
