{% extends "../common/_base2.html" %}

{% block cssadicional %}
{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<!-- BLOQUE 14 -->
<section class="b14">
	<div class="wancho">
		<p>
			También puede solicitar: 
		</p>
		<div class="b6-items">
			<a href="" class="b6-item">
				<div class="b6-figure">
					<span class="icon-adelanto-de-sueldo-ico"></span>
				</div>
			</a>
			<a href="" class="b6-item">
				<div class="b6-figure">
					<span class="icon-adelanto-de-sueldo-ico"></span>
				</div>
			</a>
			<a href="" class="b6-item">
				<div class="b6-figure">
					<span class="icon-adelanto-de-sueldo-ico"></span>
				</div>
			</a>
			<a href="" class="b6-item">
				<div class="b6-figure">
					<span class="icon-adelanto-de-sueldo-ico"></span>
				</div>
			</a>
			<a href="" class="b6-item">
				<div class="b6-figure">
					<span class="icon-adelanto-de-sueldo-ico"></span>
				</div>
			</a>
		</div>
	</div>
</section>



{% endblock %}
{% block jsfinal %}
<script type="text/javascript">
	$(function(){

	});
</script>
{% endblock %}
