{% extends "../common/_base2.html" %}

{% block cssadicional %}
{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<!-- BLOQUE 16 -->
<section class="b16">
	<div class="wancho">
		<div class="b16-text">
			<div class="b16-container">
				<h1>Un paso más</h1>
				<p>
					La validación de celular y DNI es <br>
					necesaria para poder identificarte
				</p>
			</div>
		</div>
	</div>
</section>




{% endblock %}
{% block jsfinal %}
<script type="text/javascript">
	$(function(){

	});
</script>
{% endblock %}
