{% extends "../common/_base2.html" %}

{% block cssadicional %}
{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<!-- BLOQUE 17 -->
<section class="b17">
	<div class="wancho b17-border">
		<div class="b17-container">
			<form action="">
				<div class="b17-left">
					<div class="b17-left-box">
						<p>
							Hemos enviado un código al celular:
						</p>
						<strong>987 82 09 62</strong>
						<p>
							Por favor introduce los 4 dígitos del código:
						</p>
						<div class="b17-left-form">
								<input class="input" type="text">
								<input class="input" type="text">
								<input class="input" type="text">
								<input class="input" type="text">
						</div>
						<p class="b17-celular">
							¿Aún no te ha llegado? Vuelve a <a href="">ingresar tu celular</a>
						</p>
					</div>
				</div>
				<div class="b17-right">
					<div class="b17-right-box">
						<p>Introduce el código verificador de tu DNI</p>
						<input class="input" type="text">
							<figure class="b17-right-figure">
								<img src="{{ STATIC_URL }}media/b4-1.jpg" alt="">
							</figure>
					</div>
				</div>
				<button class="btn1">Finalizar</button>
			</form>
		</div>
	</div>
	<div class="wancho">
		<p class="b17-terminos">
			Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. 
			<br><br>
			Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
		</p>
	</div>
</section>


{% endblock %}
{% block jsfinal %}
<script type="text/javascript">
	$(function(){

	});
</script>
{% endblock %}
