{% extends "../common/_base2.html" %}

{% block cssadicional %}
{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<!-- BLOQUE 18 -->
<section class="b17 b18 b9">
	<div class="wancho b18-border">
		<div class="b18-container">
			<div class="b9-form">
				<form action="">
					<ul>
						<li>
							<input type="text" placeholder="Apellido Paterno">
							<input type="text" placeholder="Apellido Materno">
						</li>
						<li class="b9-second-li">
							<input type="text" placeholder="Nombres">
							<div class="b9-second-item1">
								<select name="document" id="documento">
									<option value="">
										Fecha de Nacimiento
									</option>
								</select>
							</div>
						</li>
						<li class="b9-four-li">
							<input type="text" placeholder="Correo Eletrónico">
							<input type="text" class="b9-four-input" placeholder="Teléfono Celular">
						</li>
						<li class="b9-four-li">
							<div class="b9-four-item1">
								<select name="document" id="documento">
									<option value="">Provincia</option>
								</select>
								<select name="document" id="documento">
									<option value="">Ciudad</option>
								</select>
							</div>
							<div class="b9-four-item2">
								<select name="document" id="documento">
									<option value="">Distrito</option>
								</select>
								<div class="b9-four-direccion">
									<input type="text" placeholder="Nro">
									<input type="text" placeholder="Lot">
									<input type="text" placeholder="Dept">
								</div>
							</div>
						</li>
						<li class="b9-five-li">
							<div class="b9-second-item1">
								<div class="b9-radio">
									<input type="radio" value="si" class="radio1" name="dependiente2" checked id="radiosi2">
									<label for="radiosi2">Dependiente</label>
								</div>
								<div class="b9-radio">
									<input type="radio" value="no" class="radio2" name="dependiente2" checked id="radiono2">
									<label for="radiono2">Independiente</label>
								</div>
							</div>
							<div class="b9-second-item2">
								<select name="document" id="documento">
									<option value="">Estado Civíl</option>
								</select>
							</div>
						</li>
						<li class="b9-third-li b9-terminos">
							<input type="checkbox" id="terminos">
							<label for="terminos">Acepto <a href="">Términos y Condiciones</a> de Mi Préstamo Ya</label>
							<a href="" class="btn-general">Continuar</a>
						</li>
					</ul>
				</form>
			</div>
		</div>
	</div>
	<div class="wancho">
		<p class="b17-terminos">
			Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. 
			<br><br>
			Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
		</p>
	</div>
</section>




{% endblock %}
{% block jsfinal %}
<script type="text/javascript">
	$(function(){

	});
</script>
{% endblock %}
