{% extends "../common/_base2.html" %}

{% block cssadicional %}
{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<!-- BLOQUE 19 -->
<section class="b19">
	<div class="wancho">
		<div class="icon-prestamo-personal-ico b19-icono"></div>
		<p>
			Estás solitando un <strong>Préstamo Personal</strong> <br>
			<span>
				por el monto de, S/3500.00 a 18 meses
			</span>
		</p>
		<a href="" class="btn1">Modificar</a>
	</div>
</section>

<section class="b19 b19-2">
	<div class="wancho">
		<div class="icon-prestamo-personal-ico b19-icono"></div>
		<p>
			Estás solitando un <strong>Préstamo Personal</strong>
		</p>

		<div class="b20-monto">
			<p>Coloca el monto que te interesaría obtener</p>
			<select name="moneda" id="moneda">
				<option value="">Soles</option>
			</select>
			<input type="text" placeholder="3.500.00">
			<p>Elige en cuántas cuotas te gustarían</p>
			<span>12 meses</span> BARRA <span>+36 meses</span>
			<input type="text" placeholder="18 meses" class="b19-input">
		</div>
	</div>
</section>



{% endblock %}
{% block jsfinal %}
<script type="text/javascript">
	$(function(){

	});
</script>
{% endblock %}
