{% extends "../common/_base2.html" %}

{% block cssadicional %}
{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<!-- BLOQUE 2 -->
<section class="b2">
  <div class="wancho">
    <p>
      Revisa tus créditos preaprobados con <br>
      nuestras entidades asociadas y comienza a vivir una nueva experiencia en el mundo financiero
    </p>
    <h2>Bievenido a </h2>
    <a href=""><img src="{{ STATIC_URL }}media/logo-azul.png" alt=""></a>
  </div>
</section>



{% endblock %}
{% block jsfinal %}
<script type="text/javascript">
  $(function(){
</script>
{% endblock %}
