{% extends "../common/_base2.html" %}

{% block cssadicional %}
{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<!-- BLOQUE 20 -->
<section class="b20">
	<div class="wancho">
		<p>
			Recuerda que si colocas un sustento adicional es <br>
			más probable que aprueben tu crédito
		</p>
		<div class="b20-content">
			<a href="" class="b20-figure">
				<span class="icon-Boletas"></span>
				<figcaption>
					Boletas de Pago <br>
					(últimos 3 meses)
				</figcaption>
			</a>
			<a href="" class="b20-figure">
				<span class="icon-Recibos-de-luz"></span>
				<figcaption>
					Recibos de servicio <br>
					(agua o luz)
				</figcaption>
			</a>
			<a href="" class="b20-figure">
				<span class="icon-DNI"></span>
				<figcaption>
					DNI de cónyuge <br>
					(escaneado tira y retira)
				</figcaption>
			</a>
			<hr>
			<a href="" class="b20-figure">
				<span class="icon-Pago-Impuestos"></span>
				<figcaption>
					Pago de Impuestos de <br>
					Recibos por Honorarios
				</figcaption>
			</a>
			<a href="" class="b20-figure active">
				<span class="icon-recibo-x-honorarios"></span>
				<figcaption>
					Recibo por honorarios <br>
					(últimos 6 recibidos)
				</figcaption>
			</a>
		</div>

		<div class="b20-box-archivo">
			<div class="b20-archivo">
				<input type="file" id="file">
				<!-- <label for="file">Seleccione archivo
				</label> -->
				<span>No se eligió archivo</span>
			</div>
			<p class="b20-archivo-p">
				Los archivos deben ser menores que 100 MB.
				Tipos de archivo permitidos: .zip o .rar
			</p>
		</div>

		<div class="b20-btns">
			<a href="" class="btn1">Omitir</a>
			<a href="" class="btn1 b20-btn">Finalizar</a>
		</div>
	</div>
</section>




{% endblock %}
{% block jsfinal %}
<script type="text/javascript">
	$(function(){

	});
</script>
{% endblock %}
