{% extends "../common/_base2.html" %}

{% block cssadicional %}
{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<!-- BLOQUE 3 -->
<section class="b3">
	<div class="wancho">
		<h3 class="b3-title">
			Nuestros <strong>Productos</strong>
		</h3>
		<div class="b3-items">
			<div class="b3-item-box">
				<div class="b3-item">
					<div class="b3-icon icon-adelanto-de-sueldo-ico"></div>
					<h4>
						Adelanto <br>de Sueldo
					</h4>
					<p>
						<strong>Mira</strong> el crédito hipotecario para la casa que tanto deseas.
					</p>
					<a href="">
						¡Solicita YA!
					</a>
				</div>
			</div>
			<div class="b3-item-box">
				<div class="b3-item">
					<div class="b3-icon icon-Tarjeta-de-credito-ico"></div>
					<h4>
						Tarjeta <br> de Crédito
					</h4>
					<p>
						<strong>Mira</strong> el crédito hipotecario para la casa que tanto deseas.
					</p>
					<a href="">
						¡Solicita YA!
					</a>
				</div>
			</div>
			<div class="b3-item-box">
				<div class="b3-item">
					<div class="b3-icon icon-credito-vehicular-ico"></div>
					<h4>
						Crédito <br>
						Vehículo
					</h4>
					<p>
						<strong>Mira</strong> el crédito hipotecario para la casa que tanto deseas.
					</p>
					<a href="">
						¡Solicita YA!
					</a>
				</div>
			</div>
			<div class="b3-item-box">
				<div class="b3-item">
					<div class="b3-icon icon-credito-hipotecario-ico"></div>
					<h4>
						Crédito <br> Hipotecario
					</h4>
					<p>
						<strong>Mira</strong> el crédito hipotecario para la casa que tanto deseas.
					</p>
					<a href="">
						¡Solicita YA!
					</a>
				</div>
			</div>
			<div class="b3-item-box">
				<div class="b3-item">
					<div class="b3-icon icon-prestamo-personal-ico"></div>
					<h4>
						Préstamo <br> Personal
					</h4>
					<p>
						<strong>Mira</strong> el crédito hipotecario para la casa que tanto deseas.
					</p>
					<a href="">
						¡Solicita YA!
					</a>
				</div>
			</div>
		</div>
	</div>
</section>




{% endblock %}
{% block jsfinal %}
<script type="text/javascript">
	$(function(){

	});
</script>
{% endblock %}
