{% extends "../common/_base2.html" %}

{% block cssadicional %}
{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<!-- BLOQUE 30 -->

<script src="https://code.createjs.com/createjs-2015.11.26.min.js"></script>
<script src="MANOSMIKO.js"></script>
<script>
var canvas, stage, exportRoot;
function init() {
	// --- write your JS code here ---
	
	canvas = document.getElementById("canvas");
	images = images||{};
	ss = ss||{};

	var loader = new createjs.LoadQueue(false);
	loader.addEventListener("fileload", handleFileLoad);
	loader.addEventListener("complete", handleComplete);
	loader.loadFile({src:"images/MANOSMIKO_atlas_.json?1496071553369", type:"spritesheet", id:"MANOSMIKO_atlas_"}, true);
	loader.loadManifest(lib.properties.manifest);
}

function handleFileLoad(evt) {
	if (evt.item.type == "image") { images[evt.item.id] = evt.result; }
}

function handleComplete(evt) {
	var queue = evt.target;
	ss["MANOSMIKO_atlas_"] = queue.getResult("MANOSMIKO_atlas_");
	exportRoot = new lib.MANOSMIKO();

	stage = new createjs.Stage(canvas);
	stage.addChild(exportRoot);
	stage.update();

	createjs.Ticker.setFPS(lib.properties.fps);
	createjs.Ticker.addEventListener("tick", stage);
}

</script>

<!-- write your code here -->

</head>
<body onload="init();" style="background-color:#D4D4D4;margin:0px;">
	<canvas id="canvas" width="1024" height="768" style="background-color:#FFFFFF"></canvas>
</body>
</html>



{% endblock %}
{% block jsfinal %}
<script src="https://code.createjs.com/createjs-2015.11.26.min.js"></script>
<script src="MANOSMIKO.js?1496071553369"></script>
<script type="text/javascript">
	$(function(){
		(function (lib, img, cjs, ss) {

var p; // shortcut to reference prototypes

// library properties:
lib.properties = {
	width: 1024,
	height: 768,
	fps: 24,
	color: "#FFFFFF",
	manifest: []
};



// symbols:



(lib.HOME = function() {
	this.spriteSheet = ss["MANOSMIKO_atlas_"];
	this.gotoAndStop(0);
}).prototype = p = new cjs.Sprite();



(lib.Objetointeligentevectorial = function() {
	this.spriteSheet = ss["MANOSMIKO_atlas_"];
	this.gotoAndStop(1);
}).prototype = p = new cjs.Sprite();



(lib.Objetointeligentevectorial_1 = function() {
	this.spriteSheet = ss["MANOSMIKO_atlas_"];
	this.gotoAndStop(2);
}).prototype = p = new cjs.Sprite();



(lib.Objetointeligentevectorial_2 = function() {
	this.spriteSheet = ss["MANOSMIKO_atlas_"];
	this.gotoAndStop(3);
}).prototype = p = new cjs.Sprite();



(lib.Símbolo1 = function(mode,startPosition,loop) {
	this.initialize(mode,startPosition,loop,{});

	// Capa 1
	this.shape = new cjs.Shape();
	this.shape.graphics.f("#FFFFFF").s().p("EhSKA+uMAAAh9bMCkVAAAMAAAB9bg");
	this.shape.setTransform(526,401.5);

	this.timeline.addTween(cjs.Tween.get(this.shape).wait(1));

}).prototype = p = new cjs.MovieClip();
p.nominalBounds = new cjs.Rectangle(0,0,1051.9,803);


(lib.manorealmentederecha = function(mode,startPosition,loop) {
	this.initialize(mode,startPosition,loop,{});

	// Capa 1
	this.instance = new lib.Objetointeligentevectorial_2();

	this.timeline.addTween(cjs.Tween.get(this.instance).wait(1));

}).prototype = p = new cjs.MovieClip();
p.nominalBounds = new cjs.Rectangle(0,0,453,686);


(lib.Objetointeligentevectorial_1_1 = function(mode,startPosition,loop) {
	this.initialize(mode,startPosition,loop,{});

	// Capa 1
	this.instance = new lib.Objetointeligentevectorial_1();

	this.timeline.addTween(cjs.Tween.get(this.instance).wait(1));

}).prototype = p = new cjs.MovieClip();
p.nominalBounds = new cjs.Rectangle(0,0,255,251);


(lib.Objetointeligentevectorial_3 = function(mode,startPosition,loop) {
	this.initialize(mode,startPosition,loop,{});

	// Capa 1
	this.instance = new lib.Objetointeligentevectorial();

	this.timeline.addTween(cjs.Tween.get(this.instance).wait(1));

}).prototype = p = new cjs.MovieClip();
p.nominalBounds = new cjs.Rectangle(0,0,253,703);


(lib.manoderecha = function(mode,startPosition,loop) {
	this.initialize(mode,startPosition,loop,{});

	// Capa 1
	this.instance = new lib.Objetointeligentevectorial_3();
	this.instance.setTransform(126.5,351.5,1,1,0,0,0,126.5,351.5);

	this.timeline.addTween(cjs.Tween.get(this.instance).wait(1));

}).prototype = p = new cjs.MovieClip();
p.nominalBounds = new cjs.Rectangle(0,0,253,703);


(lib.galleta = function(mode,startPosition,loop) {
	this.initialize(mode,startPosition,loop,{});

	// Capa 1
	this.instance = new lib.Objetointeligentevectorial_1_1();
	this.instance.setTransform(127.5,125.5,1,1,0,0,0,127.5,125.5);

	this.timeline.addTween(cjs.Tween.get(this.instance).wait(1));

}).prototype = p = new cjs.MovieClip();
p.nominalBounds = new cjs.Rectangle(0,0,255,251);


// stage content:
(lib.MANOSMIKO = function(mode,startPosition,loop) {
	this.initialize(mode,startPosition,loop,{});

	// mano realmente derecha
	this.instance = new lib.manorealmentederecha();
	this.instance.setTransform(900.6,1469,1,1,15,0,0,333.5,663);
	this.instance._off = true;

	this.timeline.addTween(cjs.Tween.get(this.instance).wait(19).to({_off:false},0).to({x:693.6,y:1017},6).wait(4).to({regX:333.4,rotation:35.2,x:659.5,y:909},7).wait(6).to({rotation:103.9,y:909.1},8).to({_off:true},18).wait(14));

	// mano derecha
	this.instance_1 = new lib.manoderecha();
	this.instance_1.setTransform(592.4,1384.5,1,1,-30,0,0,242.6,698.5);
	this.instance_1._off = true;

	this.timeline.addTween(cjs.Tween.get(this.instance_1).wait(12).to({_off:false},0).to({regY:698.6,rotation:-15,x:532.4,y:995.6},6).wait(9).to({rotation:-10,x:532.3},6).wait(9).to({regY:698.5,rotation:-70,x:532.4,y:995.5},8).to({_off:true},18).wait(14));

	// galleta
	this.instance_2 = new lib.galleta();
	this.instance_2.setTransform(506.5,973.5,1,1,0,0,0,127.5,125.5);

	this.timeline.addTween(cjs.Tween.get(this.instance_2).to({y:429.5},7,cjs.Ease.get(0.99)).to({y:402.5},2).to({y:429.5},3).wait(59).to({scaleX:0.38,scaleY:0.38,x:518.3,y:414.8,alpha:0},6).wait(5));

	// Capa 2
	this.instance_3 = new lib.Símbolo1();
	this.instance_3.setTransform(516,382.4,1,1,0,0,0,526,401.4);
	this.instance_3.alpha = 0.828;

	this.timeline.addTween(cjs.Tween.get(this.instance_3).wait(82));

	// Capa 1
	this.instance_4 = new lib.HOME();

	this.timeline.addTween(cjs.Tween.get(this.instance_4).wait(82));

}).prototype = p = new cjs.MovieClip();
p.nominalBounds = new cjs.Rectangle(502,365,1051.9,1118);

})(lib = lib||{}, images = images||{}, createjs = createjs||{}, ss = ss||{});
var lib, images, createjs, ss;
	});
</script>
{% endblock %}
