{% extends "../common/_base2.html" %}

{% block cssadicional %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/swiper.min.css">
{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<!-- BLOQUE 4 -->
<section class="b4">
  <div class="wancho">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="{{ STATIC_URL }}media/b4-1.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="{{ STATIC_URL }}media/b4-2.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="{{ STATIC_URL }}media/b4-3.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="{{ STATIC_URL }}media/b4-4.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="{{ STATIC_URL }}media/b4-1.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="{{ STATIC_URL }}media/b4-2.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="{{ STATIC_URL }}media/b4-3.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="{{ STATIC_URL }}media/b4-4.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="{{ STATIC_URL }}media/b4-1.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="{{ STATIC_URL }}media/b4-2.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="{{ STATIC_URL }}media/b4-3.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="{{ STATIC_URL }}media/b4-4.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>




{% endblock %}
{% block jsfinal %}
<script src="{{ STATIC_URL }}js/swiper.min.js" type="text/javascript"></script>
<script type="text/javascript">
  $(function(){

    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        slidesPerView: 4,
        paginationClickable: true,
        spaceBetween: 30
    });

  });
</script>
{% endblock %}
