{% extends "../common/_base2.html" %}

{% block cssadicional %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/swiper.min.css">
{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<!-- BLOQUE 40 -->

<!-- Swiper -->
<div class="swiper-container">
	<div class="swiper-wrapper">
		<div class="swiper-slide" data-hash="slide1">
			<div class="video">
				<div class="videoWrapper">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/cPdAXS6zLyQ" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
		<div class="swiper-slide" data-hash="slide2">
			<img src="http://www.tvperu.gob.pe/sites/default/files/styles/blog_704_328/public/tvperu_0.jpg?itok=avxn-tvb" alt="">
		</div>
		<div class="swiper-slide" data-hash="slide3">
			<div class="background" style="background-image: url('http://www.tvperu.gob.pe/sites/default/files/styles/blog_704_328/public/tvperu_0.jpg?itok=avxn-tvb')"></div>
		</div>
	</div>
	<!-- Add Pagination -->
	<!-- <div class="swiper-pagination"></div> -->
	
	<!-- Add Arrows -->
	<div class="swiper-button-next"></div>
	<div class="swiper-button-prev"></div>
</div>



{% endblock %}
{% block jsfinal %}
<script src="{{ STATIC_URL }}js/swiper.min.js" type="text/javascript"></script>
<script type="text/javascript">
	$(function(){
		var swiper = new Swiper('.swiper-container', {
			pagination: '.swiper-pagination',
			paginationClickable: true,
			nextButton: '.swiper-button-next',
			prevButton: '.swiper-button-prev',
			spaceBetween: 30,
			hashnav: true,
			hashnavWatchState: true,
			keyboardControl: true,
			loop: true
		});
	});
</script>
{% endblock %}