{% extends "../common/_base2.html" %}

{% block cssadicional %}
{%endblock %}

{% block classbkody %}{% endblock %}

{% block content %}

<section class="b5">
	<div class="wancho">
		<div class="b5-cliente">
			<div class="b5-datos">
				<h4 class="b5-nombre">
					Mariella Sialer Morante
				</h4>
				<p>
					DNI: 46340382
				</p>
				<a href="">
					VER HISTORIAL
				</a>
			</div>
			<figure class="b5-img">
				<img src="{{ STATIC_URL }}media/b5-img.jpg" alt="">
			</figure>
		</div>
	</div>
</section>

{% endblock %}
{% block jsfinal %}
<script type="text/javascript">
	$(function(){

	});
</script>
{% endblock %}

