{% extends "../common/_base2.html" %}

{% block cssadicional %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/animate.css">
{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<!-- BLOQUE 6 -->
<section class="b6">
	<div class="wancho">
		<h2>
			Mariella, estos son tus <strong>Créditos PRE-APROBADOS</strong>
		</h2>
		<div class="b6-items">
			<a href="" class="b6-item">
				<div class="b6-figure">
					<span class="icon-adelanto-de-sueldo-ico"></span>
					<p>SOLICITAR CRÉDITO A TU MEDIDA</p>
				</div>
				<div class="b6-text">
					<p>
						Adelanto de Sueldo
					</p>
					<p class="btn">
						PRE-Aprobado
					</p>
				</div>
			</a>
			<a href="" class="b6-item">
				<div class="b6-figure">
					<span class="icon-adelanto-de-sueldo-ico"></span>
					<p>SOLICITAR CRÉDITO A TU MEDIDA</p>
				</div>
				<div class="b6-text">
					<p>
						Adelanto de Sueldo
					</p>
					<p class="btn">
						PRE-Aprobado
					</p>
				</div>
			</a>
			<a href="" class="b6-item active">
				<div class="b6-figure">
					<span class="icon-adelanto-de-sueldo-ico"></span>
					<p>SOLICITAR CRÉDITO A TU MEDIDA</p>
				</div>
				<div class="b6-text">
					<p>
						Adelanto de Sueldo
					</p>
					<p class="btn">
						PRE-Aprobado
					</p>
				</div>
			</a>
			<a href="" class="b6-item active">
				<div class="b6-figure">
					<span class="icon-adelanto-de-sueldo-ico"></span>
					<p>SOLICITAR CRÉDITO A TU MEDIDA</p>
				</div>
				<div class="b6-text">
					<p>
						Adelanto de Sueldo
					</p>
					<p class="btn">
						PRE-Aprobado
					</p>
				</div>
			</a>
			<a href="" class="b6-item active">
				<div class="b6-figure">
					<span class="icon-adelanto-de-sueldo-ico"></span>
					<p>SOLICITAR CRÉDITO A TU MEDIDA</p>
				</div>
				<div class="b6-text">
					<p>
						Adelanto de Sueldo
					</p>
					<p class="btn">
						PRE-Aprobado
					</p>
				</div>
			</a>
		</div>

		<p class="b6-alerta">
			Si no tienes activo el crédito que te interesa, da <a href="">clic aquí</a> para solicitar una evaluación a tu medida.
		</p>
	</div>
</section>



{% endblock %}
{% block jsfinal %}
<script type="text/javascript">
	$(function(){
	});

</script>
{% endblock %}
