{% extends "../common/_base2.html" %}

{% block cssadicional %}
{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<!-- BLOQUE 7 -->
<div class="b7">
	<div class="wancho">
		<div class="b7-left">
			<p>
				¿Cómo me califica el sistema financiero?
			</p>
		</div>
		<figure class="b7-center">
			<img src="{{ STATIC_URL}}media/b7-img.jpg" alt="">
		</figure>
		<div class="b7-right">
			<p>
				Estás en <strong>Alto Riesgo</strong> <br>
				A mejor historial, calificarás mejor para las entidades. Manténte al día en tus pagos para obtener mayores beneficios.
			</p>
		</div>
	</div>
</div>


<section class="b7-texto">
	<div class="wancho">
		<p>
			TCEA máxima: 35.93%. TCEA referencial calculada considerando el siguiente ejemplo: Importe del crédito: S/1,000, Plazo: 12 meses, Cuota mensual: S/98.02, ITF: 0.005%. Seguro de desgravamen: 0.08%.
Montos aproximados y sujetos a evaluación crediticia. Es necesaria la firma del cónyuge para montos mayores de S/ 70,000. La edad máxima para solicitar el crédito es de 71 años y 11 meses. La simulación del crédito para cada cliente dependerá de las condiciones del convenio al que pertenece. El plazo mínimo que se puede solicitar para efectuar el pago de un crédito es de 6 meses y plazo máximo es de 72 meses. Campaña válida del 01/02/2017 al 30/04/2017.

Consulta tasas de interés, comisiones, gastos y penalidades en el tarifario, en Tiendas Interbank o en www.interbank.com.pe, conforme a la normativa de Transparencia. Si tienes alguna duda puedes consultarnos a través de nuestra página web www.interbank.com.pe o visitando nuestra tienda ubicada en la Torre Interbank. Dirección: Carlos Villarán 140, La Victoria. Lima, Perú. 15034
		</p>
	</div>
</section>

{% endblock %}
{% block jsfinal %}
<script type="text/javascript">
	$(function(){

	});
</script>
{% endblock %}
