{% extends "../common/_base2.html" %}

{% block cssadicional %}
{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<!-- BLOQUE 8 -->
<section class="b8">
	<div class="wancho">
		<h2>
			Mariella, este es tu <strong>Historial</strong>
		</h2>
		<div class="b8-box">
			<div class="b8-icon">
				<span class="icon-adelanto-de-sueldo-ico"></span>
			</div>
			<h4>
				Tarjeta de Crédito 
				<a href="">ver más detalle</a>
			</h4>
			<div class="b8-content">
				<p><strong>MI BANCO </strong>- Línea de Crédito S/2.000</p>
				<p class="btn">
					Solicitar de nuevo
				</p>	
			</div>
			<ul>
				<li>
					<p>Solicitado el 20 de Julio</p>
				</li>
				<li>
					<p>Solicitado de línea aprobada por "Mi Banco" 21 de Julio</p>
				</li>
				<li>
					<p>Aprobado por "Mi Banco" el 1 de Agosto</p>
				</li>
			</ul>

		</div>
		
	</div>
</section>



{% endblock %}
{% block jsfinal %}
<script type="text/javascript">
	$(function(){

	});
</script>
{% endblock %}
