{% extends "../common/_base2.html" %}

{% block cssadicional %}
{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<!-- BLOQUE 9 -->

<section class="b9">
	<div class="wancho">
		<h4>Para poder evaluarte por favor ingresa la siguiente información</h4>

	<div class="b9-form">
		<form action="">
			<ul>
				<p>Información de tu centro de labores</p>
				<li>
					<input type="text" placeholder="Nombre de la empresa">
					<input type="text" placeholder="RUC">
				</li>
				<li class="b9-second-li">
					<div class="b9-second-item1">
						<p>Ingreso mensual en soles</p>
						<select name="document" id="documento">
							<option value="">
								Menos de S/. 500
							</option>
						</select>
					</div>
					<div class="b9-second-item2">
						<div class="b9-radio">
							<input type="radio" value="si" class="radio1" name="dependiente" checked id="radiosi">
							<label for="radiosi">Dependiente</label>
						</div>
						<div class="b9-radio">
							<input type="radio" value="no" class="radio2" name="dependiente" checked id="radiono">
							<label for="radiono">Independiente</label>
						</div>
					</div>
				</li>
				<li class="b9-third-li">
					<input type="checkbox" id="conyuge">
					<label for="conyuge">Información de tu cónyuge / conviviente</label>
				</li>
				<li class="b9-four-li">
					<input type="text" placeholder="Nombres">
					<input type="text" placeholder="Apellidos">
				</li>
				<li class="b9-four-li">
					<div class="b9-four-item1">
						<select name="document" id="documento">
							<option value="">Tipo de Documento</option>
						</select>
						<input type="text" placeholder="Numero de Documento">
					</div>
					<div class="b9-four-item2">
						<select name="document" id="documento">
							<option value="">Fecha de nacimiento</option>
						</select>
					</div>
				</li>
				<li class="b9-five-li">
					<div class="b9-second-item1">
						<div class="b9-radio">
							<input type="radio" value="si" class="radio1" name="dependiente2" checked id="radiosi2">
							<label for="radiosi2">Dependiente</label>
						</div>
						<div class="b9-radio">
							<input type="radio" value="no" class="radio2" name="dependiente2" checked id="radiono2">
							<label for="radiono2">Independiente</label>
						</div>
					</div>
					<div class="b9-second-item2">
						<select name="document" id="documento">
							<option value="">Estado Civíl</option>
						</select>
					</div>
				</li>
				<p class="b9-propiedades">
					Información de Propiedades
				</p>
				<li>
					<div class="b9-radio-propiedad">
						<p>¿Tiene alguna propiedad?</p>
						<div class="b9-box-radio">
							<div class="b9-radio">
								<input type="radio" checked value="si" class="radio1" name="propiedad" id="propiedadSI">
								<label for="propiedadSI">Si</label>
							</div>
							<div class="b9-radio">
								<input type="radio" value="no" class="radio2" name="propiedad" id="propiedadNO">
								<label for="propiedadNO">No</label>
							</div>
						</div>
					</div>
					<div class="b9-radio-propiedad">
						<p>¿Tiene algún vehículo?</p>
						<div class="b9-box-radio">
							<div class="b9-radio">
								<input type="radio" value="si" class="radio1" name="vehiculo" id="vehiculoSI">
								<label for="vehiculoSI">Si</label>
							</div>
							<div class="b9-radio">
								<input type="radio" checked value="no" class="radio2" name="vehiculo" id="vehiculoNO">
								<label for="vehiculoNO">No</label>
							</div>
						</div>
					</div>
				</li>
				<li class="b9-third-li b9-terminos">
					<input type="checkbox" id="terminos">
					<label for="terminos">Acepto <a href="">Términos y Condiciones</a> de Mi Préstamo Ya</label>
					<a href="" class="btn-general">Continuar</a>
				</li>
			</ul>
		</form>
	</div>
	</div>
</section>


{% endblock %}
{% block jsfinal %}
<script type="text/javascript">
	$(function(){

	});
</script>
{% endblock %}
