{% extends "../common/_base3.html" %}

{% block cssadicional %}
{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}
 


<!-- generales -->
<div class="block-general">
 
 	<button class="btn1">Regístrate ahora</button>
 	<a class="btn1">Regístrate ahora</a>
	 			
</div>

 <div class="block-general">
	 <h2><i>Aqui</i> otra clase <u>general</u></h2> 			
</div>




 
{% endblock %}
{% block jsfinal %}
<script type="text/javascript">

	 
</script>
{% endblock %}
