<footer class="footer">
	<div class="wancho">
		<div class="footer-first">
			<a href="" class="footer-logo">
				<img src="../static/media/logo-blanco.png" alt="">
			</a>
			<a href="" class="footer-right-btn">
				Solicita tu <strong>Crédito YA</strong>
			</a>
		</div>
		<div class="footer-second">
			<div class="footer-item">
				<ul>
					<li>
						<a href="">Préstamo Personal</a>
						<a href="">Adelanto de Sueldo</a>
						<a href="">Crédito Vehicular</a>
						<a href="">Crédito Hipotecario</a>
					</li>
				</ul>
			</div>
			<div class="footer-item">
				<ul>
					<li>
						<a href="">¿Qué es Mi Préstamo Ya?</a>
						<a href="">Políticas de Privacidad</a>
						<a href="">Términos y Condiciones</a>
						<a href="">Libro de Reclamaciones</a>
					</li>
				</ul>
			</div>
			<div class="footer-item">
				<ul>
					<li>
						<a href="">Regístrate</a>
						<a href="">Adelanto de Sueldo</a>
						<a href="">Edudación Financiera</a>
					</li>
				</ul>
			</div>
			<div class="footer-item">
				<ul>
					<li>
						<p>
							Síguenos en: 
							<span class="icon-facebook"></span> 
							<span class="icon-youtube"></span>
							<span class="icon-twitter"></span> 
						</p>
					<li>
						<p>
							Av. Del Parque Sur 565 .San Borja
						</p>
					</li>
					<li>
						<p>
							Tlf: <a href="tel:987820962">987 820 962</a> / <a href="0514366893">051 436 66 893</a>
						</p>
					</li>
					<li>
						<p>
							Lima 41 - Perú
						</p>
					</li>
				</ul>
			</div>
		</div>
		
		<div class="footer-creditos">
			<p>Mi Préstamo Ya ©. Todos los derechos reservados 2017</p>
		</div>

	</div>
</footer>