// Colors idendity
c-0 = #383434
c-1 = #ff7e00 //amarillo
c-2 = #ff1440 //rosado
c-3 = #0056ff //azul
c-4 = #ff7e00 //naranja
c-5 = #000
c-6 = #000
c-7 = #000
c-8 = #000
c-9 = #eee

// Fonts
t-0 = 'DIN-Alternate', sans-serif
t-1 = 'DIN-Alternate-Bold', sans-serif
t-2 = 'DINNextLTPro-Bold', sans-serif
t-3 = 'DINNextLTPro-Heavy', sans-serif
t-4 = 'DINNextLTPro-HeavyCondensed', sans-serif
t-5 = 'DINNextLTPro-Italic', sans-serif
t-6 = 'DINNextLTPro-Light', sans-serif
t-7 = 'DINNextLTPro-LightCondensed', sans-serif
t-8 = 'DINNextLTPro-Medium', sans-serif
t-9 = 'DINNextLTPro-MediumItalic', sans-serif
t-10 = 'DINNextLTPro-Regular', sans-serif
t-11 = 'DINNextLTPro-UltraLight', sans-serif
t-12 = 'DINNextRoundedLTPro-Light', sans-serif
t-13 = 'DINNextRoundedLTPro-Regular', sans-serif
t-14 = 'Kalam-Regular', sans-serif

icomoon = 'icomoon'


/*POSTPRODUCCION*/

/*POSTPRODUCCION*/	


// Mixins
placeholder(color,famyli)
	::-webkit-input-placeholder { color: color; font-family: famyli; } /* WebKit */
	:-moz-placeholder { color: color; font-family: famyli; } /* Firefox 18- */
	::-moz-placeholder { color: color; font-family: famyli; } /* Firefox 19+ */
	:-ms-input-placeholder { color: color; font-family: famyli; } /* IE 10+ */

transition-all()
	transition all 0.25s
	
cf()
	zoom 1
	&:after
	&:before
		content ""
		display table
	&:after
		clear both
.cf
	cf()

backgroundsize()
	background-repeat no-repeat
	background-size cover
	background-position center center 		

img-res()
	max-width 100%
	height auto
	display block
	
background-t(color, alpha = 1)
	ms-color = argb(color, alpha)
	background rgba(color, alpha)
	zoom 1
	filter s('progid:DXImageTransform.Microsoft.gradient(startColorstr=%s,endColorstr=%s)', ms-color, ms-color) !important
hex(decimal)
	hex-value = ('0') ('1') ('2') ('3') ('4') ('5') ('6') ('7') ('8') ('9') ('A') ('B') ('C') ('D') ('E') ('F')
	unquote(hex-value[floor(decimal / 16)] + hex-value[floor(decimal % 16)])
	
argb(color, alpha = 1)
	unquote('#') + hex(alpha * 255) + hex(red(color)) + hex(green(color)) + hex(blue(color))

