{% extends "common/_base.html" %}

{% block cssadicional %}
{% endblock %}

{% block classbody %}usuario contacto{% endblock %}

{% block content %}
  
<!-- BLOQUE 10 -->
<section class="b10">
	<div class="wancho">
		<h1>
			Estemos siempre conectados
			<strong>Contacto</strong>
		</h1>
	</div>
</section>

<!-- BLOQUE 11 -->
<section class="b11">
	<div class="wancho">
		<div class="b11-left">
			<div class="b11-text">
				<h4 class="b11-title">
					Dirección de contacto
				</h4>
				<ul>
					<li>
						<p>Av. Del Parque Sur 565. San Borja</p>
					</li>
					<li>
						<p>Tlf: <a href="tel:987820962">987 820 962</a> / <a href="tel:05143666893">051 436 66 893</a></p>
					</li>
					<li>
						<p>
							Lima 41 - Perú
						</p>
					</li>
				</ul>
				<div class="b11-redes">
					<p>
						<span>
							Síguenos en:
						</span> 
						<a href="" class="icon-facebook"></a>
						<a href="" class="icon-youtube"></a>
						<a href="" class="icon-twitter"></a>
					</p>
				</div>
			</div>
		</div>
		<div class="b11-right">
			<div class="b11-form1">
				<p class="b11-dudas">
					Si tienes dudas nos contactanos contigo
				</p>
				<p>
					Déjanos tu celular o teléfono y nos contactaremos contigo de inmediato.
				</p>
				<form action="">
					<input type="text" name="telefono" id="telefono" placeholder="Teléfono">
					<button class="btn1">
						Enviar
					</button>
				</form>
			</div>

			<div class="b11-form2">
				<p>O si prefieres puedes dejarnos tu correo electrónico</p>
				<form action="">
					<input type="text" name="nombre" id="nombre" placeholder="Nombre">
					<input type="text" name="correo" id="correo" placeholder="Correo electrónico">
					<button class="btn1">
						Enviar
					</button>
				</form>
			</div>
		</div>
	</div>
</section>


{% endblock %}
{% block jsfinal %}
<script type="text/javascript">
  $(function(){

  });
</script>
{% endblock %}