{% extends "common/_base.html" %}

{% block cssadicional %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/swiper.min.css">
{% endblock %}

{% block classbody %}{% endblock %}

{% block content %}
  
<!-- BLOQUE 1 -->
<section class="b1">
	<div class="wancho">
		<div class="b1-left">
			<h2>
				¿Cansado de ir banco por banco <strong>por un préstamo?</strong>
			</h2>
			<p>
				<span class="icon-ya"></span> 
				Olvídate de eso, 
        		llegamos para ayudarte
			</p>
		</div>
		<div class="b1-right">
			<div class="b1-form">
				<form action="">
					<input type="text" placeholder="DNI" name="dni" id="dni">
					<!--<button>Regístrate ahora</button>-->
					<a href="REGISTROS-NO-USUARIOS.html" class="b1-registrar">Regístrate ahora</a>
				</form>
				<p>
					Al darle clic a “Registrarte, estás aceptando nuestros <a href="">Términos y Condiciones</a> y <a href="">Políticas de Uso</a> de datos.
				</p>
			</div>
			<p class="b1-login">
				¿Ya estás regisitrado?
				Entonces <a href="LOGIN.html">inicia sesión</a>
			</p>
		</div>
		<figure class="b1-dolar uno">
			<img src="{{ STATIC_URL }}media/billete4.png" alt="">
		</figure>
		<figure class="b1-dolar dos">
			<img src="{{ STATIC_URL }}media/billetes1.png" alt="">
		</figure>
		<figure class="b1-dolar tres">
			<img src="{{ STATIC_URL }}media/billetes-2.png" alt="">
		</figure>
		<figure class="b1-dolar cuatro">
			<img src="{{ STATIC_URL }}media/billetes-3.png" alt="">
		</figure>
	</div>
</section>

<!-- BLOQUE 2 -->
<section class="b2">
  <div class="wancho">
    <p>
      Revisa tus créditos preaprobados con <br>
      nuestras entidades asociadas y comienza a vivir una nueva experiencia en el mundo financiero
    </p>
    <h2>Bievenido a </h2>
    <a href=""><img src="{{ STATIC_URL }}media/logo-azul.png" alt=""></a>
  </div>
</section>

<!-- BLOQUE 3 -->
<section class="b3">
	<div class="wancho">
		<h3 class="b3-title">
			Nuestros <strong>Productos</strong>
		</h3>
		<div class="b3-items">
			<div class="b3-item-box">
				<div class="b3-item">
					<div class="b3-icon icon-adelanto-de-sueldo-ico"></div>
					<h4>
						Adelanto <br>de Sueldo
					</h4>
					<p>
						<strong>Mira</strong> el crédito hipotecario para la casa que tanto deseas.
					</p>
					<a href="LOGIN.html" class="btn1">¡Solicita YA!</a>
				</div>
			</div>
			<div class="b3-item-box">
				<div class="b3-item">
					<div class="b3-icon icon-Tarjeta-de-credito-ico"></div>
					<h4>
						Tarjeta <br> de Crédito
					</h4>
					<p>
						<strong>Mira</strong> el crédito hipotecario para la casa que tanto deseas.
					</p>
					<a href="LOGIN.html" class="btn1">¡Solicita YA!</a>
				</div>
			</div>
			<div class="b3-item-box">
				<div class="b3-item">
					<div class="b3-icon icon-credito-vehicular-ico"></div>
					<h4>
						Crédito <br>
						Vehículo
					</h4>
					<p>
						<strong>Mira</strong> el crédito hipotecario para la casa que tanto deseas.
					</p>
					<a href="LOGIN.html" class="btn1">¡Solicita YA!</a>
				</div>
			</div>
			<div class="b3-item-box">
				<div class="b3-item">
					<div class="b3-icon icon-credito-hipotecario-ico"></div>
					<h4>
						Crédito <br> Hipotecario
					</h4>
					<p>
						<strong>Mira</strong> el crédito hipotecario para la casa que tanto deseas.
					</p>
					<a href="LOGIN.html" class="btn1">¡Solicita YA!</a>
				</div>
			</div>
			<div class="b3-item-box">
				<div class="b3-item">
					<div class="b3-icon icon-prestamo-personal-ico"></div>
					<h4>
						Préstamo <br> Personal
					</h4>
					<p>
						<strong>Mira</strong> el crédito hipotecario para la casa que tanto deseas.
					</p>
					<a href="LOGIN.html" class="btn1">¡Solicita YA!</a>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- BLOQUE 4 -->
<section class="b4">
  <div class="wancho">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="{{ STATIC_URL }}media/b4-2.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="{{ STATIC_URL }}media/b4-1.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="{{ STATIC_URL }}media/b4-3.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="{{ STATIC_URL }}media/b4-4.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="{{ STATIC_URL }}media/b4-1.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="{{ STATIC_URL }}media/b4-2.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="{{ STATIC_URL }}media/b4-3.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="{{ STATIC_URL }}media/b4-4.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="{{ STATIC_URL }}media/b4-1.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="{{ STATIC_URL }}media/b4-2.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="{{ STATIC_URL }}media/b4-3.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="{{ STATIC_URL }}media/b4-4.jpg" alt="">
        </div>
      </div>
      <!-- Add Pagination -->
	    <div class="swiper-pagination"></div>
	    <!-- Add Arrows -->
	    <div class="swiper-button-next"></div>
	    <div class="swiper-button-prev"></div>
    </div>
  </div>
</section>


{% endblock %}
{% block jsfinal %}
<script src="{{ STATIC_URL }}js/swiper.min.js" type="text/javascript"></script>
<script type="text/javascript">
  $(function(){

    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        slidesPerView: 4,
        paginationClickable: true,
        spaceBetween: 30,
        breakpoints: {
            1024: {
                slidesPerView: 3
            },
            768: {
                slidesPerView: 2
            },
            500: {
                slidesPerView: 1
            }
        }
    });

  });
</script>
{% endblock %}