{% extends "common/_base.html" %}

{% block cssadicional %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/swiper.min.css">
{% endblock %}

{% block classbody %}usuario{% endblock %}

{% block content %}
  
<section class="b5">
	<div class="wancho">
		<div class="b5-cliente">
			<div class="b5-datos">
				<h4 class="b5-nombre">
					Mariella Sialer Morante
				</h4>
				<p>
					DNI: 46340382
				</p>
				<a href="HOME-USUARIOS-2-2.html">
					VER HISTORIAL
				</a>
			</div>
			<figure class="b5-img">
				<img src="{{ STATIC_URL }}media/b5-img.jpg" alt="">
			</figure>
		</div>
	</div>
</section>

<!-- BLOQUE 6 -->
<section class="b6">
	<div class="wancho">
		<h2>
			Mariella, estos son tus <strong>Créditos PRE-APROBADOS</strong>
		</h2>
		<div class="b6-items">
			<a href="PRE-APROBADO.html" class="b6-item">
				<div class="b6-figure">
					<span class="icon-adelanto-de-sueldo-ico"></span>
					<p>SOLICITAR CRÉDITO A TU MEDIDA</p>
				</div>
				<div class="b6-text">
					<p>
						Adelanto de Sueldo
					</p>
					<p class="btn">
						PRE-Aprobado
					</p>
				</div>
			</a>
			<a href="PRE-APROBADO.html" class="b6-item">
				<div class="b6-figure">
					<span class="icon-adelanto-de-sueldo-ico"></span>
					<p>SOLICITAR CRÉDITO A TU MEDIDA</p>
				</div>
				<div class="b6-text">
					<p>
						Adelanto de Sueldo
					</p>
					<p class="btn">
						PRE-Aprobado
					</p>
				</div>
			</a>
			<a href="SOLICITUD-2.html" class="b6-item active">
				<div class="b6-figure">
					<span class="icon-adelanto-de-sueldo-ico"></span>
					<p>SOLICITAR CRÉDITO A TU MEDIDA</p>
				</div>
				<div class="b6-text">
					<p>
						Adelanto de Sueldo
					</p>
					<p class="btn">
						PRE-Aprobado
					</p>
				</div>
			</a>
			<a href="SOLICITUD-2.html" class="b6-item active">
				<div class="b6-figure">
					<span class="icon-adelanto-de-sueldo-ico"></span>
					<p>SOLICITAR CRÉDITO A TU MEDIDA</p>
				</div>
				<div class="b6-text">
					<p>
						Adelanto de Sueldo
					</p>
					<p class="btn">
						PRE-Aprobado
					</p>
				</div>
			</a>
			<a href="SOLICITUD-2.html" class="b6-item active">
				<div class="b6-figure">
					<span class="icon-adelanto-de-sueldo-ico"></span>
					<p>SOLICITAR CRÉDITO A TU MEDIDA</p>
				</div>
				<div class="b6-text">
					<p>
						Adelanto de Sueldo
					</p>
					<p class="btn">
						PRE-Aprobado
					</p>
				</div>
			</a>
		</div>

		<!--<p class="b6-alerta">
			Si no tienes activo el crédito que te interesa, da <a href="">clic aquí</a> para solicitar una evaluación a tu medida.
		</p>-->
	</div>
</section>

<!-- BLOQUE 7 -->
<div class="b7">
	<div class="wancho">
		<div class="b7-left">
			<p>
				¿Cómo me califica el sistema financiero?
			</p>
		</div>
		<figure class="b7-center">
			<img src="{{ STATIC_URL}}media/b7-img.jpg" alt="">
		</figure>
		<div class="b7-right">
			<p>
				Estás en <strong>Alto Riesgo</strong> <br>
				A mejor historial, calificarás mejor para las entidades. Manténte al día en tus pagos para obtener mayores beneficios.
			</p>
		</div>
	</div>
</div>

<section class="b7-texto">
	<div class="wancho">
		<p>
			TCEA máxima: 35.93%. TCEA referencial calculada considerando el siguiente ejemplo: Importe del crédito: S/1,000, Plazo: 12 meses, Cuota mensual: S/98.02, ITF: 0.005%. Seguro de desgravamen: 0.08%.
			Montos aproximados y sujetos a evaluación crediticia. Es necesaria la firma del cónyuge para montos mayores de S/ 70,000. La edad máxima para solicitar el crédito es de 71 años y 11 meses. La simulación del crédito para cada cliente dependerá de las condiciones del convenio al que pertenece. El plazo mínimo que se puede solicitar para efectuar el pago de un crédito es de 6 meses y plazo máximo es de 72 meses. Campaña válida del 01/02/2017 al 30/04/2017.

			Consulta tasas de interés, comisiones, gastos y penalidades en el tarifario, en Tiendas Interbank o en www.interbank.com.pe, conforme a la normativa de Transparencia. Si tienes alguna duda puedes consultarnos a través de nuestra página web www.interbank.com.pe o visitando nuestra tienda ubicada en la Torre Interbank. Dirección: Carlos Villarán 140, La Victoria. Lima, Perú. 15034
		</p>
	</div>
</section>

{% endblock %}
{% block jsfinal %}
<script src="{{ STATIC_URL }}js/swiper.min.js" type="text/javascript"></script>
<script type="text/javascript">
  $(function(){

    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        slidesPerView: 4,
        paginationClickable: true,
        spaceBetween: 30,
        breakpoints: {
            1024: {
                slidesPerView: 3
            },
            768: {
                slidesPerView: 2
            },
            500: {
                slidesPerView: 1
            }
        }
    });

  });
</script>
{% endblock %}