{% extends "common/_base.html" %}

{% block cssadicional %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/swiper.min.css">
{% endblock %}

{% block classbody %}usuario{% endblock %}

{% block content %}
  

<!-- BLOQUE 5 -->
<section class="b5">
	<div class="wancho">
		<div class="b5-cliente">
			<div class="b5-datos">
				<h4 class="b5-nombre">
					Mariella Sialer Morante
				</h4>
				<p>
					DNI: 46340382
				</p>
				<a href="HOME-USUARIOS-2-2.html">
					VER HISTORIAL
				</a>
			</div>
			<figure class="b5-img">
				<img src="{{ STATIC_URL }}media/b5-img.jpg" alt="">
			</figure>
		</div>
	</div>
</section>

<!-- BLOQUE 3 -->
<section class="b3">
	<div class="wancho">
		<h3 class="b3-title">
			Has ingresado a <strong>solicitud de evaluación a tu medida</strong>
			<p>
				Elige el crédito que se ajuste a tus necesidades
			</p>
		</h3>
		<div class="b3-items">
			<div class="b3-item-box">
				<div class="b3-item">
					<div class="b3-icon icon-adelanto-de-sueldo-ico"></div>
					<h4>
						Adelanto <br>de Sueldo
					</h4>
					<p>
						<strong>Mira</strong> el crédito hipotecario para la casa que tanto deseas.
					</p>
					<a href="" class="btn1">
						¡Solicita YA!
					</a>
				</div>
			</div>
			<div class="b3-item-box">
				<div class="b3-item">
					<div class="b3-icon icon-Tarjeta-de-credito-ico"></div>
					<h4>
						Tarjeta <br> de Crédito
					</h4>
					<p>
						<strong>Mira</strong> el crédito hipotecario para la casa que tanto deseas.
					</p>
					<a href="" class="btn1">
						¡Solicita YA!
					</a>
				</div>
			</div>
			<div class="b3-item-box">
				<div class="b3-item">
					<div class="b3-icon icon-credito-vehicular-ico"></div>
					<h4>
						Crédito <br>
						Vehículo
					</h4>
					<p>
						<strong>Mira</strong> el crédito hipotecario para la casa que tanto deseas.
					</p>
					<a href="" class="btn1">
						¡Solicita YA!
					</a>
				</div>
			</div>
			<div class="b3-item-box">
				<div class="b3-item">
					<div class="b3-icon icon-credito-hipotecario-ico"></div>
					<h4>
						Crédito <br> Hipotecario
					</h4>
					<p>
						<strong>Mira</strong> el crédito hipotecario para la casa que tanto deseas.
					</p>
					<a href="" class="btn1">
						¡Solicita YA!
					</a>
				</div>
			</div>
			<div class="b3-item-box">
				<div class="b3-item">
					<div class="b3-icon icon-prestamo-personal-ico"></div>
					<h4>
						Préstamo <br> Personal
					</h4>
					<p>
						<strong>Mira</strong> el crédito hipotecario para la casa que tanto deseas.
					</p>
					<a href="" class="btn1">
						¡Solicita YA!
					</a>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- BLOQUE 9 -->
<section class="b9">
	<div class="wancho">
		<h4>Para poder evaluarte por favor ingresa la siguiente información</h4>

	<div class="b9-form">
		<form action="">
			<ul>
				<p>Información de tu centro de labores</p>
				<li>
					<input type="text" placeholder="Nombre de la empresa">
					<input type="text" placeholder="RUC">
				</li>
				<li class="b9-second-li">
					<div class="b9-second-item1">
						<p>Ingreso mensual en soles</p>
						<select name="document" id="documento">
							<option value="">
								Menos de S/. 500
							</option>
						</select>
					</div>
					<div class="b9-second-item2">
						<div class="b9-radio">
							<input type="radio" value="si" class="radio1" name="dependiente" checked id="radiosi">
							<label for="radiosi">Dependiente</label>
						</div>
						<div class="b9-radio">
							<input type="radio" value="no" class="radio2" name="dependiente" checked id="radiono">
							<label for="radiono">Independiente</label>
						</div>
					</div>
				</li>
				<li class="b9-third-li">
					<input type="checkbox" id="conyuge">
					<label for="conyuge">Información de tu cónyuge / conviviente</label>
				</li>
				<li class="b9-four-li">
					<input type="text" placeholder="Nombres">
					<input type="text" placeholder="Apellidos">
				</li>
				<li class="b9-four-li">
					<div class="b9-four-item1">
						<select name="document" id="documento">
							<option value="">Tipo de Documento</option>
						</select>
						<input type="text" placeholder="Numero de Documento">
					</div>
					<div class="b9-four-item2">
						<select name="document" id="documento">
							<option value="">Fecha de nacimiento</option>
						</select>
					</div>
				</li>
				<li class="b9-five-li">
					<div class="b9-second-item1">
						<div class="b9-radio">
							<input type="radio" value="si" class="radio1" name="dependiente2" checked id="radiosi2">
							<label for="radiosi2">Dependiente</label>
						</div>
						<div class="b9-radio">
							<input type="radio" value="no" class="radio2" name="dependiente2" checked id="radiono2">
							<label for="radiono2">Independiente</label>
						</div>
					</div>
					<div class="b9-second-item2">
						<select name="document" id="documento">
							<option value="">Estado Civíl</option>
						</select>
					</div>
				</li>
				<p class="b9-propiedades">
					Información de Propiedades
				</p>
				<li>
					<div class="b9-radio-propiedad">
						<p>¿Tiene alguna propiedad?</p>
						<div class="b9-box-radio">
							<div class="b9-radio">
								<input type="radio" checked value="si" class="radio1" name="propiedad" id="propiedadSI">
								<label for="propiedadSI">Si</label>
							</div>
							<div class="b9-radio">
								<input type="radio" value="no" class="radio2" name="propiedad" id="propiedadNO">
								<label for="propiedadNO">No</label>
							</div>
						</div>
					</div>
					<div class="b9-radio-propiedad">
						<p>¿Tiene algún vehículo?</p>
						<div class="b9-box-radio">
							<div class="b9-radio">
								<input type="radio" value="si" class="radio1" name="vehiculo" id="vehiculoSI">
								<label for="vehiculoSI">Si</label>
							</div>
							<div class="b9-radio">
								<input type="radio" checked value="no" class="radio2" name="vehiculo" id="vehiculoNO">
								<label for="vehiculoNO">No</label>
							</div>
						</div>
					</div>
				</li>
				<li class="b9-third-li b9-terminos">
					<input type="checkbox" id="terminos">
					<label for="terminos">Acepto <a href="">Términos y Condiciones</a> de Mi Préstamo Ya</label>
					<a href="" class="btn-general">Continuar</a>
				</li>
			</ul>
		</form>
	</div>
	</div>
</section>

{% endblock %}
{% block jsfinal %}
<script src="{{ STATIC_URL }}js/swiper.min.js" type="text/javascript"></script>
<script type="text/javascript">
  $(function(){

    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        slidesPerView: 4,
        paginationClickable: true,
        spaceBetween: 30,
        breakpoints: {
            1024: {
                slidesPerView: 3
            },
            768: {
                slidesPerView: 2
            },
            500: {
                slidesPerView: 1
            }
        }
    });

  });
</script>
{% endblock %}