{% extends "common/_base.html" %}

{% block cssadicional %}
{% endblock %}

{% block classbody %}usuario contacto{% endblock %}

{% block content %}
  
<!-- BLOQUE 10 -->
<section class="b10">
	<div class="wancho">
		<h1>
			Hola de nuevo!
			<strong>Por favor inicia sesión</strong>
		</h1>
	</div>
</section>


<div class="b11-right b11-login">
	<div class="b11-form2 wancho">
		<form action="">
			<input type="text" name="dni" id="dni" placeholder="DNI">
			<input type="text" name="contrasena" id="contrasena" placeholder="Contrasena">
			<!--<button class="btn1">
				Iniciar Sesión
			</button>-->
			<a href="HOME-USUARIOS-2.html" class="btn1 b11-sesion">Iniciar Sesion</a>
		</form>
		<a href="">Olvide mi contraseña</a>
		<a href="">¿Necesitas ayuda?</a>
	</div>
</div>


{% endblock %}
{% block jsfinal %}
<script type="text/javascript">
  $(function(){
  });
</script>
{% endblock %}