{% extends "common/_base.html" %}

{% block cssadicional %}
{% endblock %}

{% block classbody %}usuario{% endblock %}

{% block content %}
  
<section class="b5">
	<div class="wancho">
		<div class="b5-cliente">
			<div class="b5-datos">
				<h4 class="b5-nombre">
					Mariella Sialer Morante
				</h4>
				<p>
					DNI: 46340382
				</p>
				<a href="home-usuarios2.html">
					VER HISTORIAL
				</a>
			</div>
			<figure class="b5-img">
				<img src="{{ STATIC_URL }}media/b5-img.jpg" alt="">
			</figure>
		</div>
	</div>
</section>


<!-- BLOQUE 13 -->
<section class="b13">
	<div class="wancho">
		<div class="b8-box">
			<div class="b8-icon">
				<span class="icon-adelanto-de-sueldo-ico"></span>
			</div>
			<h4>
				Adelanto de Sueldo
				<a href="">regresar a pre-aprobado</a>
			</h4>
			<ul>
				<li>
					<figure class="b13-img">
						<img src="{{ STATIC_URL }}media/b13-1.jpg" alt="">
					</figure>
					<p>
						Crédito aprobado: <strong>S/3,500.00</strong>
					</p>
					<a href="home-usuarios3.html" class="btn1">Lo quiero</a>
				</li>
				<li>
					<figure class="b13-img">
						<img src="{{ STATIC_URL }}media/b13-2.jpg" alt="">
					</figure>
					<p>
						Crédito aprobado: <strong>S/3,500.00</strong>
					</p>
					<a href="home-usuarios3.html" class="btn1">Lo quiero</a>
				</li>
				<li>
					<figure class="b13-img">
						<img src="{{ STATIC_URL }}media/b13-3.jpg" alt="">
					</figure>
					<p>
						Crédito aprobado: <strong>S/3,500.00</strong>
					</p>
					<a href="home-usuarios3.html" class="btn1">Lo quiero</a>
				</li>
			</ul>
		</div>
		<p class="b6-alerta">
			¿No te convence ninguno? Da <a href="">click aquí</a> para solicitar una nueva evaluación para un crédito a tu medida
		</p>
	</div>
</section>

<!-- BLOQUE 14 -->
<section class="b14">
	<div class="wancho">
		<p>
			También puede solicitar: 
		</p>
		<div class="b6-items">
			<a href="PRODUCTO.html" class="b6-item">
				<div class="b6-figure">
					<span class="icon-adelanto-de-sueldo-ico"></span>
				</div>
			</a>
			<a href="PRODUCTO.html" class="b6-item">
				<div class="b6-figure">
					<span class="icon-adelanto-de-sueldo-ico"></span>
				</div>
			</a>
			<a href="PRODUCTO.html" class="b6-item">
				<div class="b6-figure">
					<span class="icon-adelanto-de-sueldo-ico"></span>
				</div>
			</a>
			<a href="PRODUCTO.html" class="b6-item">
				<div class="b6-figure">
					<span class="icon-adelanto-de-sueldo-ico"></span>
				</div>
			</a>
			<a href="PRODUCTO.html" class="b6-item">
				<div class="b6-figure">
					<span class="icon-adelanto-de-sueldo-ico"></span>
				</div>
			</a>
		</div>
	</div>
</section>

<section class="b7-texto">
	<div class="wancho">
		<p>
			TCEA máxima: 35.93%. TCEA referencial calculada considerando el siguiente ejemplo: Importe del crédito: S/1,000, Plazo: 12 meses, Cuota mensual: S/98.02, ITF: 0.005%. Seguro de desgravamen: 0.08%.
Montos aproximados y sujetos a evaluación crediticia. Es necesaria la firma del cónyuge para montos mayores de S/ 70,000. La edad máxima para solicitar el crédito es de 71 años y 11 meses. La simulación del crédito para cada cliente dependerá de las condiciones del convenio al que pertenece. El plazo mínimo que se puede solicitar para efectuar el pago de un crédito es de 6 meses y plazo máximo es de 72 meses. Campaña válida del 01/02/2017 al 30/04/2017.
<br><br>
Consulta tasas de interés, comisiones, gastos y penalidades en el tarifario, en Tiendas Interbank o en www.interbank.com.pe, conforme a la normativa de Transparencia. Si tienes alguna duda puedes consultarnos a través de nuestra página web www.interbank.com.pe o visitando nuestra tienda ubicada en la Torre Interbank. Dirección: Carlos Villarán 140, La Victoria. Lima, Perú. 15034
		</p>
	</div>
</section>

{% endblock %}
{% block jsfinal %}
<script type="text/javascript">
  $(function(){

    

  });
</script>
{% endblock %}