{% extends "common/_base.html" %}

{% block cssadicional %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/swiper.min.css">
{% endblock %}

{% block classbody %}usuario{% endblock %}

{% block content %}
  
<section class="b5">
	<div class="wancho">
		<div class="b5-cliente">
			<div class="b5-datos">
				<h4 class="b5-nombre">
					Mariella Sialer Morante
				</h4>
				<p>
					DNI: 46340382
				</p>
				<a href="HOME-USUARIOS-2-2.html">
					VER HISTORIAL
				</a>
			</div>
			<figure class="b5-img">
				<img src="{{ STATIC_URL }}media/b5-img.jpg" alt="">
			</figure>
		</div>
	</div>
</section>

<!-- BLOQUE 8 -->
<section class="b8">
	<div class="wancho">
		<h2>
			Mariella, este es tu <strong>Historial</strong>
		</h2>
		<div class="b8-box">
			<div class="b8-icon">
				<span class="icon-adelanto-de-sueldo-ico"></span>
			</div>
			<h4>
				Tarjeta de Crédito 
				<a href="">ver más detalle</a>
			</h4>
			<div class="b8-content">
				<p><strong>MI BANCO </strong>- Línea de Crédito S/2.000</p>
				<p class="btn">
					Solicitar de nuevo
				</p>	
			</div>
			<ul>
				<li>
					<p>Solicitado el 20 de Julio</p>
				</li>
				<li>
					<p>Solicitado de línea aprobada por "Mi Banco" 21 de Julio</p>
				</li>
				<li>
					<p>Aprobado por "Mi Banco" el 1 de Agosto</p>
				</li>
			</ul>

		</div>
		
	</div>
</section>

<!-- BLOQUE 6 -->
<section class="b6">
	<div class="wancho">
		<h2>
			Estos son tus <strong>Créditos PRE-APROBADOS</strong>
		</h2>
		<div class="b6-items">
			<a href="PRE-APROBADO.html" class="b6-item">
				<div class="b6-figure">
					<span class="icon-adelanto-de-sueldo-ico"></span>
					<p>SOLICITAR CRÉDITO A TU MEDIDA</p>
				</div>
				<div class="b6-text">
					<p>
						Adelanto de Sueldo
					</p>
					<p class="btn">
						PRE-Aprobado
					</p>
				</div>
			</a>
			<a href="PRE-APROBADO.html" class="b6-item">
				<div class="b6-figure">
					<span class="icon-adelanto-de-sueldo-ico"></span>
					<p>SOLICITAR CRÉDITO A TU MEDIDA</p>
				</div>
				<div class="b6-text">
					<p>
						Adelanto de Sueldo
					</p>
					<p class="btn">
						PRE-Aprobado
					</p>
				</div>
			</a>
			<a href="PRE-APROBADO.html" class="b6-item active">
				<div class="b6-figure">
					<span class="icon-adelanto-de-sueldo-ico"></span>
					<p>SOLICITAR CRÉDITO A TU MEDIDA</p>
				</div>
				<div class="b6-text">
					<p>
						Adelanto de Sueldo
					</p>
					<p class="btn">
						PRE-Aprobado
					</p>
				</div>
			</a>
			<a href="PRE-APROBADO.html" class="b6-item active">
				<div class="b6-figure">
					<span class="icon-adelanto-de-sueldo-ico"></span>
					<p>SOLICITAR CRÉDITO A TU MEDIDA</p>
				</div>
				<div class="b6-text">
					<p>
						Adelanto de Sueldo
					</p>
					<p class="btn">
						PRE-Aprobado
					</p>
				</div>
			</a>
			<a href="PRE-APROBADO.html" class="b6-item active">
				<div class="b6-figure">
					<span class="icon-adelanto-de-sueldo-ico"></span>
					<p>SOLICITAR CRÉDITO A TU MEDIDA</p>
				</div>
				<div class="b6-text">
					<p>
						Adelanto de Sueldo
					</p>
					<p class="btn">
						PRE-Aprobado
					</p>
				</div>
			</a>
		</div>

		<!--<p class="b6-alerta">
			Si no tienes activo el crédito que te interesa, da <a href="">clic aquí</a> para solicitar una evaluación a tu medida.
		</p>-->
	</div>
</section>


{% endblock %}
{% block jsfinal %}
<script src="{{ STATIC_URL }}js/swiper.min.js" type="text/javascript"></script>
<script type="text/javascript">
  $(function(){

    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        slidesPerView: 4,
        paginationClickable: true,
        spaceBetween: 30,
        breakpoints: {
            1024: {
                slidesPerView: 3
            },
            768: {
                slidesPerView: 2
            },
            500: {
                slidesPerView: 1
            }
        }
    });

  });
</script>
{% endblock %}