{% extends "common/_base.html" %}

{% block cssadicional %}
{% endblock %}

{% block classbody %}usuario contacto somos{% endblock %}

{% block content %}
  
<!-- BLOQUE 10 -->
<section class="b10">
	<div class="wancho">
		<h1>
			Conócenos
			<strong>Quiénes somos</strong>
		</h1>
	</div>
</section>

<!-- BLOQUE 12 -->
<section class="b15">
	<div class="wancho">
		<div class="b15-container">
			<div class="b15-left">
				<div class="b15-text">
					<h4 class="b15-title">
						Quiénes somos
					</h4>
				</div>
			</div>
			<div class="b15-right">
				<div class="b15-form1">
					<p class="b15-dudas">
						Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original.
						<br><br>
						"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
					</p>
				</div>
			</div>
		</div>
		<div class="b15-container b15-container2">
			<div class="b15-left">
				<div class="b15-text">
					<h4 class="b15-title">
						¿Cómo operamos?
					</h4>
				</div>
			</div>
			<div class="b15-right">
				<div class="b15-form1">
					<ul>
						<li>
							<figure class="b15-img">
								<img src="{{ STATIC_URL }}media/b15-1.jpg" alt="">
								<figcaption>
									Regístrate, ve tus créditos <br> preaprobados o solicita
									un préstamos.
								</figcaption>
							</figure>
						</li>
						<li>
							<figure class="b15-img">
								<img src="{{ STATIC_URL }}media/b15-2.jpg" alt="">
								<figcaption>
									Nosotros centralizamos tu información <br>y la enviamos a nuestras entidades <br> financieras asociadas.
								</figcaption>
							</figure>
						</li>
						<li>
							<figure class="b15-img">
								<img src="{{ STATIC_URL }}media/b15-3.jpg" alt="">
								<figcaption>
									Las Entidades financieras <br>evaluarán tu pedido.
								</figcaption>
							</figure>
						</li>
						<li>
							<figure class="b15-img">
								<img src="{{ STATIC_URL }}media/b15-4.jpg" alt="">
								<figcaption>
									Te avisamos que entidades aprobaron <br>tu solicitud así como sus términos y <br>condiciones.
								</figcaption>
							</figure>
						</li>
						<li>
							<figure class="b15-img">
								<img src="{{ STATIC_URL }}media/b15-5.jpg" alt="">
								<figcaption>
									Tomas las decisión y listo.
								</figcaption>
							</figure>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>


{% endblock %}
{% block jsfinal %}
<script type="text/javascript">
  $(function(){

  });
</script>
{% endblock %}