{% extends "common/_base.html" %}

{% block cssadicional %}
{% endblock %}

{% block classbody %}usuario{% endblock %}

{% block content %}
  
<!-- BLOQUE 16 -->
<section class="b16">
	<div class="wancho">
		<div class="b16-text">
			<div class="b16-container">
				<h1>¡Felicidades!</h1>
				<p>
					Ahora puedes ver tus <br>
					créditos preaprobados
				</p>
				<a href="HOME-USUARIOS-2.html" class="btn1">Ingresar a mi cuenta</a>
			</div>
		</div>
	</div>
</section>
<section class="b17 mtnone">
	<div class="wancho">
		<p class="b17-terminos">
			Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. 
			<br><br>
			Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
		</p>
	</div>
</section>


{% endblock %}
{% block jsfinal %}
<script type="text/javascript">
  $(function(){

  });
</script>
{% endblock %}