{% extends "common/_base.html" %}

{% block cssadicional %}
{% endblock %}

{% block classbody %}usuario{% endblock %}

{% block content %}
  

<!-- BLOQUE 5 -->
<section class="b5">
	<div class="wancho">
		<div class="b5-cliente">
			<div class="b5-datos">
				<h4 class="b5-nombre">
					Mariella Sialer Morante
				</h4>
				<p>
					DNI: 46340382
				</p>
				<a href="home-usuarios2-2.html">
					VER HISTORIAL
				</a>
			</div>
			<figure class="b5-img">
				<img src="{{ STATIC_URL }}media/b5-img.jpg" alt="">
			</figure>
		</div>
	</div>
</section>

<!-- BLOQUE 3 -->
<section class="b3 b3-solicitud">
	<div class="wancho">
		<h3 class="b3-title ">
			Has ingresado a <strong>solicitud de evaluación a tu medida</strong>
			<p>
				Elige el crédito que se ajuste a tus necesidades
			</p>
		</h3>
		<div class="b3-items">
			<div class="b3-item-box">
				<div class="b3-item">
					<div class="b3-icon icon-adelanto-de-sueldo-ico"></div>
					<h4>
						Adelanto <br>de Sueldo
					</h4>
					<p>
						<strong>Mira</strong> el crédito hipotecario para la casa que tanto deseas.
					</p>
					<a href="" class="btn1">
						¡Solicita YA!
					</a>
				</div>
			</div>
			<div class="b3-item-box">
				<div class="b3-item">
					<div class="b3-icon icon-Tarjeta-de-credito-ico"></div>
					<h4>
						Tarjeta <br> de Crédito
					</h4>
					<p>
						<strong>Mira</strong> el crédito hipotecario para la casa que tanto deseas.
					</p>
					<a href="" class="btn1">
						¡Solicita YA!
					</a>
				</div>
			</div>
			<div class="b3-item-box">
				<div class="b3-item">
					<div class="b3-icon icon-credito-vehicular-ico"></div>
					<h4>
						Crédito <br>
						Vehículo
					</h4>
					<p>
						<strong>Mira</strong> el crédito hipotecario para la casa que tanto deseas.
					</p>
					<a href="" class="btn1">
						¡Solicita YA!
					</a>
				</div>
			</div>
			<div class="b3-item-box">
				<div class="b3-item">
					<div class="b3-icon icon-credito-hipotecario-ico"></div>
					<h4>
						Crédito <br> Hipotecario
					</h4>
					<p>
						<strong>Mira</strong> el crédito hipotecario para la casa que tanto deseas.
					</p>
					<a href="" class="btn1">
						¡Solicita YA!
					</a>
				</div>
			</div>
			<div class="b3-item-box">
				<div class="b3-item">
					<div class="b3-icon icon-prestamo-personal-ico"></div>
					<h4>
						Préstamo <br> Personal
					</h4>
					<p>
						<strong>Mira</strong> el crédito hipotecario para la casa que tanto deseas.
					</p>
					<a href="" class="btn1">
						¡Solicita YA!
					</a>
				</div>
			</div>
		</div>
	</div>
</section>


{% endblock %}
{% block jsfinal %}
<script type="text/javascript">
  $(function(){

  });
</script>
{% endblock %}