{% extends "common/_base.html" %}

{% block cssadicional %}
{% endblock %}

{% block classbody %}usuario{% endblock %}

{% block content %}
  

<section class="b5">
	<div class="wancho">
		<div class="b5-cliente">
			<div class="b5-datos">
				<h4 class="b5-nombre">
					Mariella Sialer Morante
				</h4>
				<p>
					DNI: 46340382
				</p>
				<a href="HOME-USUARIOS-2.html">
					VER HISTORIAL
				</a>
			</div>
			<figure class="b5-img">
				<img src="{{ STATIC_URL }}media/b5-img.jpg" alt="">
			</figure>
		</div>
	</div>
</section>
  
<!-- BLOQUE 19 -->
<section class="b19">
	<div class="wancho">
		<div class="icon-prestamo-personal-ico b19-icono"></div>
		<p>
			Estás solitando un <strong>Préstamo Personal</strong> <br>
			<span>
				por el monto de, S/3500.00 a 18 meses
			</span>
		</p>
		<a href="" class="btn1">Modificar</a>
	</div>
</section>

<!-- BLOQUE 20 -->
<section class="b20">
	<div class="wancho">
		<p>
			Recuerda que si colocas un sustento adicional es <br>
			más probable que aprueben tu crédito
		</p>
		<div class="b20-content">
			<a href="" class="b20-figure">
				<span class="icon-Boletas"></span>
				<figcaption>
					Boletas de Pago <br>
					(últimos 3 meses)
				</figcaption>
			</a>
			<a href="" class="b20-figure">
				<span class="icon-Recibos-de-luz"></span>
				<figcaption>
					Recibos de servicio <br>
					(agua o luz)
				</figcaption>
			</a>
			<a href="" class="b20-figure">
				<span class="icon-DNI"></span>
				<figcaption>
					DNI de cónyuge <br>
					(escaneado tira y retira)
				</figcaption>
			</a>
			<hr>
			<a href="" class="b20-figure">
				<span class="icon-Pago-Impuestos"></span>
				<figcaption>
					Pago de Impuestos de <br>
					Recibos por Honorarios
				</figcaption>
			</a>
			<a href="" class="b20-figure active">
				<span class="icon-recibo-x-honorarios"></span>
				<figcaption>
					Recibo por honorarios <br>
					(últimos 6 recibidos)
				</figcaption>
			</a>
		</div>

		<div class="b20-box-archivo">
			<div class="b20-archivo">
				<input type="file" id="file">
				<!-- <label for="file">Seleccione archivo
				</label> -->
				<span>No se eligió archivo</span>
			</div>
			<p class="b20-archivo-p">
				Los archivos deben ser menores que 100 MB.
				Tipos de archivo permitidos: .zip o .rar
			</p>
		</div>

		<div class="b20-btns">
			<a href="" class="btn1">Omitir</a>
			<a href="SOLICITUD-FINALIZAR.html" class="btn1 b20-btn">Finalizar</a>
		</div>
	</div>
</section>


{% endblock %}
{% block jsfinal %}
<script type="text/javascript">
  $(function(){

  });
</script>
{% endblock %}