{% extends "common/_base.html" %}

{% block cssadicional %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery-ui.min.css">
{% endblock %}

{% block classbody %}usuario{% endblock %}

{% block content %}
  
<!-- BLOQUE 5 -->
<section class="b5">
	<div class="wancho">
		<div class="b5-cliente">
			<div class="b5-datos">
				<h4 class="b5-nombre">
					Mariella Sialer Morante
				</h4>
				<p>
					DNI: 46340382
				</p>
				<a href="HOME-USUARIOS-2.html">
					VER HISTORIAL
				</a>
			</div>
			<figure class="b5-img">
				<img src="{{ STATIC_URL }}media/b5-img.jpg" alt="">
			</figure>
		</div>
	</div>
</section>

<!-- BLOQUE 19 -->
<section class="b19 b19-2">
	<div class="wancho">
		<div class="icon-prestamo-personal-ico b19-icono"></div>
		<p>
			Estás solitando un <strong>Préstamo Personal</strong>
		</p>

		<div class="b20-monto">
			<p>Coloca el monto que te interesaría obtener</p>
			<select name="moneda" id="moneda">
				<option value="">Soles</option>
			</select>
			<input type="text" placeholder="3.500.00">
			<p>Elige en cuántas cuotas te gustarían</p>
			<span>12 meses</span> 
			<div class="b19-slider">
				<div id="slider"></div>
			</div>
			<span>+36 meses</span>
			<input type="text" placeholder="18 meses" class="b19-input">
		</div>
	</div>
</section>

<section class="b9">
	<div class="wancho">
		<h4>Para poder evaluarte por favor ingresa la siguiente información</h4>

	<div class="b9-form">
		<form action="">
			<ul>
				<p>Información de tu centro de labores</p>
				<li>
					<input type="text" placeholder="Nombre de la empresa">
					<input type="text" placeholder="RUC">
				</li>
				<li class="b9-second-li">
					<div class="b9-second-item1">
						<p>Ingreso mensual en soles</p>
						<select name="document" id="documento">
							<option value="">
								Menos de S/. 500
							</option>
						</select>
					</div>
					<div class="b9-second-item2">
						<div class="b9-radio">
							<input type="radio" value="si" class="radio1" name="dependiente" checked id="radiosi">
							<label for="radiosi">Dependiente</label>
						</div>
						<div class="b9-radio">
							<input type="radio" value="no" class="radio2" name="dependiente" checked id="radiono">
							<label for="radiono">Independiente</label>
						</div>
					</div>
				</li>
				<li class="b9-third-li">
					<input type="checkbox" id="conyuge">
					<label for="conyuge">Información de tu cónyuge / conviviente</label>
				</li>
				<li class="b9-four-li">
					<input type="text" placeholder="Nombres">
					<input type="text" placeholder="Apellidos">
				</li>
				<li class="b9-four-li">
					<div class="b9-four-item1">
						<select name="document" id="documento">
							<option value="">Tipo de Documento</option>
						</select>
						<input type="text" placeholder="Numero de Documento">
					</div>
					<div class="b9-four-item2">
						<select name="document" id="documento">
							<option value="">Fecha de nacimiento</option>
						</select>
					</div>
				</li>
				<li class="b9-five-li">
					<div class="b9-second-item1">
						<div class="b9-radio">
							<input type="radio" value="si" class="radio1" name="dependiente2" checked id="radiosi2">
							<label for="radiosi2">Dependiente</label>
						</div>
						<div class="b9-radio">
							<input type="radio" value="no" class="radio2" name="dependiente2" checked id="radiono2">
							<label for="radiono2">Independiente</label>
						</div>
					</div>
					<div class="b9-second-item2">
						<select name="document" id="documento">
							<option value="">Estado Civíl</option>
						</select>
					</div>
				</li>
				<div class="b9-conyuge">
					<p class="b9-propiedades">
						Información de Propiedades
					</p>
					<li>
						<div class="b9-radio-propiedad">
							<p>¿Tiene alguna propiedad?</p>
							<div class="b9-box-radio">
								<div class="b9-radio">
									<input type="radio" checked value="si" class="radio1" name="propiedad" id="propiedadSI">
									<label for="propiedadSI">Si</label>
								</div>
								<div class="b9-radio">
									<input type="radio" value="no" class="radio2" name="propiedad" id="propiedadNO">
									<label for="propiedadNO">No</label>
								</div>
							</div>
						</div>
						<div class="b9-radio-propiedad">
							<p>¿Tiene algún vehículo?</p>
							<div class="b9-box-radio">
								<div class="b9-radio">
									<input type="radio" value="si" class="radio1" name="vehiculo" id="vehiculoSI">
									<label for="vehiculoSI">Si</label>
								</div>
								<div class="b9-radio">
									<input type="radio" checked value="no" class="radio2" name="vehiculo" id="vehiculoNO">
									<label for="vehiculoNO">No</label>
								</div>
							</div>
						</div>
					</li>
					<li class="b9-third-li b9-terminos">
						<input type="checkbox" id="terminos">
						<label for="terminos">Acepto <a href="">Términos y  Condiciones</a> de Mi Préstamo Ya</label>
					</li>
				</div>
				<!--<button class="btn-general">Continuar</button>-->
				<a href="SOLICITUD-3.html" class="btn-general">Continuar</a>
			</ul>
		</form>
	</div>
	</div>
</section>


{% endblock %}
{% block jsfinal %}
<script src="{{ STATIC_URL }}js/jquery-ui.js"></script>
<script type="text/javascript">
  $(function(){
  	$("#slider").slider();
  });
</script>
{% endblock %}