button
	background transparent
	border none

.btn1
	background #ff1440
	border-radius 10px
	margin-bottom 20px
	box-shadow 0px 5px 0px 0px #a70b26
	color white
	font-family t-1
	font-size 19px
	position relative
	display inline-block
	height 50px
	line-height 50px
	text-align center
	padding 0 15px
	display block
	transition-all()
	&:hover
		background #ff7e00
		box-shadow 0px 5px 0px 0px #bd5d00