.b1
	max-height 800px
	padding-top 300px
	padding-bottom 150px
	color white
	font-size 0
	background url(../media/FONDO-HERO.jpg) center center no-repeat
	background-size cover
	text-align center
	overflow hidden
	.wancho
		position relative
		.b1-dolar
			position absolute
			&.uno
				left: -170px;
				top: -280px;
				width: 210px;
			&.dos
				top 169px
				left -220px
			&.tres
				top -159px
				left 470px
				width 430px
			&.cuatro
				top -300px
				right -70px
				width 710px
				
			img
				img-res()
	
.b1-left
	font-size 16px
	width 50%
	display inline-block
	vertical-align top
	padding-left 10%
	box-sizing border-box
	position relative
	z-index 1
	h2
		font-family t-6
		font-size 40px
		strong
			font-family t-2

	p
		font-family t-10
		font-size 30px
		position relative
		display inline-block
		width 320px
		box-sizing border-box
		margin-top 10px
	span
		font-size 50px
		position absolute
		left -50px
		bottom -2px
		


.b1-right
	font-size 16px
	width 50%
	display inline-block
	vertical-align top
	padding-left 6%
	box-sizing border-box
	position relative
	z-index 1
.b1-form
	max-width 400px
	background white
	color #585858
	padding 20px
	border-radius 10px
	input,
	button,
	.b1-registrar
		display block
		height 50px
		line-height 50px
		width 100%
		margin 0
		padding 0
		border none
		
	input
		background #e4e5e5
		padding-left 15px
		border-radius 10px
		box-sizing border-box
		margin-bottom 15px
		
	button,
	.b1-registrar
		background #ff1440
		border-radius 10px
		margin-bottom 20px
		box-shadow 0px 5px 0px 0px #a70b26
		color white
		font-family t-1
		font-size 19px
		position relative
		transition-all()
		&:before
			content "\e91a"
			font-family icomoon
			font-size 28px
			color white
			display inline-block
			vertical-align middle
			margin-right 10px
		&:hover
			background #ff7e00
			box-shadow 0px 5px 0px 0px #bd5d00
				
	p
		font-family t-10
		margin-bottom 0
	a
		color #ff1440

.b1-login
	max-width 250px
	margin-left 90px
	margin-top 15px
	text-align center
	font-family t-10
	font-size 22px
	line-height 1
	a
		font-family t-2
		text-decoration underline
		
@media screen and (max-width 1080px)
	// .b1
	// 	.wancho
	// 		.b1-dolar
	// 			display none
				
	.b1-left
		padding-left 0
		
		
@media screen and (max-width 960px)
	.b1
		padding-top 150px
		padding-bottom 60px

	.b1-left
		display block
		margin auto
		margin-bottom 30px
		width 430px
		
	.b1-right
		display block
		margin auto
		padding 0
		width 430px
		
		
@media screen and (max-width 600px)
	.b1-left
		max-width 390px
		width 100%
		h2
			font-size 30px
		p
			font-size 20px
			width 260px
			padding-left 50px
			box-sizing border-box
		span
			left -2px

	.b1-right
		max-width 430px
		width 100%
		font-size 13px
		
	.b1-login
		width 100%
		margin auto
		margin-top 20px