.contacto
	.b10
		background url(../media/contacto.jpg) center center no-repeat
.politica
	.b10
		background url(../media/politica.jpg) center center no-repeat
.somos
	.b10
		background url(../media/quienes-somos.jpg) center center no-repeat

.b10
	background url(../media/politica.jpg) center center no-repeat
	background-size cover
	height 500px
	width 2000px
	display table-cell
	vertical-align bottom
	padding-bottom 50px
	box-sizing border-box
	h1
		/*fuentes*/
		font-size 25px
		color white
		strong
			margin-top 10px
			display block
			font-size 50px	

@media screen and (max-width 1080px)
	.b10
		height 400px

@media screen and (max-width 767px)
	.b10
		h1
			font-size 20px
			strong
				font-size 30px

@media screen and (max-width 600px)
	.b10
		height 300px
