.b11
	color #9f9f9f
	font-size 0
	margin-bottom 70px
	.wancho
		width 75%
		margin-top 100px

.b11-left,
.b11-right
	display inline-block
	vertical-align top
	width 35%
	font-size 16px

.b11-right
	width 65%
	
.b11-left
	p
		margin-bottom 20px
	
.b11-title
	color c-3
	font-size 20px
	margin-bottom 30px
	
.b11-redes
	margin-top 30px
	p
		margin-bottom 0
	span
		margin-right 10px
		display inline-block
	a
		display inline-block
		margin 0 3px
		&:before
			color #9f9f9f
		
.b11-right
	text-align right	
	button
		padding 0 60px
		display inline-block
	
	input
		width 100%
		box-sizing 
		height 40px
		padding 0 15px
		box-sizing border-box
		margin-bottom 30px
		border-radius 3px
		border 1px solid gray

.b11-form1,
.b11-form2
	p
		text-align left
		display block

	.b11-dudas
		margin-bottom 35px
		
.b11-form1
	margin-bottom 60px
		
@media screen and (max-width 1200px)
	.b11
		.wancho
			width 90%
		
@media screen and (max-width 960px)
	.b11
		.wancho
			width 94%
	
	.b11-left
		width 40%
	.b11-right
		width 60%
		
@media screen and (max-width 767px)
	.b11
		.wancho
			margin-top 60px
			width 94%
	
	.b11-left
		width 100%
		text-align center
		margin-bottom 40px
		padding-bottom 40px
		border-bottom 1px solid gray
		box-sizing 
		
	.b11-right
		width 100%
		text-align center
		
		
.b11-login
	width 100%
	margin auto
	padding 100px 0
	box-sizing border-box
	text-align center
	.b11-form2
		max-width 400px
		button
			margin-bottom 30px
			width 100%
		a
			display block
			color blue
			margin-top 10px
		.b11-sesion
			color white
	input
		margin-bottom 20px
		
@media screen and (max-width 767px)
	.b11-login
		padding 50px 0
	
		







