.b13
	margin-top 70px
	.b8-box
		h4
			a
				display block
				margin-left 0
				color #ff1440
				padding-left 0
				width 100%
	li
		margin-bottom 10px
		&:after,
		&:before
			display none
		strong
			margin-left 20px
			display inline-block
			margin-right 40px
			
	.b13-img,
	p,
	a
		display inline-block
		vertical-align middle
		margin-bottom 0
	

	.b8-box
		ul
			margin-left 50px
			margin-top 50px
			li
				p
					padding 0
					width 40%
					padding-left 15px
					box-sizing border-box
		a
			color white
			font-size 16px
			padding 0 40px
			width 12%
			
	.b6-alerta
		display block
		text-align center
		margin-bottom 50px
			
.b13-img
	position relative
	padding-right 20px
	width 30%
	box-sizing border-box
	// &:before
	// 	content ""
	// 	position absolute
	// 	top 0
	// 	bottom 0
	// 	right 0
	// 	margin auto
	// 	width 1px
	// 	height 50%
	// 	background red
	img
		img-res()
		
@media screen and (max-width 1100px)
	.b13
		.b8-box
			ul
				margin-left 0
		
@media screen and (max-width 768px)
	.b13 
		.b8-box 
			padding-left 0
			h4
				padding-left 100px
			a
				height 40px
				line-height 40px
				width 11%
				font-size 15px
			ul
				li
					p
						width 42%
						padding-left 10px
						box-sizing border-box
					strong
						margin-right 0
				
	.b13-img
		padding-right 0

@media screen and (max-width 600px)
	.b13
		margin-top 120px
		.b8-box 
			h4
				padding-left 0
			ul
				text-align center
				li
					p
						width 45%
			a
				display block
				margin auto
				margin-top 10px
				margin-bottom 30px
				width 30%
				
	.b13 .b13-img 
		width 45%
				





