.b14
	text-align center
	background #dedede
	padding 20px 0
	font-size 0
	p
		display inline-block
		vertical-align middle
		margin-bottom 0
		width 15%
		font-size 16px
	.b6-items
		width 85%
		display inline-block
		vertical-align middle
		
@media screen and (max-width 1000px)
	.b14
		p
			display block
			width 100%
			margin-bottom 20px
		.b6-item
			width 18%
			display inline-block
		.b6-figure
			width 100px
			height 100px
			span
				font-size 40px
				height 40px
		
@media screen and (max-width 768px)
	.b14
		.b6-item
			width 30%
			span
				top 0
		
@media screen and (max-width 500px)
	.b14
		.b6-item
			width 47%
		
		



