.b15
	color c-0
	font-size 0
	margin-bottom 70px
	.wancho
		width 80%
		margin-top 100px

.b15-left,
.b15-right
	display inline-block
	vertical-align top
	width 30%
	font-size 16px

.b15-right
	width 70%
	
.b15-left
	p
		margin-bottom 20px
	
.b15-title
	color c-3
	font-size 20px
	margin-bottom 30px
	
.b15-redes
	margin-top 30px
	p
		margin-bottom 0
	span
		margin-right 10px
		display inline-block
	a
		display inline-block
		margin 0 3px
		&:before
			color c-0	
		
.b15-right
	text-align right	
	button
		padding 0 60px
	
	input
		width 100%
		box-sizing 
		height 40px
		padding 0 15px
		box-sizing border-box
		margin-bottom 30px
		border-radius 3px
		border 1px solid gray

.b15-form1,
.b15-form2
	p
		text-align left
		display block

	.b15-dudas
		margin-bottom 35px
		
.b15-form1
	margin-bottom 60px
	li
		margin-bottom 70px
		position relative
		&:before
			content ""
			position absolute
			bottom -55px
			left 70px
			width 2px
			height 40px
			background black
		&:last-child
			&:before
				display none
	
.b15-img
	padding-left 30px
	text-align left
	img,
	figcaption
		display inline-block
		vertical-align middle
	img
		margin-right 20px
		
.b15-container2
	margin-bottom 70px

@media screen and (max-width 960px)
	.b15
		.wancho
			width 87%
	
	.b15-left
		width 40%
	.b15-right
		width 60%
		
@media screen and (max-width 767px)
	.b15
		.wancho
			margin-top 60px
			width 94%
	
	.b15-left
		width 100%
		text-align center
		
	.b15-right
		width 100%
		text-align center
		
@media screen and (max-width 500px)

	.b15-img
		padding-left 0
		text-align center
		img
			padding-left 0
			margin 0 auto
			display block
			margin-bottom 15px
			
	.b15-form1
		li
			&:before
				left 0
				right 0
				margin auto
		
		
		
		







