.b16
	background url(../media/solicitud.jpg) center center no-repeat
	height 750px
	background-size cover
	.btn1
		width 50%

.b16-text
	display table-cell
	vertical-align middle
	height 750px
	width 2000px
	.b16-container
		width 450px
		text-align center
		h1
			font-size 35px
			margin-bottom 15px
			
		p
			font-size 22px
			

@media screen and (max-width 767px)
	.b16
		background-position -645px -89px
	.b16-text
		.b16-container
			width 100%
			color white
			

@media screen and (max-width 600px)
	.b16
		background-position -900px -89px
		.btn1
			width 70%
	.b16-text
		.b16-container
			width 100%
			color white