.b17
	font-size 0
	text-align center
	margin-top -70px
	.btn1
		margin auto
		margin-top 40px
		width 200px
		margin-bottom 40px
	.b17-border
		padding 50px
		box-sizing border-box
		border 1.1px solid #c3c2c2
		margin-bottom 40px
		background white
	.wancho
		max-width 1100px
	.b17-terminos
		font-size 15px
		text-align left
		margin-bottom 50px
	&.mtnone
		margin 30px 0
		p
			margin-bottom 0

.b17-left,
.b17-right
	display inline-block
	vertical-align middle
	width 50%
	font-size 19px
	font-family t-6
	.input
		width 40px
		height 30px
		display inline-block
		vertical-align middle
		margin 0 2%
		border 1.1px solid #c3c2c2
		border-radius 3px
	p
		display block
		margin-bottom 20px
		
.b17-left
	border-right 1.1px solid #c3c2c2
	box-sizing border-box
	
.b17-left-box
	text-align center
	strong
		font-size 40px
		font-family t-2
		margin-bottom 5px
		display inline-block
	.b17-celular
		margin-top 20px
		font-size 14px
		color c-2
		a
			text-decoration underline
			font-family t-1

.b17-right-box
	padding-left 10px
	box-sizing border-box

.b17-right-figure
	margin-top 20px
	img
		img-res()
	

@media screen and (max-width 960px)
	.b17
		margin-top -120px
		.b17-border
			padding 15px
			padding-top 30px
	
	.b17-left,
	.b17-right
		font-size 17px

@media screen and (max-width 767px)
	
	.b17-left,
	.b17-right
		width 100%
		font-size 15px
		p
			margin-bottom 10px
		
	.b17-left
		border-right none
		border-bottom 1.1px solid #c3c2c2
		margin-bottom 20px
	
	.b17-left-box
		strong
			font-size 30px

	.b17
		&.mtnone
			margin-top -50px








