.b18
	font-size 0
	text-align center
	margin-top -70px
	.btn1
		margin auto
		margin-top 40px
		width 200px
		margin-bottom 40px
	.b18-border
		padding 50px
		box-sizing border-box
		border 1.1px solid #c3c2c2
		margin-bottom 40px
		background white
	.wancho
		max-width 1100px
	&.b9
		margin 0
		margin-top -160px
	.b9-form 
		li
			margin-bottom 15px
			padding 0
			
@media screen and (max-width 767px)
	.b18
		margin-top -230px
		.b18-border
			padding 15px
			padding-top 30px
		.b9-form
			li
				margin-bottom 0
			input,
			select
				font-size 14px
		.b9-third-li 
			a
				margin-bottom 30px
				
@media screen and (max-width 600px)
	.b18
		.b9-form
			li
				margin-bottom 0
			input,
			select
				font-size 14px
		.b9-four-li 
			.b9-four-input
				width 100%
				
			.b9-four-direccion 
				width 100%
				input
					width 31%
					&:last-child
						margin-right 0
					
		.b9-radio
			width 100%








