.b19
	background c-3
	text-align center
	font-family t-6
	font-size 32px
	color white
	padding-top 50px
	padding-bottom 40px
	p
		margin-top 20px
	strong
		font-family t-8
		display inline-block
	span
		font-size 20px
		font-family t-10
	.btn1
		width 130px
		
.b19-icono
	font-size 80px
	

@media screen and (max-width 600px)
	.b19
		font-size 25px
		margin-top 90px
		strong
			margin-top 0px
		span
			font-size 17px
			
	.b19-icono
		font-size 60px
		
.b19-2
	margin-top 50px
	color white
	font-family t-10
	.b20-monto
		font-size 18px
		placeholder(white,t-10)
		.b19-input
			display block
			margin auto
			margin-top 20px
	p
		display block

	input,
	select
		text-align center
		height 40px
		line-height 40px
		border 1px solid white
		border-radius 3px
		width 200px
		display inline-block
		vertical-align middle
		background transparent
		color white
		
	select
		margin-right 15px
		
.b19-slider
	width 50%
	margin auto
	margin-left 15px
	margin-right 15px
	padding-left 10px
	padding-right 10px
	display inline-block
	vertical-align middle
	.ui-slider
		height 5px
	.ui-slider-handle
		width 25px
		height 25px
		border-radius 50%
		background c-4
		border none
		top -10px
		
@media screen and (max-width 600px)
	.b19-2
		font-size 25px
		margin-top 90px
		
@media screen and (max-width 500px)
	.b19-2 input, 
	.b19-2 select
		width 100%
		margin 0
		margin-top 10px
		






