.b2
	text-align center
	font-size 0
	padding 150px 0
	color #0056ff
	p
		font-family t-14
		font-size 32px
		line-height 1.1
		max-width 750px
		margin auto
		margin-bottom 10px
	h2
		font-family t-8
		font-size 35px
		display inline-block
		vertical-align middle
		margin-bottom 0
		margin-top 20px
		
	a
		display inline-block
		vertical-align middle
		width 300px
		margin-left 10px
		img
			img-res()

@media screen and (max-width 600px)
	.b2
		padding 100px 0
		p
			font-size 19px
		h2
			font-size 25px
			margin-top 10px
		a
			width 140px