.b20
	font-size 27px
	font-family t-6
	text-align center
	p
		margin-bottom 45px
		margin-top 60px
	hr
		border none
		margin 0

.b20-content
	text-align left
	max-width 900px
	margin auto
	margin-bottom 50px

.b20-figure
	display inline-block
	width 31%
	vertical-align middle
	text-align center
	background #f2f2f2
	padding 50px 0
	box-sizing border-box
	margin .5%
	font-size 20px
	font-family t-8
	transition-all()
	&.active,
	&:hover
		background c-3
		color white
		a
			&:before
				color white
	span
		margin-bottom 10px
		display inline-block
		&:before
			font-size 60px

.b20-box-archivo
	max-width 370px
	margin auto
	font-size 17px
	font-family t-10
	.b20-archivo-p
		margin 0
		margin-top 10px
			
.b20-archivo
	border 1px solid gray
	border-radius 3px
	padding 5px
	box-sizing border-box
	input
		width 136px
		border 1px solid gray
		border-radius 3px
		background transparent
		height 25pπx
		display inline-block
		line-height 28px
		span
			color red
			margin-left 15px
			display inline-block
			margin-right 30px

.b20-btns
	margin-top 100px
	margin-bottom 80px
	.btn1,
	.b20-btn
		display inline-block
		vertical-align middle
		width 200px
	.btn1
		background c-1
		box-shadow 0px 5px 0px 0px #b85d04
		margin-right 40px
		&:hover
			box-shadow 0px 5px 0px 0px c-1
			
	.b20-btn
		background c-2
		box-shadow 0px 5px 0px 0px #a70b26
		margin-left 40px
		margin-right 0
		&:hover
			box-shadow 0px 5px 0px 0px c-2
			
		

@media screen and (max-width 767px)
	.b20
		font-size 22px
	.b20-content
		hr
			display none
	.b20-figure
		display inline-block
		width 48%
		font-size 18px
		

@media screen and (max-width 600px)
	.b20-btns 
		margin-top 50px
		margin-bottom 50px
		.btn1
			display block
			margin auto
			margin-top 20px
		

@media screen and (max-width 500px)
	.b20
		font-size 20px
		p
			margin-top 50px
			margin-bottom 25px
	.b20-figure
		width 100%
		margin 0
		margin-bottom 2%
	
	.b20-archivo
		font-size 20px
		span
			margin auto
			margin-top 6px
			display block