.b3
	text-align center
	font-size 0
	background #0056ff
	padding 40px 0
	padding-bottom 80px
	color white
	&.b3-solicitud
		margin-bottom 20px
	&.b3-solicitud-finalizar
		margin-bottom 30px
		.b3-title
			strong
				display block
			a
				padding 0 45px
				display inline-block
	
.b3-title
	font-family t-6
	font-size 28px
	margin-bottom 40px
	line-height 1.1
	strong
		font-family t-8
	p
		font-size 19px
		font-family t-6
		margin-top 10px
		display block
	
.b3-item-box
	color white
	font-size 19px
	width 20%
	display inline-block
	vertical-align middle
	position relative
	.b3-item
		transform translateY(60px)
		transition-all()
	h4
		font-family t-0
	p
		font-size 16px
		opacity 0
		visibility hidden
		transition-all()
		margin 18px 40px
	a
		margin 0 40px
		height 40px
		line-height 40px
		opacity 0
		visibility hidden
	&:before
		content ""
		position absolute
		top 0
		right 0
		bottom 0
		margin auto
		width 1px
		height 100%
		background white
	&:last-child
		&:before
			display none
	&:hover
		.b3-item
			transform translateY(0px)
		p,
		a
			opacity 1
			visibility visible
			
.b3-icon
	font-size 50px
	margin-bottom 15px
	
@media screen and (max-width 1300px)
	.b3-item-box
		p
			margin 18px 10px
		a
			font-size 15px
	
@media screen and (max-width 1024px)
	.b3-item-box
		transform inherit
		p
			opacity 1
			visibility visible
		a
			opacity 1
			visibility visible
			margin 0 20px
		.b3-item
			transform inherit
	
@media screen and (max-width 768px)
	.b3-title
		font-size 20px
		p
			font-size 15px
			display block
	
	.b3
		&.b3-solicitud-finalizar
			a
				font-size 17px
				padding 0 30px
				height 45px
				line-height 45px
		
	.b3-item-box
		display block
		width 100%
		margin-bottom 15px
		padding-bottom 20px
		&:before
			top inherit
			left 0
			width 100%
			height 1px
		.b3-icon,
		h4,
		p,
		a
			display inline-block
			vertical-align middle
		.b3-icon
			text-align left
			width 60px
		a
			margin-top -10px
			padding 0 10px
			box-sizing border-box
			
@media screen and (max-width 600px)
	.b3
		margin-top 90px
	.b3-item-box
		a
			padding 0 50px
			height 30px
			line-height 30px
			font-size 14px
			border-radius 6px