.b4
	font-size 0
	padding 50px 0
	background #f3f3f3
	img
		img-res()
		

	.swiper-container
		padding 0 30px
		box-sizing border-box
		
	.swiper-pagination
		display none
		
	.swiper-button-next, 
	.swiper-button-prev	
		opacity 1
		background none
		&:before
			content "\e606"
			font-family icomoon
			font-size 50px
			
	.swiper-button-prev	
		opacity 1
		background none
		&:before
			content "\e607"
			font-family icomoon
			font-size 50px