.swiper-container 
  width 100%
  height 100%
  .swiper-button-prev,
  .swiper-button-next
    background none
    &:before
      content "\e607"
      font-family icomoon
      font-size 70px
      position absolute
      left -20px
      color white
  .swiper-button-next
    background none
    &:before
      content "\e606"
      right -20px
      lef inherit
  

.swiper-slide 
  text-align center
  font-size 18px
  background #fff
  /* Center slide text vertically */
  display -webkit-box
  display -ms-flexbox
  display -webkit-flex
  display flex
  -webkit-box-pack center
  -ms-flex-pack center
  -webkit-justify-content center
  justify-content center
  -webkit-box-align center
  -ms-flex-align center
  -webkit-align-items center
  align-items center


.video
  width 100%
  height 90%

.videoWrapper 
  position relative
  top -70px
  padding-bottom 56.25% /* 169 */
  padding-top 25px
  height 0

.videoWrapper iframe 
  position absolute
  top 0
  left 0
  width 100%
  height 100%


// video
//   position fixed
//   top 50%
//   left 50%
//   min-width 100%
//   min-height 100%
//   width auto
//   height auto
//   z-index -100
//   transform translateX(-50%) translateY(-50%)
//   //background url('//demosthenes.info/assets/images/polina.jpg') no-repeat
//   background-size cover
//   transition 1s opacity

.background 
  background-position center center 
  background-repeat no-repeat
  background-size cover
  width 100%
  height 100%
  
  