.b5
	text-align right
	font-size 16px
	padding-top 50px
	margin-bottom 50px
	

.b5-datos,
.b5-img	
	display inline-block
	vertical-align bottom

.b5-img
	img
		width 141px
		height 141px
		border-radius 50%
		border 1px solid gray
		img-res()

.b5-datos
	margin-right 20px
	h4
		font-family t-10
		font-size 25px
		margin-bottom 7px
	p
		font-family t-10
		font-size 20px
		margin-bottom 7px
	a
		font-family t-2
		color white
		font-size 16px
		background #ff1440
		padding-left 35px
		padding-right 10px
		padding-top 7px
		padding-bottom 7px
		border-radius 10px
		display inline-block
		position relative
		margin-bottom 10px
		&:before
			content "\e91a"
			font-family icomoon
			font-size 20px
			color white
			position absolute
			left 10px
			top 7px
			
@media screen and (max-width 1024px)
	.b5-img
		width 120px
		padding-right 20px
		box-sizing border-box
			
@media screen and (max-width 600px)
	.b5
		display none