.b6
	font-family t-2
	color #4e4f49
	font-size 40px
	text-align center
	margin-top 60px
	margin-bottom 50px
	h2
		font-family t-1
		margin-bottom 50px
		font-size 32px
		strong
			color #0056ff
			

.b6-items
	font-size 0

.b6-item
	display inline-block
	vertical-align middle
	width 18%
	margin: 0 1%;
	&.active
		p
			opacity .8
		.btn
			opacity 0
		

.b6-figure
	max-width 185px
	margin auto
	width 145px
	height 145px
	background #0056ff
	border-radius 50%
	position relative
	overflow hidden
	span
		color white
		font-size 70px
		position absolute
		top 0
		bottom 0
		right 0
		left 0
		margin auto
		height 70px
	p
		position absolute
		top 0
		left 0
		bottom 0
		padding-top 50px
		padding-bottom 130px
		box-sizing border-box
		height 100px
		width 100%
		margin auto
		background white
		font-size 17px
		color #0056ff
		margin-bottom 0
		margin-top 0
		opacity 0

.b6-items
	font-size 0
	
.b6-item
	display inline-block
	vertical-align middle
	width 18%
	margin 0 1%
	

		
.b6-text
	font-size 22px
	font-family t-8
	color #b1b1b1
	line-height 1
	p
		margin 20px 0
	.btn
		background #ff1440
		color white
		font-size 21px
		padding 15px 10px
		border-radius 10px
		margin 0
		box-shadow 0px 5px 0px 0px #a70b26
		transition-all()
		&:hover
			background #ff7e00
			box-shadow 0px 5px 0px 0px #bd5d00

			
// ALERTA

.b6-alerta
	padding 30px
	box-sizing border-box
	background c-1
	font-family t-10
	color white
	font-size 20px
	margin-top 70px
	margin-bottom 80px
	a
		text-decoration underline
		font-family t-2

// ALERTA

	
@media screen and (max-width 1000px)
	.b6-item
		display block
		width 100%
		margin-bottom 20px
	
	.b6-figure,
	.b6-text,
	p
		display inline-block
		vertical-align middle
		
	.b6-text
		p
			margin 0 20px
		
@media screen and (max-width 768px)
	.b6
		h2
			font-size 25px
	.b6-figure
		width 100px
		height 100px
		span
			font-size 50px
			top 25px
		p
			padding 0
			padding-top 30px
			font-size 12px
	.b6-text 
		p
			font-size 19px
		.btn
			font-size 19px
		
@media screen and (max-width 500px)
	.b6-item
		margin-bottom 30px
		&.active
			.btn
				display none
	.b6-figure
		display block
	.b6-text 
		p
			display block
			margin 10px 0
		
	