.b7
	text-align center
	font-size 15px
	background #eeeff1
	font-family t-10
	padding-top 30px
	padding-bottom 45px
	margin-top 50px
	p
		margin-bottom 0
		line-height 1.2
	
.b7-left,
.b7-center,
.b7-right
	display inline-block
	vertical-align middle
	width 31.5%
	
.b7-center
	width 15%
	
.b7-left,
.b7-right
	text-align left
	
.b7-left
	font-size 29px
	p
		max-width 360px
		text-align right
		line-height 1
		margin auto
		margin-right 5px
		
.b7-right
	strong
		font-family t-2
		
.b7-texto
	padding-top 70px
	padding-bottom 50px

@media screen and (max-width 960px)
	.b7-left, 
	.b7-right
		width 40%
		
@media screen and (max-width 767px)
	.b7-left, 
	.b7-right
		width 90%
		display block
		text-align center
		margin auto
	
	.b7-left
		p
			max-width 100%
			margin 0
			margin-bottom 20px
			text-align center
	
	.b7-right
		margin-top 20px