.b8
	font-family t-2
	color #4e4f49
	font-size 16px
	text-align center
	margin-top 60px
	margin-bottom 90px
	.wancho
		border-bottom 0.5px solid #b7b5b5
		padding-bottom 40px
	h2
		font-family t-1
		margin-bottom 50px
		font-size 32px
		strong
			color #0056ff
			font-family t-2
			
.b8-box
	position relative
	text-align left
	padding-left 100px
	box-sizing border-box
	h4
		font-family t-2
		font-size 18px
	a
		color c-2
		font-size 13px
		margin-left 5px
	ul
		margin-top 20px
		margin-left 7px
		li
			position relative
			&:before
				content ""
				background c-3
				width 8px
				height 8px
				border-radius 50%
				position absolute
				left 0
				top 5px
				margin auto
			&:after
				content ""
				background c-3
				width 2px
				height 100%
				position absolute
				left 3px
				top 7px
				bottom 0
			p
				padding-bottom 25px
				padding-left 20px
				margin 0
				font-family t-0
			&:last-child
				&:after
					display none
				
	

.b8-icon
	position absolute
	left 0
	top -30px
	display inline-block
	width 80px
	height 80px
	border-radius 50%
	background c-3
	font-size 30px
	span
		text-align center
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		margin: auto;
		height: 30px;
		&:before
			color white
			
.b8-content
	p
		font-family t-0
		font-size 16px
	.btn
		background #ff1440
		color white
		font-size 17px
		padding 15px 25px
		border-radius 10px
		margin 0
		box-shadow 0px 5px 0px 0px #a70b26
		display inline-block
		position absolute
		top 0
		right 0
		transition-all()
		&:hover
			background #ff7e00
			box-shadow 0px 5px 0px 0px #bd5d00
			
@media screen and (max-width 600px)
	.b8
		margin-top 100px

	.b8-box
		padding-left 0
		text-align center
		ul
			text-align left
			margin-top 30px
	
	.b8-icon
		position inherit
		top -10px
	.b8-content
		.btn
			position inherit
			display inline-block
			width 80%
			text-align center





