.b9
	text-align center
	font-size 0
	margin-top 50px
	font-family t-6
	h4
		font-family t-12
		font-size 21px
		margin-bottom 30px
	.btn-general		
		background #ff1440
		color white
		font-size 17px
		padding 15px 60px
		padding-bottom 10px
		border-radius 10px
		margin auto
		margin-top 20px
		margin-bottom 50px
		box-shadow 0px 5px 0px 0px #a70b26
		display inline-block
		transition-all()
		&:hover
			background #ff7e00
			box-shadow 0px 5px 0px 0px #bd5d00
	
.b9-form
	font-size 16px
	max-width 850px
	margin auto
	text-align center
	li
		margin-bottom 10px
		font-size 0
		text-align left
	p
		font-family t-8
		font-size 16px
		margin-bottom 10px
		text-align left
	input,
	select
		display inline-block
		vertical-align middle
		width 47%
		margin-right 2%
		padding 8px
		box-sizing border-box
		color #757575
		font-size 16px
		border 1px solid #757575
		

.b9-second-li
	width 100%
	font-size 16px

.b9-second-item1,
.b9-second-item2
	display inline-block
	vertical-align middle
	width 49%
	font-size 16px
	p
		margin-bottom 0

.b9-radio
	display inline-block
	vertical-align middle
	width 47%
	border 1px solid #757575
	padding 8px
	box-sizing border-box
	color #757575
	position relative
	margin-right 1%
	cursor pointer
	input
		display none
	label
		display block
		&:before
			content ""
			border 1px solid #757575
			width 20px
			height 20px
			position absolute
			right 10px
			top 0
			bottom 0
			margin auto
		&:after
			content "\e605"
			font-family icomoon
			font-size 18px
			position absolute
			right 3px
			top 9px
			right 12px
			bottom 0
			opacity 0
	input[type="radio"]:checked + label:after
		opacity 1
		

.b9-second-item1
	p,
	input
		display inline-block
		vertical-align middle
		width 45%

.b9-second-item1
	p
		width 48%
		font-family t-6
	input
		margin-right 0

.b9-third-li
	margin-top 30px
	text-align left
	input
		display none
	label
		font-size 16px
		display inline-block
		vertical-align middle
		padding-left 30px
		position relative
		font-family t-8
		&:before
			content ""
			border 1px solid #757575
			width 20px
			height 20px
			position absolute
			left 0
			top -3px
			bottom 0
			margin auto
		&:after
			content "\e605"
			font-family icomoon
			font-size 18px
			position absolute
			left 3px
			top 0
			right 0
			bottom 0
			opacity 0
	
	input[type="checkbox"]:checked + label:after
		opacity 1
	a
		font-family t-8
			

.b9-four-li
	text-align left
	select
		width 47%
	label
		font-size 16px
	.b9-four-input
		width 23%
	.b9-four-direccion
		width 47%
		display inline-block
		vertical-align middle
		input
			width 30%
			margin-right 3.3%

.b9-four-item1,
.b9-four-item2
	display inline-block
	vertical-align middle
	width 49%
	.b9-checkbox
		display inline-block
		vertical-align bottom
		width 49%
		label,
		input	
			display inline-block
			vertical-align bottom
			width 60%
		input
			width 38%
		

.b9-five-li
	.b9-second-item1
		input
			display none
			
.b9-terminos
	text-align center
	label
		display block
		text-align left
		
.b9-conyuge
	background #eaeaea
	padding 20px 0
	padding-bottom 40px
	margin-top 30px
	position relative
	&:before
		content ""
		position absolute
		right 100%
		width 2000px
		height 100%
		top 0
		background #eaeaea
	&:after
		content ""
		position absolute
		left 100%
		width 2000px
		height 100%
		top 0
		background #eaeaea

.b9-propiedades
	margin-top 40px
	
.b9-radio-propiedad
	p
		font-family t-6
		display inline-block
		vertical-align middle
		width 180px
		margin-right 40px
		margin-bottom 0

.b9-box-radio
	display inline-block
	vertical-align middle
	width 200px
	.b9-radio
		display inline-block
		vertical-align middle
		width 70px
		border none
		font-size 16px
		label
			&:before
				border-radius 50%
			&:after
				border-radius 50%
				width: 6px;
				height: 6px;
				top: 15px;
				background: black;
				right: 18px;
				content: "";

@media screen and (max-width 767px)
	.b9-form input, 
	.b9-form select
		width 100%
		margin 0
		margin-bottom 10px
	.b9-form
		li
			margin-bottom 0
		.b9-third-li
			margin-bottom 10px
	.b9-second-item1,
	.b9-second-item2
		width 100%
		margin 0
		//margin-bottom 10px
	.b9-second-item1 p
		margin-bottom 10px
		
	.b9-radio
		width 49%
		margin-bottom 10px
		&:first-child
			margin-right 1%
			
	.b9-four-item1,
	.b9-four-item2
		width 100%
		margin 0








		
