.footer
	//margin-top 500px
	background #262525
	padding-top 45px
	padding-bottom 40px
	
.footer-first
	margin-bottom 28px
	position relative
	
.footer-logo
	width 250px
	display inline-block
	vertical-align bottom
	text-align left
	//opacity 0
	img
		img-res()
	

.footer-right-btn
	position absolute
	bottom 0
	right 0
	color white
	padding 15px
	display inline-block
	background #4e4f49
	border-radius 7px
	box-shadow 0px 5px 0px 0px #353632
	transition-all()
	&:hover
		background #353632
		box-shadow 0px 5px 0px 0px #4e4f49
		
.footer-second
	font-size 0
	padding-bottom 40px
	border-bottom 1px solid #4e4f49
	.footer-item
		width 25%
		display inline-block
		vertical-align top
		p
			margin-bottom 0
			span
				display inline-block
				vertical-align middle
				margin 0 3px
				margin-bottom 2px
				&:first-child
					margin-left 10px
		&:nth-child(3)
			width 20%
		&:nth-child(4)
			width 30%
			text-align right
			font-size 16px
			color white 
			opacity .7
			p
				display inline-block
				vertical-align middle
				margin-bottom 17px
			a
				display inline-block
				vertical-align middle
				margin-bottom 0
				
	a
		color white
		opacity 0.8
		font-family  t-6
		font-size 16px
		margin-bottom 17px
		display block
		transition-all()
		&:hover
			opacity 1
			text-decoration underline
			
.footer-creditos
	text-align center
	color white
	opacity .7
	margin-top 20px
	transition-all()
	&:hover
		opacity 1
		
@media screen and (max-width 960px)
	.footer-second
		.footer-item
			width 50%
			padding-left 7%
			box-sizing border-box
			&:nth-child(3)
				width 50%
				margin-top 20px
			&:nth-child(4)
				width 50%
				margin-top 20px
				text-align left
		
@media screen and (max-width 600px)
	.footer-first
		text-align center
		margin-bottom 100px
		
	.footer-right-btn
		width 200px
		bottom -70px
		left 0

	.footer-second
		.footer-item
			width 100%
			text-align center
			margin-top 20px
			padding 0
			&:nth-child(3)
				width 100%
				text-align center
			&:nth-child(4)
				width 100%
				text-align center
			