body
	overflow-x hidden
	.cnt-wrapper
		overflow hidden

/* BODY CLASS */

.usuario
	.header
		background c-3
		position inherit
		.wancho
			border none
	.header-logo
		background url(../media/logo-azul.png) center center no-repeat
		background-size contain

@media screen and (max-width 1080px)
	.usuario
		.header
			background transparent
			height 1px
		.header-logo
			top -10px

// @media screen and (max-width 600px)
// 	.usuario
// 		.header
// 			margin-bottom 110px
.contacto
	.header-logo
		background url(../media/logo-blanco-naranja.png) center center no-repeat
		background-size contain
		

/* BODY CLASS */


.header
	font-size 0
	color white
	position absolute
	left 0
	width 100%
	z-index 99
	.wancho
		border-bottom 1px solid white
		position relative
	
	
.header-left
	width 80%
	display inline-block
	vertical-align middle
	text-align left
	li
		display inline-block
		vertical-align middle
		font-family t-0

.header-link
	padding 10px
	text-transform uppercase
	font-size 16px
	font-family t-1
	padding-bottom 20px
	padding-top 30px
	box-sizing border-box
	display inline-block
	opacity .7
	transition-all()
	&:hover
		opacity 1

.header-right
	width 20%
	display inline-block
	vertical-align middle
	font-size 18px
	text-align right
	a
		margin 0 5px
		display inline-block
		margin-top 10px
		font-size 22px
		transition-all()
		&:hover
			&:before
				color #ff7e00
			
.header-logo
	position absolute
	left 20px
	top 100px
	display inline-block
	width 270px
	height 109px
	background url(../media/logo.png) center center no-repeat
	background-size contain

.menu-mobile-open,
.menu-mobile-close
	display none

.menu-sidebar
	.header,
	.header-logo
		display none
		

	
@media screen and (max-width 1080px)

	.cnt-wrapper
		position relative
		left 0
		transition left 0.45s ease
		// &.active
		// 	left -200px

	.header-left,
	.header-right
		display none
		
	.header-logo
		top -10px
		left 10px
		width 180px
		

	.header
		.wancho
			border none
		&.menu-responsive
			display block
			width 100%
			margin-right 0
			margin-bottom 0
			right 0
			background: #fff;
			.wancho
				width 100%
			.header-left,
			.header-right
				width 100%
				display block
				text-align center
			
			.header-left
				padding-top 140px
				li
					display block
					
			.header-link
				width 100%
				padding 5px
				padding-bottom 15px
				color c-0
				font-size 14px
				&:hover
					color c-3
				
			.header-right
				margin-top 10px
				margin-bottom 15px
				text-align center
				width 100%
				a
					&:before
						color #2fc1a8
			.header-logo
				left 20px
				height 110px
		
	.menu-mobile-open
		opacity 1
		visibility visible
		background #eceaea
		color red
		border-radius 7px
		cursor pointer
		font-size 28px
		height 42px
		width 42px
		line-height 42px
		position fixed
		right 15px
		text-align center
		top 15px
		z-index 1000
		display block
		&.active
			visibility hidden
			opacity 0
			
	.menu-mobile-close
		visibility hidden
		opacity 0
		z-index 1000
		background white
		color c-4
		cursor pointer
		font-size 28px
		height 42px
		width 42px
		line-height 42px
		position fixed
		text-align center
		top 15px
		right 15px
		display block
		&.active
			visibility visible
			opacity 1
			right 20px
			z-index 1002
			
	.menu-sidebar
		width: 100%;
		height: 0;
		position: absolute;
		background: #fff;
		top: 0;
		left: 0;
		z-index: 1000;
		transition: right 1s ease;
		transition-all()
		opacity 0
		visibility hidden
		.header-logo
			display block
		&.active
			bottom 0
			opacity 1
			visibility visible
			height 100%
			.header-logo
				background url("../media/logo-azul.png") center center no-repeat
				background-size contain
			
			
