@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?l3hztu');
  src:  url('fonts/icomoon.eot?l3hztu#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?l3hztu') format('truetype'),
    url('fonts/icomoon.woff?l3hztu') format('woff'),
    url('fonts/icomoon.svg?l3hztu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Recibos-de-luz:before {
  content: "\e901";
  color: #525252;
}
.icon-recibo-x-honorarios:before {
  content: "\e919";
  color: #525252;
}
.icon-Pago-Impuestos:before {
  content: "\e91d";
  color: #525252;
}
.icon-DNI:before {
  content: "\e91e";
  color: #525252;
}
.icon-Boletas:before {
  content: "\e91f";
  color: #525252;
}
.icon-candadoiniciar-sesion:before {
  content: "\e909";
  color: #fff;
}
.icon-twitter:before {
  content: "\e91c";
  color: #fff;
}
.icon-adelanto-de-sueldo-ico:before {
  content: "\e900";
  color: #fff;
}
.icon-credito-hipotecario-ico:before {
  content: "\e903";
  color: #fff;
}
.icon-credito-vehicular-ico:before {
  content: "\e904";
  color: #fff;
}
.icon-prestamo-personal-ico:before {
  content: "\e905";
  color: #fff;
}
.icon-Tarjeta-de-credito-ico:before {
  content: "\e906";
  color: #fff;
}
.icon-facebook:before {
  content: "\e907";
  color: #fff;
}
.icon-logomi-prestamo-ya .path1:before {
  content: "\e90a";
  color: rgb(255, 255, 255);
}
.icon-logomi-prestamo-ya .path2:before {
  content: "\e90b";
  margin-left: -3.8203125em;
  color: rgb(255, 126, 0);
}
.icon-logomi-prestamo-ya .path3:before {
  content: "\e90c";
  margin-left: -3.8203125em;
  color: rgb(255, 126, 0);
}
.icon-logomi-prestamo-ya .path4:before {
  content: "\e90d";
  margin-left: -3.8203125em;
  color: rgb(255, 255, 255);
}
.icon-logomi-prestamo-ya .path5:before {
  content: "\e90e";
  margin-left: -3.8203125em;
  color: rgb(255, 255, 255);
}
.icon-logomi-prestamo-ya .path6:before {
  content: "\e90f";
  margin-left: -3.8203125em;
  color: rgb(255, 255, 255);
}
.icon-logomi-prestamo-ya .path7:before {
  content: "\e910";
  margin-left: -3.8203125em;
  color: rgb(255, 255, 255);
}
.icon-logomi-prestamo-ya .path8:before {
  content: "\e911";
  margin-left: -3.8203125em;
  color: rgb(255, 255, 255);
}
.icon-logomi-prestamo-ya .path9:before {
  content: "\e912";
  margin-left: -3.8203125em;
  color: rgb(255, 255, 255);
}
.icon-logomi-prestamo-ya .path10:before {
  content: "\e913";
  margin-left: -3.8203125em;
  color: rgb(255, 255, 255);
}
.icon-logomi-prestamo-ya .path11:before {
  content: "\e914";
  margin-left: -3.8203125em;
  color: rgb(255, 255, 255);
}
.icon-logomi-prestamo-ya .path12:before {
  content: "\e915";
  margin-left: -3.8203125em;
  color: rgb(255, 255, 255);
}
.icon-logomi-prestamo-ya .path13:before {
  content: "\e916";
  margin-left: -3.8203125em;
  color: rgb(255, 255, 255);
}
.icon-logomi-prestamo-ya .path14:before {
  content: "\e917";
  margin-left: -3.8203125em;
  color: rgb(255, 255, 255);
}
.icon-logomi-prestamo-ya .path15:before {
  content: "\e918";
  margin-left: -3.8203125em;
  color: rgb(255, 255, 255);
}
.icon-ya:before {
  content: "\e91a";
  color: #fff;
}
.icon-youtube:before {
  content: "\e91b";
  color: #fff;
}
.icon-iconofacebook:before {
  content: "\e902";
}
.icon-iconotwitter:before {
  content: "\e908";
}
.icon-close:before {
  content: "\e605";
}
.icon-arrow-right:before {
  content: "\e606";
}
.icon-arrow-left:before {
  content: "\e607";
}
.icon-arrow-down:before {
  content: "\e608";
}
.icon-arrow-up:before {
  content: "\e609";
}
