@font-face {
    font-family: 'DIN-Alternate';
    src: url('../fonts/DIN-Alternate.eot');
    src: local('☺'), 
    url('../fonts/DIN-Alternate.woff') format('woff'), 
    url('../fonts/DIN-Alternate.ttf') format('truetype'), 
    url('../fonts/DIN-Alternate.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'DIN-Alternate-Bold';
    src: url('../fonts/DIN-Alternate-Bold.eot');
    src: local('☺'), 
        url('../fonts/DIN-Alternate-Bold.woff') format('woff'), 
        url('../fonts/DIN-Alternate-Bold.ttf') format('truetype'), 
        url('../fonts/DIN-Alternate-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINNextLTPro-Bold';
    src: url('../fonts/DINNextLTPro-Bold.eot');
    src: local('☺'), 
    url('../fonts/DINNextLTPro-Bold.woff') format('woff'), 
    url('../fonts/DINNextLTPro-Bold.ttf') format('truetype'), 
    url('../fonts/DINNextLTPro-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINNextLTPro-Heavy';
    src: url('../fonts/DINNextLTPro-Heavy.eot');
    src: local('☺'), 
        url('../fonts/DINNextLTPro-Heavy.woff') format('woff'), 
        url('../fonts/DINNextLTPro-Heavy.ttf') format('truetype'), 
        url('../fonts/DINNextLTPro-Heavy.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINNextLTPro-HeavyCondensed';
    src: url('../fonts/DINNextLTPro-HeavyCondensed.eot');
    src: local('☺'), 
    url('../fonts/DINNextLTPro-HeavyCondensed.woff') format('woff'), 
    url('../fonts/DINNextLTPro-HeavyCondensed.ttf') format('truetype'), 
    url('../fonts/DINNextLTPro-HeavyCondensed.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINNextLTPro-Italic';
    src: url('../fonts/DINNextLTPro-Italic.eot');
    src: local('☺'), 
    url('../fonts/DINNextLTPro-Italic.woff') format('woff'), 
    url('../fonts/DINNextLTPro-Italic.ttf') format('truetype'), 
    url('../fonts/DINNextLTPro-Italic.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINNextLTPro-Light';
    src: url('../fonts/DINNextLTPro-Light.eot');
    src: local('☺'), 
    url('../fonts/DINNextLTPro-Light.woff') format('woff'), 
    url('../fonts/DINNextLTPro-Light.ttf') format('truetype'), 
    url('../fonts/DINNextLTPro-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINNextLTPro-LightCondensed';
    src: url('../fonts/DINNextLTPro-LightCondensed.eot');
    src: local('☺'), 
        url('../fonts/DINNextLTPro-LightCondensed.woff') format('woff'), 
        url('../fonts/DINNextLTPro-LightCondensed.ttf') format('truetype'), 
        url('../fonts/DINNextLTPro-LightCondensed.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINNextLTPro-Medium';
    src: url('../fonts/DINNextLTPro-Medium.eot');
    src: local('☺'), 
        url('../fonts/DINNextLTPro-Medium.woff') format('woff'), 
        url('../fonts/DINNextLTPro-Medium.ttf') format('truetype'), 
        url('../fonts/DINNextLTPro-Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINNextLTPro-MediumItalic';
    src: url('../fonts/DINNextLTPro-MediumItalic.eot');
    src: local('☺'), 
    url('../fonts/DINNextLTPro-MediumItalic.woff') format('woff'), 
    url('../fonts/DINNextLTPro-MediumItalic.ttf') format('truetype'), 
    url('../fonts/DINNextLTPro-MediumItalic.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINNextLTPro-Regular';
    src: url('../fonts/DINNextLTPro-Regular.eot');
    src: local('☺'), 
    url('../fonts/DINNextLTPro-Regular.woff') format('woff'), 
    url('../fonts/DINNextLTPro-Regular.ttf') format('truetype'), 
    url('../fonts/DINNextLTPro-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINNextLTPro-UltraLight';
    src: url('../fonts/DINNextLTPro-UltraLight.eot');
    src: local('☺'), 
    url('../fonts/DINNextLTPro-UltraLight.woff') format('woff'), 
    url('../fonts/DINNextLTPro-UltraLight.ttf') format('truetype'), 
    url('../fonts/DINNextLTPro-UltraLight.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINNextRoundedLTPro-Light';
    src: url('../fonts/DINNextRoundedLTPro-Light.eot');
    src: local('☺'), 
    url('../fonts/DINNextRoundedLTPro-Light.woff') format('woff'), 
    url('../fonts/DINNextRoundedLTPro-Light.ttf') format('truetype'), 
    url('../fonts/DINNextRoundedLTPro-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINNextRoundedLTPro-Regular';
    src: url('../fonts/DINNextRoundedLTPro-Regular.eot');
    src: local('☺'), 
        url('../fonts/DINNextRoundedLTPro-Regular.woff') format('woff'), 
        url('../fonts/DINNextRoundedLTPro-Regular.ttf') format('truetype'), 
        url('../fonts/DINNextRoundedLTPro-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kalam-Regular';
    src: url('../fonts/Kalam-Regular.eot');
    src: local('☺'), 
    url('../fonts/Kalam-Regular.woff') format('woff'), 
    url('../fonts/Kalam-Regular.ttf') format('truetype'), 
    url('../fonts/Kalam-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}